<div class="container-sv">

  <!-- Left Bar -->

  <app-menu-family></app-menu-family>

  <!-- End Left Bar -->

  <app-alert-popup></app-alert-popup>

  <!-- CONTENT -->

  <div class="content-sv" id="TUDO">

      
    <div class="innercontent-sv">

      <div class="container-fluid p-0">
        <h2 *ngIf="auth.user && auth.user.subSector">{{ arr.sectorType[auth.user.subSector].text }}</h2>
        <hr class="line">
      </div>


      <!-- START CARDS -->
      <div class="num-columns-sv">

        <!---------------------------------------------->
        <div class="card-sv col-6-sv">
          <div class="card-content-sv">

            <div class="card-header-sv col-12-sv">
              <div class="col-3-sv">
                <h6>
                  <strong>{{ act.text?.address }}</strong>
                </h6>
              </div>

              <div *ngIf="act.address && act.address.street" class="card-bt-sv col-1-sv">
                <button class="btn btn-sm btn-light noMarginR"
                  (click)="act.openModal(mapModal, str.editLocation, act.address)">
                  <span class="fas fa-map-marked-alt"></span>
                </button>
              </div>
            </div>

            <div *ngIf="act.address && act.address.street else noAddress" class="col-12-sv"
              (click)="act.openModal(addressModal, str.editAddress, act.address)">
              <span class="mr-3">{{ act.address.street }}</span>
              <span class="mr-3"><strong>nº</strong> {{ act.address.number }}</span>
              <span class="mr-3"><strong>{{ act.text?.district }}:</strong> {{ act.address.district.name }}</span>
              <span class="mr-3"><strong>Cidade</strong>: {{ act.address.city.name + ' -'}}
                {{ arr.states[act.address.state].id}}</span>
              <span class="mr-3"><strong>{{ act.text?.reference }}:</strong> {{ act.address.reference }}</span>
            </div>

            <ng-template #noAddress>
              <button class="btn btn-primary" (click)="act.openModal(addressModal, str.editAddress, null)">
                {{ text.newAddress }}
              </button>
            </ng-template>

          </div>
        </div>

        <!---------------------------------------------->
        <div class="card-sv col-6-sv row-3-sv">
          <div class="card-content-sv">

            <div class="card-header-sv col-12-sv">
              <div class="col-3-sv">
                <h6>
                  <strong>{{ act.text?.note }}</strong>
                </h6>
              </div>

              <div class="card-bt-sv col-1-sv">
                <button class="btn btn-sm btn-light" (click)="act.openModal(noteModal, str.editNote, null)">
                  <span class="fas fa-plus"></span>
                </button>
                <button class="btn btn-sm btn-light"
                  (click)="act.routerToFamilyDataList(noteModal, str.editNote, act.notes, act.text?.note, str.note)">
                  <span class="fas fa-list"></span>
                </button>
              </div>
            </div>

            <div class="col-12-sv">
              <div *ngIf="act.notes.length > 0; else noNotes" class="col-12-sv">
                <div *ngFor="let note of act.notes | slice:0:4">
                  <app-item-note [note]="note" (click)="act.openModal(noteModal, str.editNote, note)"></app-item-note>
                </div>
              </div>
            </div>

            <!--- {{ act._notes | json }} -->
          </div>
        </div>

        <!---------------------------------------------->
        <div class="card-sv col-6-sv row-2-sv">
          <div class="card-content-sv">

            <div class="card-header-sv col-12-sv">
              <div class="col-3-sv">
                <h6>
                  <strong>{{ act.text?.familyComposition }}</strong>
                </h6>
              </div>

              <div class="card-bt-sv col-1-sv">
                <button *ngIf="act.oldFamilyId" class="btn btn-sm btn-light" (click)="act.getOldFamilyData(act.oldFamilyId)">
                  <span class="fas fa-file-archive"></span>
                </button>
                <button class="btn btn-sm btn-light" (click)="act.getReportFamily()">
                  <span class="fas fa-file-pdf"></span>
                </button>
                <button class="btn btn-sm btn-light" (click)="act.openModal(personModal, str.editPerson, null)">
                  <span class="fas fa-plus"></span>
                </button>
                <button class="btn btn-sm btn-light"
                  (click)="act.routerToFamilyDataList(personModal, str.editPerson, act.people, act.text?.familyComposition, str.person)">
                  <span class="fas fa-list"></span>
                </button>
              </div>
            </div>

            <div class="col-12-sv">
              <div *ngFor="let person of act.people | slice:0:10">
                <app-item-person [person]="person" (click)="act.openModal(personModal, str.editPerson, person)">
                </app-item-person>
              </div>
            </div>

          </div>
        </div>

        <!---------------------------------------------->
        <div *ngIf="auth.user?.roles.esRoute || auth.user?.roles.thanos" class="card-sv card-sv-box col-bt-sv row-sv">
          <button class="btn btn-primary btn-sv"
            (click)="act.routerToFamilyDataList(routeModal, str.editServiceRoute, act.routeList, act.text?.route, str.service)">
            <span class="fas fa-forward"></span>
            <div class="cont">{{ act.routeList.length }}</div>
          </button>
        </div>

        <!---------------------------------------------->
        <div *ngIf="auth.user?.roles.esAttendance || auth.user?.roles.thanos"
          class="card-sv card-sv-box col-bt-sv row-sv">
          <button class="btn btn-primary btn-sv"
            (click)="act.routerToFamilyDataList(attendanceModal, str.editServiceAttendance, act.attendanceList, act.text?.attendanceFD, str.service)">
            <span class="fas fa-address-card"></span>
            {{ act.attendanceList.length }}
          </button>
        </div>

        <!---------------------------------------------->
        <div *ngIf="auth.user?.roles.esReference || auth.user?.roles.thanos"
          class="card-sv card-sv-box col-bt-sv row-sv">
          <button class="btn btn-primary btn-sv"
            (click)="act.routerToFamilyDataList(referenceModal, str.editServiceReference, act.referencesList, act.text?.references, str.service)">
            <span class="fas fa-paperclip"></span>
            {{ act.referencesList.length }}
          </button>
        </div>

        <!---------------------------------------------->
        <div *ngIf="auth.user?.roles.esSchedule || auth.user?.roles.thanos"
          class="card-sv card-sv-box col-bt-sv row-sv">
          <button class="btn btn-primary btn-sv"
            (click)="act.routerToFamilyDataList(scheduleModal, str.editServiceSchedule, act.schedulesList, act.text?.scheduleAttendanceFD, str.service)">
            <span class="fas fa-marker"></span>
            {{ act.schedulesList.length }}
          </button>
        </div>

        <!---------------------------------------------->
        <div *ngIf="auth.user?.roles.esVisit || auth.user?.roles.thanos" class="card-sv card-sv-box col-bt-sv row-sv">
          <button class="btn btn-primary btn-sv"
            (click)="act.routerToFamilyDataList(visitModal, str.editServiceVisit, act.visitList, act.text?.visits, str.service)">
            <span class="fas fa-home"></span>
            {{ act.visitList.length }}
          </button>
        </div>

        <!---------------------------------------------->
        <div *ngIf="auth.user?.roles.esBenefit || auth.user?.roles.thanos" class="card-sv card-sv-box col-bt-sv row-sv">
          <button class="btn btn-primary btn-sv"
            (click)="act.routerToFamilyDataList(benefitModal, str.editServiceBenefit, act.benefitList, act.text?.benefitNav, str.service)">
            <span class="fas fa-hand-holding-usd"></span>
            {{ act.benefitList.length }}
          </button>
        </div>

        <!---------------------------------------------->
        <div *ngIf="auth.user?.roles.esGroup || auth.user?.roles.thanos" class="card-sv card-sv-box col-bt-sv row-sv">
          <button class="btn btn-primary btn-sv"
            (click)="act.routerToFamilyDataList(groupModal, str.editServiceGroup, act.groupsList, act.text?.group, str.service)">
            <span class="fas fa-users"></span>
            {{ act.groupsList.length }}
          </button>
        </div>

        <!---------------------------------------------->
        <div *ngIf="auth.user?.roles.esFsp || auth.user?.roles.thanos" class="card-sv card-sv-box col-bt-sv row-sv">
          <button class="btn btn-primary btn-sv"
            (click)="act.routerToFamilyDataList(fspModal, str.editServiceFsp, act.fspList, act.text?.fsp, str.service)">
            <span class="fas fa-user-friends"></span>
            {{ act.fspList.length }}
          </button>
        </div>

        <!---------------------------------------------->
        <div *ngIf="auth.user?.roles.esHc || auth.user?.roles.thanos" class="card-sv card-sv-box col-bt-sv row-sv">
          <button class="btn btn-primary btn-sv"
            (click)="act.routerToFamilyDataList(hcModal, str.editServiceHc, act.hcList, act.text?.hcProgram, str.service)">
            <span class="fas fa-smile-beam"></span>
            {{ act.hcList.length }}
          </button>
        </div>

        <!---------------------------------------------->
        <div *ngIf="auth.user?.roles.esOld|| auth.user?.roles.thanos" class="card-sv card-sv-box col-bt-sv row-sv">
          <button class="btn btn-primary btn-sv"
            (click)="act.routerToFamilyDataList(oldModal, str.editServiceOld, act.oldServiceList, act.text?.old, str.service)">
            <span class="fas fa-bed"></span>
            {{ act.oldServiceList.length }}
          </button>
        </div>

        <!---------------------------------------------->
        <div *ngIf="auth.user?.roles.esNotification || auth.user?.roles.thanos"
          class="card-sv card-sv-box col-bt-sv row-sv">
          <button class="btn btn-primary btn-sv"
            (click)="act.routerToFamilyDataList(notificationModal, str.editServiceNotification, act.notificationList, act.text?.notificationFD, str.service)">
            <span class="fas fa-bell"></span>
            {{ act.notificationList.length }}
          </button>
        </div>

        <!---------------------------------------------->
        <div *ngIf="auth.user?.roles.esTerm || auth.user?.roles.thanos" class="card-sv card-sv-box col-bt-sv row-sv">
          <button class="btn btn-primary btn-sv"
            (click)="act.routerToFamilyDataList(termModal, str.editServiceTerm, act.termList, act.text?.termFD, str.service)">
            <span class="fas fa-book"></span>
            {{ act.termList.length }}
          </button>
        </div>

        <!---------------------------------------------->
        <div *ngIf="auth.user?.roles.esDemand || auth.user?.roles.thanos" class="card-sv card-sv-box col-bt-sv row-sv">
          <button class="btn btn-primary btn-sv"
            (click)="act.routerToFamilyDataList(demandModal, str.editServiceDemand, act.demandList, act.text?.demandFD, str.service)">
            <span class="fas fa-list-alt"></span>
            {{ act.demandList.length }}
          </button>
        </div>

        <!---------------------------------------------->
        <div *ngIf="auth.user?.roles.esAcessuas || auth.user?.roles.thanos"
          class="card-sv card-sv-box col-bt-sv row-sv">
          <button class="btn btn-primary btn-sv"
            (click)="act.routerToFamilyDataList(acessuasModal, str.editServiceAcessuas, act.acessuasList, act.text?.acessuas, str.service)">
            <span class="fas fa-universal-access"></span>
            {{ act.acessuasList.length }}
          </button>
        </div>

        <!---------------------------------------------->
        <div *ngIf="auth.user?.roles.esAepeti || auth.user?.roles.thanos" class="card-sv card-sv-box col-bt-sv row-sv">
          <button class="btn btn-primary btn-sv"
            (click)="act.routerToFamilyDataList(aepetiModal, str.editServiceAepeti, act.aepetiList, act.text?.aepeti, str.service)">
            <span class="fas fa-tired"></span>
            {{ act.aepetiList.length }}
          </button>
        </div>

        <!---------------------------------------------->
        <div *ngIf="auth.user?.roles.esCondition|| auth.user?.roles.thanos"
          class="card-sv card-sv-box col-bt-sv row-sv">
          <button class="btn btn-primary btn-sv"
            (click)="act.routerToFamilyDataList(conditionModal, str.editServiceCondition, act.conditionList, act.text?.condition, str.service)">
            <span class="fas fa-people-carry"></span>
            {{ act.conditionList.length }}
          </button>
        </div>

        <!---------------------------------------------->
        <div *ngIf="auth.user?.roles.esComplaint || auth.user?.roles.thanos"
          class="card-sv card-sv-box col-bt-sv row-sv">
          <button class="btn btn-primary btn-sv"
            (click)="act.routerToFamilyDataList(complaintModal, str.editServiceComplaint, act.complaintList, act.text?.complaint, str.service)">
            <span class="fas fa-bullhorn"></span>
            {{ act.complaintList.length }}
          </button>
        </div>

        <!---------------------------------------------->
        <div *ngIf="auth.user?.roles.esPendancy || auth.user?.roles.thanos"
          class="card-sv card-sv-box col-bt-sv row-sv">
          <button class="btn btn-primary btn-sv"
            (click)="act.routerToFamilyDataList(pendencyModal, str.editServicePendency, act.pendencyList, act.text?.pendency, str.service)">
            <span class="fas fa-exclamation-triangle"></span>
            {{ act.pendencyList.length }}
          </button>
        </div>

        <!---------------------------------------------->
        <div *ngIf="auth.user?.roles.esInterview || auth.user?.roles.thanos"
          class="card-sv card-sv-box col-bt-sv row-sv">
          <button class="btn btn-primary btn-sv"
            (click)="act.routerToFamilyDataList(interviewModal, str.editServiceInterview, act.interviewList, act.text?.interview, str.service)">
            <span class="fas fa-pen-alt"></span>
            {{ act.interviewList.length }}
          </button>
        </div>

        <!---------------------------------------------->
        <div *ngIf="auth.user?.roles.esFpgb || auth.user?.roles.thanos" class="card-sv card-sv-box col-bt-sv row-sv">
          <button class="btn btn-primary btn-sv"
            (click)="act.routerToFamilyDataList(fpgbModal, str.editServiceFpgb, act.fpgbList, act.text?.fpgb, str.service)">
            <span class="fas fa-money-check"></span>
            {{ act.fpgbList.length }}
          </button>
        </div>

        <!---------------------------------------------->
        <div *ngIf="auth.user?.roles.esMilk || auth.user?.roles.thanos" class="card-sv card-sv-box col-bt-sv row-sv">
          <button class="btn btn-primary btn-sv"
            (click)="act.routerToFamilyDataList(milkModal, str.editServiceMilk, act.milkList, act.text?.milkFD, str.service)">
            <span class="fas fa-wine-glass-alt"></span>
            {{ act.milkList.length }}
          </button>
        </div>

        <!---------------------------------------------->
        <div *ngIf="auth.user?.roles.esScfv || auth.user?.roles.thanos" class="card-sv card-sv-box col-bt-sv row-sv">
          <button class="btn btn-primary btn-sv"
            (click)="act.routerToFamilyDataList(scfvModal, str.editServiceScfv, act.scfvList, act.text?.scfv, str.service)">
            <span class="fas fa-handshake"></span>
            {{ act.scfvList.length }}
          </button>
        </div>


      </div>
      <!-- END CARDS -->
      
      <ng-template #noNotes>
        {{ act.text?.noNotes }}
      </ng-template>

      <ng-template #mapModal>
        <app-google-map (confirm)="act.onConfirm(str.editLocation, false)"></app-google-map>
      </ng-template>

      <ng-template #addressModal>
        <app-edit-address (confirm)="act.onConfirm(str.editAddress, false)"></app-edit-address>
      </ng-template>

      <ng-template #personModal>
        <app-edit-person (confirm)="act.onConfirm(str.editPerson, false)"></app-edit-person>
      </ng-template>

      <ng-template #noteModal>
        <app-edit-note (confirm)="act.onConfirm(str.editNote, false)"></app-edit-note>
      </ng-template>

      <ng-template #routeModal>
        <app-edit-route (confirm)="act.onConfirm(str.editServiceRoute, false)"></app-edit-route>
      </ng-template>

      <ng-template #visitModal>
        <app-edit-visit (confirm)="act.onConfirm(str.editServiceVisit, false)"></app-edit-visit>
      </ng-template>

      <ng-template #groupModal>
        <app-set-group (confirm)="act.onConfirm(str.editServiceGroup, false)"></app-set-group>
      </ng-template>

      <ng-template #benefitModal>
        <app-edit-benefit (confirm)="act.onConfirm(str.editServiceBenefit, false)"></app-edit-benefit>
      </ng-template>

      <ng-template #referenceModal>
        <app-edit-reference (confirm)="act.onConfirm(str.editServiceReference, falset)"></app-edit-reference>
      </ng-template>

      <ng-template #attendanceModal>
        <app-edit-attendance (confirm)="act.onConfirm(str.editServiceAttendance, false)"></app-edit-attendance>
      </ng-template>

      <ng-template #scheduleModal>
        <app-edit-schedule-attendance (confirm)="act.onConfirm(str.editServiceSchedule, false)">
        </app-edit-schedule-attendance>
      </ng-template>

      <ng-template #fspModal>
        <app-edit-fsp (confirm)="act.onConfirm(str.editServiceFsp, false)"></app-edit-fsp>
      </ng-template>

      <ng-template #hcModal>
        <app-edit-happy-child (confirm)="act.onConfirm(str.editServiceHc, false)"></app-edit-happy-child>
      </ng-template>

      <ng-template #oldModal>
        <app-edit-old-service (confirm)="act.onConfirm(str.editServiceOld, false)"></app-edit-old-service>
      </ng-template>

      <ng-template #notificationModal>
        <app-edit-notification (confirm)="act.onConfirm(str.editServiceNotification, false)"></app-edit-notification>
      </ng-template>

      <ng-template #termModal>
        <app-edit-term (confirm)="act.onConfirm(str.editServiceTerm, false)"></app-edit-term>
      </ng-template>

      <ng-template #demandModal>
        <app-edit-demand (confirm)="act.onConfirm(str.editServiceDemand, false)"></app-edit-demand>
      </ng-template>

      <ng-template #acessuasModal>
        <app-edit-acessuas (confirm)="act.onConfirm(str.editServiceAcessuas, false)"></app-edit-acessuas>
      </ng-template>

      <ng-template #aepetiModal>
        <app-edit-aepeti (confirm)="act.onConfirm(str.editServiceAepeti, false)"></app-edit-aepeti>
      </ng-template>

      <ng-template #conditionModal>
        <app-edit-condition (confirm)="act.onConfirm(str.editServiceCondition, false)"></app-edit-condition>
      </ng-template>

      <ng-template #complaintModal>
        <app-edit-complaint (confirm)="act.onConfirm(str.editServiceComplaint, false)"></app-edit-complaint>
      </ng-template>

      <ng-template #interviewModal>
        <app-edit-interview (confirm)="act.onConfirm(str.editServiceInterview, false)"></app-edit-interview>
      </ng-template>

      <ng-template #fpgbModal>
        <app-edit-fpgb (confirm)="act.onConfirm(str.editServiceFpgb, false)"></app-edit-fpgb>
      </ng-template>

      <ng-template #milkModal>
        <app-edit-milk-service (confirm)="act.onConfirm(str.editServiceMilk, false)"></app-edit-milk-service>
      </ng-template>

      <ng-template #scfvModal>
        <app-edit-scfv (confirm)="act.onConfirm(str.editServiceScfv, false)"></app-edit-scfv>
      </ng-template>

      <ng-template #pendencyModal>
        <app-edit-pendency (confirm)="act.onConfirm(str.editServicePendency, false)"></app-edit-pendency>
      </ng-template>

      <ng-template #dialog>
        <app-confirm-dialog [message]="act.text?.confirmUpdates" (confirm)="act.onConfirmDialog()"
          (cancel)="act.onCancelDialog()"></app-confirm-dialog>
      </ng-template>

      <router-outlet></router-outlet>
    </div>
  </div>

  <!-- End CONTENT -->

</div>