<label><strong>{{ label }}</strong></label><br>
<div *ngFor="let item of array; let i = index" class="custom-control custom-radio custom-control-inline">
    <input type="radio" id="item{{i}}" name="radio" class="custom-control-input" (change)="optionSelected(i)"
        [value]="item.text" [checked]="item.index == index" [required]="required">
    <label for="item{{i}}" class="custom-control-label">{{item.text}}</label>
</div>