<div class="container-sv">
  <form #f="ngForm" class="was-validated">

    <h5>{{ act.text?.contact }}</h5>
    <hr>

    <div class="form-row">
      <div class="form-group col-lg-5">
        <label for="houseType"><strong>{{ act.text?.houseType }}</strong></label>
        <input type="text" id="houseType" class="form-control" name="houseType" placeholder="{{ act.text?.typeSomething }}"
        autocomplete="off" required>
      </div>

      <div class="form-group col-lg-7">
        <label for="sector"><strong>{{ act.text?.sector }}</strong></label>
        <input type="text" id="sector" class="form-control" name="sector" placeholder="{{ act.text?.typeSomething }}"
          autocomplete="off" required>
      </div>

      <div class="form-group col-lg-8">
        <label for="employee"><strong>{{ act.text?.employee }}</strong></label>
        <input type="text" id="employee" class="form-control" name="employee" placeholder="{{ act.text?.typeSomething }}"
          autocomplete="off" required>
      </div>

      <div class="form-group col-lg-12">
        <label for="reason"><strong>{{ act.text?.message }}</strong></label>
        <textarea rows="4" cols="50" class="form-control" name="reason" placeholder="{{ act.text?.typeSomething }}" required></textarea>
      </div>
    </div>

  </form>

  <div class="form-row sv">
    <div class="col">
      <small>{{ act.text?.requiredField }}</small>
    </div>
    <div class="col-9">
      <button type="submit" [disabled]="!f.form.valid" class="btn btn-primary">{{ act.text?.send }}</button>
    </div>
  </div>

</div>