<div class="content">

  <!-- Set "A5", "A4" or "A3" for class name -->
  <!-- Set also "landscape" if you need -->
  <div class="A4">

    <!-- Each sheet element should have the class "sheet" -->
    <!-- "padding-**mm" is optional: you can set 10, 15, 20 or 25 -->
    <section class="sheet padding-10mm">

      <!-- Write HTML just like a web page -->

      <!--------------------------- HEADER ---------------------------------->
      <div class="header-sv">
        <div class="row-sv mb-sv-none">
          <div class="col-sv">
            <span class="name bold">Ficha de visita domiciliar</span> <br>
            <span class="name bold">CRIANÇA FELIZ - CRAS</span> <br>
            <span class="print-date">Emitida em: 15/12/2020 22:04</span>
          </div>
          <div class="col-sv text-right-sv">
            <img src="" width="100" height="100">
            <img class="ml-sv-2" src="" width="100" height="100">
          </div>
        </div>
      </div>

      <!--------------------------- CONTENT ---------------------------------->
      <div class="content-sheet">

        <div class="row-sv mb-sv-none">
          <div class="col-sv">
            <div class="title-sv">
              <span class="bold">Criança Feliz</span>
            </div>
          </div>
        </div>

        <div class="row-sv mb-sv-none">

          <div class="col-sv start-date"><strong>Data de Início:</strong> 25/05/2019</div>
          <div class="col-sv col-auto"><strong>Tecnico:</strong> GIMAILTON CARLOS SOUSA DO NASCIMENTO</div>
          <div class="col-sv"><strong>Ultima Visita:</strong> 03/06/2019</div>

        </div>

        <div class="row-sv mb-sv-none">
          <div class="col-sv">
            <strong>Necesiddades:</strong> <br>
            Crinaça não desenvolve habiliades motoras correspondentes com a idade
          </div>
        </div>

        <div class="row-sv mb-sv-none">
          <div class="col-sv">
            <div class="title-sv">
              <span class="bold">Dados da família</span>
            </div>
          </div>
        </div>

        <div class="row-sv mb-sv-none">

          <div class="col-sv">
            <strong>Responsável:</strong> GIMAILTON CARLOS SOUSA DO NASCIMENTO FILHO <br>
            <strong>Data de nascimento:</strong> 20/15/1980 <br>
            <strong>CPF:</strong> 080.792.755-48 <br>
            <strong>Celular:</strong> (75) 9 9854-5487 <br>
            <strong>Endereço:</strong> AVENIDA JACOBINA, SN, AGUA NOVA
          </div>

          <div class="col-sv">
            <strong>Apelido:</strong> BIGODE <br>
            <strong>Sexo:</strong> FEMININO <br>
            <strong>NIS:</strong> 162.85336.89-0 <br>
            <strong>Referencia:</strong> EM FRENTE A PISTA
          </div>

        </div>

        <div class="row-sv mb-sv-none">
          <div class="col-sv">
            <div class="title-sv">
              <span class="bold">Membros Aconpanhados</span>
            </div>
          </div>
        </div>

        <div class="row-sv mb-sv-none">
          <div class="col-sv">

            <table class="table table-sm">
              <tbody>

                <tr>
                  <td>Nome</td>
                  <td class="nis">Nis</td>
                  <td class="kinship">Parentesco</td>
                  <td class="public">Púlblico</td>
                </tr>

                <tr>
                  <td>ALGUEM DA SILVA</td>
                  <td>222.22222.22-2</td>
                  <td>RESPONSAVEL FAMILIAR</td>
                  <td class="public">0-3 ANOS BF</td>
                </tr>

                <tr>
                  <td>BENTO MOURA DA SILVA</td>
                  <td>111.11111.11-11</td>
                  <td>FILHO(A)</td>
                  <td class="public">0-3 ANOS BF</td>
                </tr>

              </tbody>
            </table>

          </div>
        </div>

        <div class="row-sv mb-sv-none">
          <div class="col-sv">
            <div class="title-sv">
              <span class="bold">Observações</span>
            </div>
          </div>
        </div>

        <div class="row-sv">
          <div class="col-sv">
            __________________________________________________________________________________________________________________________________
            __________________________________________________________________________________________________________________________________
            __________________________________________________________________________________________________________________________________
            __________________________________________________________________________________________________________________________________
            __________________________________________________________________________________________________________________________________
          </div>
        </div>

      </div>

      <!--------------------------- FOOTER ---------------------------------->
      <div class="footer-sv">
        <div class="row-sv mb-sv-none">
          <div class="col-sv ft-1 col-2">Secretaria de <br> Assistência Social</div>

          <div class="col-sv">CAPIM GROSSO - BA <br> CNPJ: 13.230.982/0001-50</div>

          <div class="col-sv ft-3">Rua Luiz Gonzaga, SN, Nova Morada <br> CEP: 44695-000</div>

          <div class="col-sv mt-2">© SIMVIS 3.0</div>

          <div class="col-sv ft-5 mt-2">1/10</div>
        </div>
      </div>

    </section>

  </div>

</div>