<div class="container-sv">
  <form #f="ngForm" class="was-validated">

    <div class="row">
      <div class="col">
        <h5 class="align-self-center">{{ act.text?.frequency }}</h5>
      </div>
      <div class="col-md-auto text-right margin-button">
        <button type="submit" class="btn btn-primary text-right"
          (click)="act.openModal(newCoreModal, str.newCore, null)">{{ act.text?.newCore }}</button>
        <button type="button" class="btn btn-primary" (click)="act.listCoresToCity()">{{ act.text?.listCores }}</button>
      </div>
    </div>

    <hr class="mt-1">

    <label for="houseType"><strong>{{ act.text?.core }}</strong></label>

    <div *ngIf="act.cores.length">

      <div *ngFor="let core of act.cores" class="form-row mt-10 cursor-pointer lists" >

        <div class="col align-self-center">
          <div class="form-group m-0" (click)="act.openModal(frequencyModal, str.editCoreMeet, core)">
            <span class="fas fa-circle mr-2 text-black-50"></span> <label
              class="text-dark text-capitalize cursor-pointer"><strong>{{ core.name }}</strong></label>
          </div>
        </div>

        <div class="col-md-auto text-right margin-button">
          <button (click)="act.routerToScfvMeetList(core)" class="btn btn-info btn-sm" title="Lista de presença"><span
              class="fas fa-file-signature"></span></button>

          <button (click)="act.routerToScfvReport(core)" class="btn btn-info btn-sm" title="Relatório"><span
              class="fas fa-file-pdf"></span></button>

              <button (click)="act.sheetListPeopleGroup(core, node.corePeople, sheetListPeople)" class="btn btn-info btn-sm"
              title="{{ act.text?.listPeople }}"><span class="fas fa-user-edit"></span></button>
        </div>

      </div>

    </div>

  </form>

</div>

<ng-template #newCoreModal>
  <app-new-core (confirm)="act.onConfirm(str.newCore, false)"></app-new-core>
</ng-template>

<ng-template #frequencyModal>
  <app-scvf-frequency (confirm)="act.onConfirm(str.registerCoreMeet, false)"></app-scvf-frequency>
</ng-template>

<ng-template #sheetListPeople>
  <app-report-people-list></app-report-people-list>
</ng-template>