<div class="navbar-sv">

  <div class="name-logo">
    <a routerLink="/dashboard/content">{{ act.text?.titleSite }}</a>
  </div>

  <div class="btnMenu-sv">
    <input type="checkbox" id="toggle" (click)="act.openMenu()">
    <label for="toggle"><span class="fas fa-bars"></span></label>
  </div>

  <div class="d-flex scroll">

    <div class="navbtnL-sv">
      <div>
        <a id="searchBtn" title="Pesquisar" (click)="act.searchDiv = !act.searchDiv">
          <span class="fas fa-search font-size1"></span>
        </a>
      </div>

      <div class="div">
        <a *ngIf="auth.user?.roles.editFamily || auth.user?.roles.thanos" routerLink="family" title="Adicionar"><span
            class="fas fa-plus font-size1"></span></a>
      </div>

      <div class="bottom-help">
        <a routerLink="/dashboard" title="Ajuda">
          <span class="fas fa-question-circle"></span>
        </a>
      </div>

      <div class="bottom-perfil">
        <a routerLink="profile" title="Perfil">
          <span class="fas fa-user-circle font-size2"></span>
        </a>
      </div>

    </div>

    <div class="navbtnR-sv">
      <div class="nav flex-column nav-link-sv">

        <a *ngIf="auth.user?.roles.esGroup || auth.user?.roles.thanos" routerLink="group">
          <div class="space">
            <span class="fas fa-users"></span>
          </div>
          {{ act.text?.group }}
        </a>

        <a *ngIf="auth.user?.roles.editReport || auth.user?.roles.thanos" routerLink="report">
          <div class="space">
            <span class="fas fa-file-alt"></span>
          </div>
          {{ act.text?.report }}
        </a>

        <a *ngIf="auth.user?.roles.editUser || auth.user?.roles.thanos" routerLink="users">
          <div class="space">
            <span class="fas fa-user-friends"></span>
          </div>
          {{ act.text?.users }}
        </a>

        <!-- <a *ngIf="auth.user?.roles.editSms || auth.user?.roles.thanos" routerLink="sms">
          <div class="space">
            <span class="fas fa-comment"></span>
          </div>
          {{ act.text?.sms }}
        </a> -->

        <a *ngIf="auth.user?.roles.esScfv || auth.user?.roles.thanos" routerLink="frequency">
          <div class="space">
            <span class="fas fa-calendar-check"></span>
          </div>
          {{ act.text?.frequency }}
        </a>

        <a *ngIf="auth.user?.roles.editCity || auth.user?.roles.thanos" routerLink="city">
          <div class="space">
            <span class="fas fa-hospital-alt"></span>
          </div>
          {{ act.text?.city }}
        </a>

        <a *ngIf="auth.user?.roles.editDistrict || auth.user?.roles.thanos" routerLink="district">
          <div class="space">
            <span class="fas fa-map-signs"></span>
          </div>
          {{ act.text?.district }}
        </a>

        <a *ngIf="auth.user?.roles.editPsf || auth.user?.roles.thanos" routerLink="psf">
          <div class="space">
            <span class="fas fa-map-signs"></span>
          </div>
          {{ act.text?.psfText }}
        </a>

      </div>
    </div>

  </div>

</div>

<div *ngIf="act.searchDiv">
  <app-search></app-search>
</div>