<div class="modal-header">
  <h5 class="modal-title">{{ act.text?.attendance }}</h5>
  <div *ngIf="act.doc.uid">
    <i class="p-1 ml-2 bg-warning text-dark rounded font-weight-bold">{{ arr.status[act.doc.status].text }}</i>
  </div>
  <button type="button" class="close" aria-label="Close" (click)="act.onCancel()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">

  <form (ngSubmit)="onSubmit(f.form.valid)" #f="ngForm" class="was-validated">
    <div class="form-row">
      <div class="form-group col-12">

        <div class="form-row">
          <div class="col align-self-center">
            <label for="date"><strong>{{ act.text?.attendanceDate }}</strong></label>
          </div>
          <div class="col">
            <input type="text" id="date" name="pickedDate" class="form-control" [minDate]="act.minDate"
              placement="bottom" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY', containerClass: 'theme-dark-blue' }"
              bsDatepicker [ngModel]="act.doc.pickedDate | date:'dd-MM-yyyy'"
              (ngModelChange)="act.doc.pickedDate=$event" autocomplete="off" required>
          </div>
        </div>

      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-6">
        <label><strong>{{ act.text?.attendedPerson }}</strong></label>
        <select name="person" id="person" (change)="act.setPersonByIndex2(act.people[$event.target.value])"
          class="custom-select" required>
          <option *ngFor="let person of act.people; let i = index" [value]="i"
            [selected]="act.doc.person.uid == person.uid">
            {{ person.name }}
          </option>
        </select>


      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-12">
        <label for="access"><strong>{{ act.text?.access }}</strong></label>
        <select name="access" id="access" [ngModel]="act.doc.accessForm"
          (change)="act.doc.accessForm == act.parseInt($event.target.value)" class="custom-select" required>
          <option *ngFor="let access of arr.accessType" [value]="access.index">
            {{ access.text }}
          </option>
        </select>
      </div>
    </div>

    <!-- START ENTRADA -------------------------------------->
    <div class="form-row">
      <div class="form-group col-12">

        <div class="form-row">
          <div class="col align-self-center text-center">
            <label for="input"><strong>{{ act.text?.input }}</strong></label>
          </div>
          <div class="col">
            <select name="input" id="input" (change)="act.showSpecIn($event.target.value, arr.inputType, str.attendance);
              act.doc.input.type = act.parseInt($event.target.value)" class="custom-select" required>
              <option *ngFor="let input of arr.inputType" [value]="input.index">
                {{ input.text }}
              </option>
            </select>
          </div>
        </div>

      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-12">
        <label for="detail-six"><strong>{{ act.text?.specifyAttendance }}</strong></label>
        <select name="detail-six" id="detail-six" [ngModel]="act.doc.input.detail"
          (change)="act.doc.input.detail = act.parseInt($event.target.value)" class="custom-select" required>
          <option *ngFor="let detail of act.nestedList" [value]="detail.index">
            {{ detail.text}}
          </option>
        </select>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-12">
        <label for="info"><strong>{{ act.text?.infoC }}</strong> <span
            class="ml-2 cursor-pointer text-primary fas fa-plus" (click)="act.hide[0] = !act.hide[0]"></span></label>

        <div id="infoCE" *ngIf="act.hide[0]">

          <div *ngFor="let info of act.nestedList; let i = index">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" id="{{ info.text }}" name="{{ info.text }}" class="custom-control-input"
                (change)="act.updateArr2(info, act.doc.extraInput)" [checked]="act.indexOf2(info, act.doc.extraInput)">
              <label for="{{ info.text }}" class="custom-control-label">{{ info.text }}</label>
            </div>
          </div>

        </div>

      </div>
    </div>


    <!-- END ENTRADA -------------------------------------->


    <!-- START SAIDA -------------------------------------->
    <div class="form-row">
      <div class="form-group col-12">

        <div class="form-row">
          <div class="col align-self-center text-center">
            <label for="output"><strong>{{ act.text?.output }}</strong></label>
          </div>
          <div class="col">
            <select name="output" id="output" (change)="act.showSpecOut($event.target.value, arr.outputType, str.attendance);
              act.doc.output.type = act.parseInt($event.target.value)" class="custom-select" required>
              <option *ngFor="let output of arr.outputType" [value]="output.index">
                {{ output.text }}
              </option>
            </select>
          </div>
        </div>

      </div>
    </div>

    <div *ngIf="act.nestedList2.length">

      <div class="form-row">
        <div class="form-group col-12">
          <label for="detail-one"><strong>{{ act.text?.specifyAttendance }}</strong></label>
          <select name="detail-one" id="detail-one" [ngModel]="act.doc.output.detail"
            (change)="act.doc.output.detail = act.parseInt($event.target.value)" class="custom-select" required>
            <option *ngFor="let detail of act.nestedList2" [value]="detail.index">
              {{ detail.text }}
            </option>
          </select>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-12">
          <label for="info"><strong>{{ act.text?.infoC }}</strong> <span
              class="ml-2 cursor-pointer text-primary fas fa-plus" (click)="act.hide[1] = !act.hide[1]"></span></label>

          <div id="infoCS" *ngIf="act.hide[1]">

            <div *ngFor="let info of act.nestedList2; let i = index">
              <div class="custom-control custom-checkbox">
                <input type="checkbox" id="{{ info.text }}" name="{{ info.text }}" class="custom-control-input"
                  (change)="act.updateArr2(info, act.doc.extraOutput)"
                  [checked]="act.indexOf2(info, act.doc.extraOutput)">
                <label for="{{ info.text }}" class="custom-control-label">{{ info.text }}</label>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>

    <!-- END SAIDA -------------------------------------->


    <div class="form-row">
      <div class="form-group col-12">
        <label for="detail"><strong>{{ act.text?.detail }}</strong></label>
        <textarea rows="3" cols="50" id="detail" class="form-control" name="detail" [(ngModel)]="act.doc.detail"
          placeholder="{{ act.text?.typeSomething }}" required></textarea>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-8">
        <label for="visitor-simvis"><strong>{{ act.text?.visitor }}</strong></label>
        <input list="brow" name="visitor-simvis" [(ngModel)]="act.doc.professional.info"
          (keyup)="act.findInDataset($event.target.value, act.users); act.setProfessional($event.target.value, 0)"
          class="form-control" autocomplete="off">
        <datalist id="brow">
          <div *ngFor="let u of act.listUser; let i = index">
            <option *ngIf="i <= 6" [id]="u.fullName" [value]="u.fullName">{{ u.fullName }}</option>>
          </div>
        </datalist>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-12">
        <div *ngIf="act._doc.listUser">
          <div *ngFor="let user of act._doc.listUser">
            <a
              (click)="act.updateArrByUid(act.cloneDeep(user), act._doc.listUser)">{{ user.info + ' (' + act.text?.delete + ')' }}</a>
          </div>
        </div>
      </div>
    </div>


    <div class="form-row">
      <div class="form-group col-12">
        <button type="button" class="btn btn-primary btn-sm ml-2" (click)="act.updateArrByUid(act.cloneDeep(act._doc.professional), act._doc.listUser);
          act.cleanProfessional(0); act.findInDataset('', act.listUser)"><span class="fas fa-plus"></span></button>
      </div>
    </div>

  </form>

</div>

<app-footer [valid]="f.form.valid && act.valid[0]" [action]="str.editServiceAttendance"></app-footer>