<div class="modal-header">
  <h5 class="modal-title">{{ act.text?.newCore }}</h5>
  <button type="button" class="close" aria-label="Close" (click)="act.onCancel()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">

  <form (ngSubmit)="onSubmit(f.form.valid)" #f="ngForm" class="was-validated">

    <div class="form-row">
      <div class="form-group col-12">

        <div class="form-row">
          <div class="col-2 align-self-center">
            <label for="name"><strong>{{ act.text?.name }}</strong></label>
          </div>
          <div class="col">
            <input type="text" name="name" [(ngModel)]="act.doc.name" class="form-control" placeholder="{{ act.text?.typeSomething }}" 
              autocomplete="off" required>
          </div>
        </div>

      </div>
    </div>

  </form>

</div>

<div class="modal-footer">

  <div class="col">
    <small>{{ act.text?.requiredField }}</small>
  </div>

  <div class="col-9">
    <button type="button" (click)="onSubmit(f.form.valid)" [disabled]="!f.form.valid" class="btn btn-primary">{{ act.text?.ok
      }}</button>
    <button type="button" (click)="act.onCancel()" class="btn btn-secondary">{{ act.text?.cancel }}</button>
  </div>

</div>