<div class="modal-header">
  <h5 class="modal-title" *ngIf="title != undefined">{{ title }}</h5>
  <button type="button" class="close" aria-label="Close" (click)="act.onCancelDialog()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>


<div class="modal-body">

  <div *ngIf="message != undefined">
    <h5>{{ message }}</h5>
  </div>

</div> 


<div class="modal-footer">

  <button (click)="ok()" class="btn btn-primary">{{ act.text?.ok }}</button>
  <button (click)="act.onCancelDialog()" class="btn btn-primary">{{ act.text?.cancel }}</button>

</div>