<div class="modal-footer">
  <div class="col">
    <small>{{ act.text?.requiredField }}</small>
  </div>

  <div class="col-9">
    <div *ngIf="hasSwitch" class="switch">
      <div class="custom-control custom-switch">
        <input *ngIf="!active else setActive" type="checkbox" class="custom-control-input" id="customSwitch1"
          (change)="act.setStatus(statusValue, $event.target.checked)">

        <label class="custom-control-label" for="customSwitch1">{{ label }}</label>
      </div>
    </div>

    <button *ngIf="act.doc.status != statusValue" type=" button" (click)="onSubmit(valid)"
      class="btn btn-primary">{{ act.text?.ok }}</button>

    <button type="button" (click)="act.onCancel()" class="btn btn-secondary">{{ act.text?.cancel }}</button>
  </div>


</div>

<ng-template #setActive>
  <input *ngIf="actType == 'default'" type="checkbox" class="custom-control-input" id="customSwitch1"
    (change)="act.setStatus(statusValue, $event.target.checked); act.setActive($event.target.checked)">
  <input *ngIf="actType == 'visit'" type="checkbox" class="custom-control-input" id="customSwitch1" (change)="act.setStatus(statusValue, $event.target.checked); act.setActive($event.target.checked);
    act.hideProfessional(0, $event.target.checked)">
</ng-template>