<div class="modal-header">
    <h5 class="modal-title">{{ act.text?.familyComposition }}</h5>
    <button type="button" class="close" aria-label="Close" (click)="act.onCancel()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body">

    <form #f="ngForm" class="was-validated">
        <div class="form-row">
            <div class="form-group col-12">
                <label for="name"><strong>{{ act.text?.name }}</strong></label>
                <input type="text" id="name" name="name" class="form-control" [(ngModel)]="act.doc.name"
                    placeholder="{{ act.text?.typeSomething }}" #name="ngModel" autocomplete="off" required>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-6">
                <app-radio (changeOption)="act.doc.gender = act.parseInt($event)" [label]="act.text.gender"
                              [index]="act.doc.gender" [array]="arr.gender">
                        </app-radio>

            </div>

            <div class="form-group col-6">
                <label for="kinship"><strong>{{ act.text?.kinship }}</strong></label>
                <select name="kinship" id="kinship" [ngModel]="act.doc.kinship"
                    (change)="act.checkKinship($event.target.value);act.doc.kinship = act.parseInt($event.target.value)" class="custom-select" required>
                    <option *ngFor="let k of arr.kinshipType" [value]="k.index">
                        {{ k.text }}
                    </option>
                </select>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-6">
                <label for="birthday"><strong>{{ act.text?.birthday }}</strong></label>
                <input type="text" name="birthday" id="birthday" class="form-control" [minDate]="act.minDate"
                    [maxDate]="act.maxDate" placement="right"
                    [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY', containerClass: 'theme-dark-blue' }" bsDatepicker
                    [ngModel]="act.doc.birthday | date:'dd-MM-yyyy'" (ngModelChange)="act.doc.birthday=$event"
                    autocomplete="off" required>
            </div>

            <div class="form-group col-6">
                <label for="nickname"><strong>{{ act.text?.nickname }}</strong></label>
                <input type="text" id="nickname" name="nickname" class="form-control" [(ngModel)]="act.doc.nickname"
                    placeholder="{{ act.text?.typeSomething }}" autocomplete="off">
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-6">
                <label for="cpf"><strong>{{ act.text?.cpf }}</strong></label>
                <input type="text" id="cpf" name="cpf" class="form-control" [(ngModel)]="act.doc.cpf"
                    (keyup)="act.checkDocPerson2(act.doc.cpf, act.text?.cpf, 0)" placeholder="{{ act.text?.typeSomething }}"
                    mask="000.000.000-00" minlength="11" [required]="!act.doc.nis" autocomplete="off">
            </div>

            <div class="form-group col-6">
                <label for="rg"><strong>{{ act.text?.rg }}</strong></label>
                <input type="text" name="rg" id="rg" class="form-control" [(ngModel)]="act.doc.rg"
                    placeholder="{{ act.text?.typeSomething }}" mask="0*" autocomplete="off" required>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-6">
                <label for="nis"><strong>{{ act.text?.nis }}</strong></label>
                <input type="text" name="nis" id="nis" class="form-control" [(ngModel)]="act.doc.nis"
                    (keyup)="act.checkDocPerson2(act.doc.nis, act.text?.nis, 1)" placeholder="{{ act.text?.typeSomething }}"
                    mask="000.00000.00-0" minlength="11" [required]="!act.doc.cpf" autocomplete="off">
            </div>

            <div *ngIf="act.doc.kinship == 11" class="form-group col-6">
                <label for="income"><strong>{{ act.text?.income }}</strong></label>
                <input type="text" id="income" class="form-control" name="income" [(ngModel)]="act.doc.income"
                    placeholder="{{ act.text?.typeSomething }}" [dropSpecialCharacters]="false" mask="dot_separator.2"
                    autocomplete="off" required>
            </div>
        </div>

        <div class="form-row">
            <div *ngIf="act.doc.kinship == 11" class="form-group col-6">
                <label for="job"><strong>{{ act.text?.job }}</strong></label>
                <input type="text" id="job" class="form-control" name="job" [(ngModel)]="act.doc.job"
                    placeholder="{{ act.text?.typeSomething }}" autocomplete="off" required>
            </div>

            <div class="form-group col-6">
                <label for="phone"><strong>{{ act.text?.phone }}</strong></label>
                <input type="text" id="phone" name="phoneNum" class="form-control" [(ngModel)]="act.doc.phoneNum"
                    placeholder="{{ act.text?.typeSomething }}" mask="(00) 00000-0009" autocomplete="off" required>
            </div>
        </div>

        <div *ngIf="act._doc.deleted" class="form-row">
            <div class="col align-self-center">
                <label for="reason"><strong>{{ act.text?.reason }}</strong></label>
            </div>
            <div class="col-9">
                <textarea rows="3" cols="50" id="reason" name="reason" [(ngModel)]="act.doc.reason" class="form-control"
                    placeholder="{{ act.text?.typeSomething }}" required></textarea>
            </div>
        </div>
    </form>

</div>

<div class="modal-footer">

    <div class="col">
        <small>{{ act.text?.requiredField }}</small>
    </div>

    <div class="col-9">

        <div *ngIf="act.doc.uid" class="switch">
            <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="customSwitch1"
                    (change)="act.setDeleted($event.target.checked)">
                <label class="custom-control-label" for="customSwitch1">{{act.text?.delete }}</label>
            </div>
        </div>

        <button type="button" 
            (click)="onSubmit(f.form.valid && (act.valid[0] || act.valid[1]))" 
            class="btn btn-primary">{{act.text?.ok }}</button>
        <button type="button" (click)="act.onCancel()" class="btn btn-secondary">{{ act.text?.cancel }}</button>

    </div>

</div>