<div class="form-row">
  <div class="form-group col-12">
    <h6>
      <button class="btn btn-sm btn-light mr-2" (click)="act.backHistory()">
        <span class="fas fa-arrow-left"></span>
      </button>
      <strong>{{ act.text?.frequency }}</strong>
    </h6>
  </div>
</div>

<div *ngIf="act.meeting.length">
  <div *ngFor="let meet of act.meeting">
    <div class="form-group m-0" (click)="act.openModal(frequencyModal, str.editCoreMeet, meet)">
      &nbsp; <span class="fas fa-hashtag c-i"></span> &nbsp; <label
        class="text-secondary"><i>{{act.text?.meetingHappendAt}} {{ meet.pickedDate | date:'dd/MM/yyyy' }}</i></label>
    </div>

  </div>
</div>


<ng-template #frequencyModal>
  <app-scvf-frequency (confirm)="act.onConfirm(str.registerCoreMeet, false)"></app-scvf-frequency>
</ng-template>