<div class="content">

  <div class="bPrint">
    <button type="button" class="btn btn-primary" (click)="act.print()">
      {{ act.text?.print }}
    </button>
  </div>

  <!-- Set "A5", "A4" or "A3" for class name -->
  <!-- Set also "landscape" if you need -->
  <div class="A4">

    <!-- Each sheet element should have the class "sheet" -->
    <!-- "padding-**mm" is optional: you can set 10, 15, 20 or 25 -->
    <section class="sheet padding-10mm">

      <!-- Write HTML just like a web page -->

      <!--------------------------- HEADER ---------------------------------->
      <div class="header-sv">
        <div class="row-sv mb-sv-none">
          <div class="col-sv">
            <span class="name bold">Plano de visita</span> <br>
            <span class="name bold">{{ arr.sectorType[act.auth.user?.subSector].text }}</span> <br>
            <span class="print-date">Emitida em: {{ act.docPrint.time | date: 'dd/MM/yyyy HH:mm' }}</span>
          </div>
          <div class="col-sv text-right-sv">
            <!-- <img width="100" height="100">
            <img class="ml-sv-2" width="100" height="100"> -->
            <img src="{{ act.docPrint.city?.fileUrlPref }}" width="100" height="100">
            <img class="ml-sv-2" src="{{ act.docPrint.city?.fileUrlOrg }}" width="100" height="100">
          </div>
        </div>
      </div>

      <!--------------------------- CONTENT ---------------------------------->
      <div class="content-sheet">

        <div class="row-sv mb-sv-none">
          <div class="col-sv">
            <div class="title-sv">
            </div>
          </div>
        </div>

        <div class="row-sv mb-sv-none">
          <div class="col-sv">

            <table class="table table-sm">
              <tbody>

                <tr>
                  <td class="month bold">Mês:</td>
                  <td>
                    <div *ngIf="act.docPrint.plan.month >= 0">
                      {{ arr.monthOfYear[act.docPrint.plan?.month].text}}
                    </div>
                  </td>
                </tr>

                <tr>
                  <td class="bold">Criança:</td>
                  <td>{{act.docPrint.person.name}}</td>
                </tr>

                <tr>
                  <td class="bold">Localidade:</td>
                  <td>{{act.docPrint.address?.street}} {{',' +  act.docPrint.address?.number}}
                    {{'-' +  act.docPrint.address?.district}}</td>
                </tr>

                <tr>
                  <td class="bold">Faixa Etária:</td>
                  <td>
                    <div *ngIf="act.docPrint.plan.rangeAge >= 0">
                      {{arr.rangeAgePlan[act.docPrint.plan.rangeAge].text}}
                    </div>
                  </td>
                </tr>

              </tbody>
            </table>

          </div>
        </div>

        <div class="row-sv mb-sv-none">
          <div class="col-sv">
            <div class="title-sv">
              <span class="bold">Objetivos</span>
            </div>
          </div>
        </div>

        <div class="row-sv mb-sv-none">
          <div class="col-sv">
            {{act.docPrint.plan.objective}}
          </div>
        </div>

        
        <div class="row-sv mb-sv-none">
          <div class="col-sv">
            <div class="title-sv">
              <span class="bold">Materiais ultilizados</span>
            </div>
          </div>
        </div>

        <div class="row-sv mb-sv-none">
          <div class="col-sv">
            {{act.docPrint.plan.object}}
          </div>
        </div>

        
        <div class="row-sv mb-sv-none">
          <div class="col-sv">
            <div class="title-sv">
              <span class="bold">Observações</span>
            </div>
          </div>
        </div>

        <div class="row-sv mb-sv-none">
          <div class="col-sv">
            {{act.docPrint.plan.comments}}
          </div>
        </div>
        
        <div class="row-sv mb-sv-space">
          <div class="col-sv">
            <div class="title-sv">
              <span class="bold">Atividade a ser realizada</span>
            </div>
          </div>
        </div>
        

        <div class="row-sv mb-sv-none">
          <div class="col-sv">

            <table class="table table-sm">
              <tbody>

                <tr *ngFor="let a of act.docPrint.plan.activities; let i = index">
                  <td class="month bold">Visita {{i}}:</td>
                  <td>{{a}}</td>
                </tr>

                <!-- <tr>
                  <td class="bold">Visita II:</td>
                  <td></td>
                </tr>

                <tr>
                  <td class="bold">Visita III:</td>
                  <td></td>
                </tr>

                <tr>
                  <td class="bold">Visita IV:</td>
                  <td></td>
                </tr> -->

              </tbody>
            </table>

          </div>
        </div>


      </div>

      <!--------------------------- FOOTER ---------------------------------->
      <div class="footer-sv">
        <div class="row-sv mb-sv-none">
          <div class="col-sv ft-1 col-2">Secretaria de <br> Assistência Social</div>

          <div class="col-sv">{{ act.docPrint.city?.address?.city }} - {{ act.docPrint.city?.address?.state }} <br>
            CNPJ: {{ act.docPrint.city?.cnpj | mask:'00.000.000/0000-00' }} </div>

          <div class="col-sv ft-3">{{ act.docPrint.city?.address?.street }}
            {{',' + act.docPrint.city?.address?.number }} {{ ',' + act.docPrint.city?.address?.district }} <br> CEP:
            {{ act.docPrint.city?.address?.cep | mask:'00 000-000' }}</div>

          <div class="col-sv mt-2">© SIMVIS 3.0</div>

          <div class="col-sv ft-5 mt-2">1</div>
        </div>
      </div>

    </section>

  </div>

</div>


<!-- {{ act.doc | json}} -->