<div class="navbarBack" id="searchDiv">

  <div class="d-flex search-sv">
    <div class="d-flex navbarBtn-sv">

      <div class="navbtnL-sv-search">
        <div class="div">
          <a title="Pesquisar" (click)="act.searchDiv = !act.searchDiv">
            <span class="fas fa-arrow-left font-size1"></span>
          </a>
        </div>
      </div>

      <div class="navbtnR-sv-search">

        <div class="search-sv-bar">
          <form (ngSubmit)="act.searchPeople(act.query)">
            <input class="search-sv-in" type="search" [ngModel]="act.query"
              (ngModelChange)="act.setSearchFamily($event)" size="20" name="query"
              placeholder="Busque por NIS, CPF ou Nome" autocomplete="off">
            <button class="search-sv-btn" type="submit">
              <span class="fas fa-search"></span>
            </button>
            <span style="font-size: small;" *ngIf="act.feedback">{{ act.feedback }}</span>
          </form>
        </div>

        <div *ngIf="act.hits && act.hits.length else load" class="search-sv-result">
          <span>{{ act.text?.people }}</span>
          <hr>
          <div *ngFor="let hit of act.hits" (click)="act.routerToFamily(hit._source.familyUid)"
            (click)="act.searchDiv = !act.searchDiv">
            <div class="results-sv">{{ (hit._source.name.length > 29) ? (hit._source.name | slice:0:29) + '...' : (hit._source.name) }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="search-close-sv" (click)="act.searchDiv = !act.searchDiv"></div>
</div>

<ng-template #load>
  <div *ngIf="act.hits && act.hits.length == 0 && !act.feedback">
    <span class="spinner1"></span>
  </div>
</ng-template>