<div class="modal-header">
  <h5 class="modal-title">{{ act.text?.interview }}</h5>
  <div *ngIf="act.doc.uid">
    <i class="p-1 ml-2 bg-warning text-dark rounded font-weight-bold">{{ arr.status[act.doc.status].text }}</i>
  </div>
  <button type="button" class="close" aria-label="Close" (click)="act.onCancel()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">

  <form (ngSubmit)="onSubmit(f.form.valid)" #f="ngForm" class="was-validated">

    <div class="form-row">
      <div class="form-group col-6">
        <label for="type"><strong>{{ act.text?.type }}</strong></label>
        <select name="type" id="type" [ngModel]="act.doc.type"
          (change)="act.doc.type = act.parseInt($event.target.value)" class="custom-select" required>
          <option *ngFor="let type of arr.interviewType" [value]="type.index">
            {{ type.text }}
          </option>
        </select>
      </div>

      <div class="form-group col-6">
        <label for="date"><strong>{{ act.text?.interviewDate }}</strong></label>
        <input type="text" id="date" name="pickedDate" class="form-control" [minDate]="act.minDate" placement="bottom"
          [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY', containerClass: 'theme-dark-blue' }" bsDatepicker
          [ngModel]="act.doc.pickedDate | date:'dd-MM-yyyy'" (ngModelChange)="act.doc.pickedDate=$event"
          autocomplete="off" required>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-7">
        <label for="goal"><strong>{{ act.text?.goal }}</strong></label>
        <select name="goalType" id="goal" [ngModel]="act.doc.goal"
          (change)="act.doc.goal = act.parseInt($event.target.value)" class="custom-select" required>
          <option *ngFor="let type of arr.goalType" [value]="type.index">
            {{ type.text }}
          </option>
        </select>
      </div>

      <div class="form-group col-5">
        <label for="modality"><strong>{{ act.text?.modality }}</strong></label>
        <select name="modalityType" id="modality" [ngModel]="act.doc.modality"
          (change)="act.doc.modality = act.parseInt($event.target.value)" class="custom-select" required>
          <option *ngFor="let modality of arr.modalityType" [value]="modality.index">
            {{ modality.text }}
          </option>
        </select>
      </div>
    </div>


    <div class="form-row">
      <div class="form-group col-12">

        <div class="form-row">
          <div class="col align-self-center">
            <label for="number"><strong>{{ act.text?.familyCode }}</strong></label>
          </div>
          <div class="col-7">
            <input type="text" id="number" name="number" [(ngModel)]="act.doc.number" class="form-control"
              placeholder="{{ act.text?.typeSomething }}" mask="0*" autocomplete="off" required>
          </div>
        </div>

      </div>
    </div>


    <div class="form-row">
      <div class="form-group col-12">
        <label for="interviewer-simvis"><strong>{{ act.text?.interviewer }}</strong></label>
        <input list="brow" name="visitor-simvis" [ngModel]="act.doc.professional.info"
          (keyup)="act.findInDataset($event.target.value, act.users); act.setProfessional($event.target.value, 0)"
          class="form-control" autocomplete="off" required [ngStyle]="act.setRedField(act.valid[0])"> 
        <datalist id="brow">
          <div *ngFor="let u of act.listUser; let i = index">
            <option *ngIf="i <= 6" [id]="u.fullName" [value]="u.fullName">{{ u.fullName }}</option>>
          </div>
        </datalist>
      </div>
    </div>

  </form>

</div>

<app-footer [valid]="f.form.valid && act.valid[0]"  
  [action]="str.editServiceInterview"></app-footer>