<div class="container-sv">
  <form #f="ngForm" class="was-validated">

    <h5>{{ act.text?.report }}</h5>
    <hr>

    <div class="form-row">
      <div class="form-group col text-center">
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" class="form-check-input custom-control-input" id="{{ act.text?.analytical }}" name="type"
            value="{{ act.text?.analytical }}" (change)="act.setReportType(act.text?.analytical)" checked required>
          <label class="form-check-label custom-control-label" for="{{ act.text?.analytical }}">
            <small>{{ act.text?.analytical }}</small>
          </label>
        </div>
        <!-- <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" class="form-check-input custom-control-input" id="{{ act.text?.synthetic }}" name="type"
            value="{{ act.text?.synthetic }}" (change)="act.setReportType(act.text?.synthetic)" required>
          <label class="form-check-label custom-control-label" for="{{ act.text?.synthetic }}">
            <small>{{ act.text?.synthetic }}</small>
          </label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" class="form-check-input custom-control-input" id="{{ act.text?.vigilance }}" name="type"
            value="{{ act.text?.vigilance }}" required>
          <label class="form-check-label custom-control-label" for="{{ act.text?.vigilance }}">
            <small>{{ act.text?.vigilance }}</small>
          </label>
        </div> -->
      </div>
    </div>

    <div class="form-row">
      <div class="form-group"></div>
    </div>

    <div class="form-row">
      <div class="form-group col-4">
        <label for="type"><strong>{{ act.text?.type }}</strong></label>
        <select name="type" id="type" (change)="act.getReportFilter($event.target.value)" class="custom-select"
          required>
          <option *ngFor="let report of act.list; let i = index" [value]="i">
            {{ report.text }}
          </option>
        </select>
      </div>

      <div class="form-group col-4">
        <label for="startDate"><strong>{{ act.text?.startDate }}</strong></label>
        <input type="text" id="startDate" name="startDate" class="form-control" placement="bottom"
          [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY', containerClass: 'theme-dark-blue' }" bsDatepicker
          [ngModel]="act.doc.startDate | date:'dd-MM-yyyy'" (ngModelChange)="act.doc.startDate=$event"
          autocomplete="off" required>
      </div>

      <div class="form-group col-4">
        <label for="endDate"><strong>{{ act.text?.endDate }}</strong></label>
        <input type="text" id="endDate" name="endDate" class="form-control" placement="bottom"
          [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY', containerClass: 'theme-dark-blue' }" bsDatepicker
          [ngModel]="act.doc.endDate | date:'dd-MM-yyyy'" (ngModelChange)="act.doc.endDate=$event" autocomplete="off"
          required>
      </div>
    </div>

    <!-- <div class="form-row">
      <div class="form-group col-12">
        <label for="course"><strong>{{ act.text?.search }}</strong></label>
        <input type="text" name="search" class="form-control" [(ngModel)]="act.doc.search"
          placeholder="{{ act.text?.typeSomething }}" autocomplete="off" required>
      </div>
    </div> -->

    <div *ngIf="act.doc.report.text == str.attendanceReport" class="form-group col-4">
      <select name="attend" id="attend" (change)="act.doc.filter[0] = arr.attendanceReport[$event.target.value].index"
        class="custom-select" required>
        <option *ngFor="let filter of arr.attendanceReport; let i = index" [value]="i" [selected]="i == -1">
          {{ filter.text }}
        </option>
      </select>
    </div>

    <div *ngIf="act.doc.report.text == str.hcReport" class="form-group col-4">

      <div class="form-row">
        <div class="form-group col-12">
          <label>
            <strong>{{ act.text?.public }}</strong>
          </label>
          <select name="type" id="type" (change)="act.doc.filter[3] = arr.targetHc[$event.target.value].index"
            class="custom-select" required>
            <option *ngFor="let filter of arr.targetHc; let i = index" [value]="i">
              {{ filter.text }}
            </option>
          </select>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-12">
          <label>
            <strong>{{ textService?.status }}</strong>
          </label>
          <select name="type1" id="type1" (change)="act.doc.filter[0] = arr.statusHcFilter[$event.target.value].index"
            class="custom-select" required>
            <option *ngFor="let filter of arr.statusHcFilter; let i = index" [value]="i">
              {{ filter.text }}
            </option>
          </select>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-12">
          <label>
            <strong>{{ textService?.rangeAge }}</strong>
          </label>
          <select name="type2" id="type2" (change)="act.doc.filter[1] = arr.rangeAgeHc[$event.target.value].index"
            class="custom-select" required>
            <option *ngFor="let filter of arr.rangeAgeHc; let i = index" [value]="i">
              {{ filter.text }}
            </option>
          </select>
        </div>
      </div>

      <div class="form-row">
          <div class="form-group col-12">
            <label>
              <strong>{{ textService?.professional }}</strong>
            </label>
            <select name="type3" id="type3" (change)="act.doc.filter[2] = act.listUser[$event.target.value].uid"
              class="custom-select" required>
              <option *ngFor="let user of act.listUser; let i = index" [value]="i">
                {{ user.fullName }}
              </option>
            </select>
          </div>
        </div>

    </div>

    <div *ngIf="act.doc.report.text == str.benefitReport" class="form-group col-4">
      <select name="benefit" id="benefit" (change)="act.doc.filter[0] = arr.benefitType[$event.target.value].index"
        class="custom-select" required>
        <option *ngFor="let filter of arr.benefitType; let i = index" [value]="i" [selected]="i == s-1">
          {{ filter.text }}
        </option>
      </select>
    </div>

    <div *ngIf="act.doc.report.text == str.searchReport" class="form-group col-4">
      <select name="search" id="search" (change)="act.doc.filter[0] = arr.searchReport[$event.target.value]"
        class="custom-select" required>
        <option *ngFor="let filter of arr.searchReport; let i = index" [value]="i" [selected]="i == 0">
          {{ filter.text }}
        </option>
      </select>
    </div>

    <div *ngIf="act.doc.report.text == str.acessuasReport" class="form-group col-4">
      <select name="acessuas" id="acessuas" (change)="act.doc.filter[0] = arr.locationType[$event.target.value].index"
        class="custom-select" required>
        <option *ngFor="let filter of arr.locationType; let i = index" [value]="i" [selected]="i == -1">
          {{ filter.text }}
        </option>
      </select>
    </div>

    <div *ngIf="act.doc.report.text == str.interviewReport" class="form-group col-4">
      <select name="interview" id="interview" (change)="act.doc.filter[0] = arr.modalityType[$event.target.value].index"
        class="custom-select" required>
        <option *ngFor="let filter of arr.modalityType; let i = index" [value]="i" [selected]="i == -1">
          {{ filter.text }}
        </option>
      </select>
    </div>

    <div *ngIf="act.doc.report.text == str.scfvReport" class="form-group col-4">
      <select name="scfv" id="scfv" [(ngModel)]="act.doc.filter[0]" class="custom-select" required>
        <option *ngFor="let filter of act.cores; let i = index" [value]="filter.name" [selected]="filter">
          {{ filter.name }}
        </option>
      </select>
    </div>


    <div class="form-row sv">
      <div class="col align-self-center">
        <small>{{ act.text?.requiredField }}</small>
      </div>
      <div class="col-9 align-self-end">
        <button type="button" [class.spinner]="act.loading" [disabled]="act.loading" (click)="act.getReportData(act.doc)"
          class="btn btn-primary">{{ act.text?.generateReport }}</button>
      </div>
    </div>

  </form>

</div>

<ng-template #default>
  <option value="-1" selected>default</option>
</ng-template>