<div class="content">
  <div class="bPrint">
    <button type="button" class="btn btn-primary" (click)="act.print()">
      {{ act.text?.print }}
    </button>
  </div>
  <!-- Set "A5", "A4" or "A3" for class name -->
  <!-- Set also "landscape" if you need -->
  <div *ngFor="let page of act.pages; let i = index" class="A4 landscape">

    <!-- Each sheet element should have the class "sheet" -->
    <!-- "padding-**mm" is optional: you can set 10, 15, 20 or 25 -->
    <section *ngIf="i == 0" class="sheet padding-10mm">

      <!-- Write HTML just like a web page -->

      <!--------------------------- HEADER ---------------------------------->
      <div class="header-sv">
        <div class="row-sv mb-sv-none">
          <div class="col-sv">
            <span class="name bold">REUNIÃO: {{ act.doc?.title }} </span> <br>
            <span class="name bold">GESTÃO</span> <br>
            <span class="print-date">Emitida em: {{ act.doc?.date | date: 'dd/MM/yyyy HH:mm' }} </span>
          </div>
          <div class="col-sv text-right-sv">
            <img src="" width="100" height="100">
            <img class="ml-sv-2" src="" width="100" height="100">
          </div>
        </div>
      </div>

      <!--------------------------- CONTENT ---------------------------------->
      <div class="content-sheet">

        <div class="row-sv mb-sv-none">
          <div class="col-sv">
            <div class="title-sv">
              <span class="bold">Lista de participantes</span>
            </div>
          </div>
        </div>

        <div class="row-sv mb-sv-none">
          <div class="col-sv">

            <table class="table table-sm">
              <tbody>

                <tr>
                  <td>Nome</td>
                  <td class="function">Cargo/função</td>
                  <td class="email">Email</td>
                  <td class="phone">Celular</td>
                </tr>

                <tr *ngFor="let p of page">
                  <td></td>
                  <td></td>
                  <td></td>
                  <td class="phone"></td>
                </tr>

              </tbody>
            </table>

          </div>
        </div>

      </div>

      <!--------------------------- FOOTER ---------------------------------->
      <div class="footer-sv">
        <div class="row-sv mb-sv-none">
          <div class="col-sv ft-1 col-2">Secretaria de <br> Assistência Social</div>

          <div class="col-sv">CAPIM GROSSO - BA <br> CNPJ: 13.230.982/0001-50</div>

          <div class="col-sv ft-3">Rua Luiz Gonzaga, SN, Nova Morada <br> CEP: 44695-000</div>

          <div class="col-sv mt-2">© SIMVIS 3.0</div>

          <div class="col-sv ft-5 mt-2">{{ i + 1 }}/{{ act.pages.length }}</div>
        </div>
      </div>
    </section>


    <!------------------------ followings pages ------------------------------>

    <section *ngIf="i > 0" class="sheet padding-10mm no-top">

      <!-- Write HTML just like a web page -->

      <!--------------------------- CONTENT ---------------------------------->
      <div class="content-sheet-f">

        <div class="row-sv mb-sv-none">
          <div class="col-sv">
            <div class="title-sv">
              <span class="bold">Lista de participantes</span>
            </div>
          </div>
        </div>

        <div class="row-sv mb-sv-none">
          <div class="col-sv">

            <table class="table table-sm">
              <tbody>

                <tr>
                  <td>Nome</td>
                  <td class="function">Cargo/função</td>
                  <td class="email">Email</td>
                  <td class="phone">Celular</td>
                </tr>

                <tr *ngFor="let p of page; let i = index">
                  <td>{{i + ' - ' + page.length}}</td>
                  <td></td>
                  <td></td>
                  <td class="phone"></td>
                </tr>

              </tbody>
            </table>

          </div>
        </div>

      </div>

      <!--------------------------- FOOTER ---------------------------------->
      <div class="footer-sv">
        <div class="row-sv mb-sv-none">
          <div class="col-sv ft-1 col-2">Secretaria de <br> Assistência Social</div>

          <div class="col-sv">CAPIM GROSSO - BA <br> CNPJ: 13.230.982/0001-50</div>

          <div class="col-sv ft-3">Rua Luiz Gonzaga, SN, Nova Morada <br> CEP: 44695-000</div>

          <div class="col-sv mt-2">© SIMVIS 3.0</div>

          <div class="col-sv ft-5 mt-2">{{ i + 1 }}/{{ act.pages.length }}</div>
        </div>
      </div>

    </section>

  </div>
</div>