<div class="container-fluid p-0">
    <div class="row no-gutters">

        <div *ngIf="person.kinship != 11; else responsable" class="col-8 mb-2">
            <span class="user-sv"><span class="fas fa-hashtag c-i"></span>
                <span title="{{ text.name }}" *ngIf="person.name">{{person.name}}</span>
                <span title="{{ text.gender }}" *ngIf="person.gender">{{", " + arr.gender[person.gender].text}}</span>
                <span title="{{ text.age }}" *ngIf="person.age">{{", " + person.age}}</span>
                <span title="{{ text.kinship }}" *ngIf="person.kinship">{{", " + arr.kinshipType[person.kinship].text}}</span>
            </span>
        </div>
    </div>

</div>

<ng-template #responsable>

    <div class="container-sv mb-4">
        <div class="form-row mt-2">
            <div class="col">

                <span class="font-weight-bold">
                    <span title="{{ text.name }}" *ngIf="person.name">{{person.name}}</span>
                    <span title="{{ text.gender }}" *ngIf="person.gender">{{", " + arr.gender[person.gender].text}}</span>
                    <span title="{{ text.age }}" *ngIf="person.age">{{", " + person.age}}</span>
                    <span title="{{ text.kinship }}" *ngIf="person.kinship">{{", " + arr.kinshipType[person.kinship].text }},</span>
                    <span title="{{ text.nis }}" *ngIf="person.nis">NIS: {{ + person.nis | mask:'000.00000.00-0'}},</span> 
                    <span title="{{ text.cpf }}" *ngIf="person.cpf">CPF: {{ person.cpf | mask:'000.000.000-00'}},</span>
                    <span title="{{ text.rg }}" *ngIf="person.rg">{{" RG: " + person.rg}}</span>
                    <span title="{{ text.income }}" *ngIf="person.income">{{", " + person.income}}</span>
                    <span title="{{ text.phone }}" *ngIf="person.phoneNum">{{", " + person.phoneNum |mask:'(00) 90000-0000'}}</span>
                </span>

            </div>
        </div>
    </div>

</ng-template>