<div class="container-fluid">
      <form #f="ngForm" autocomplete="off" class="was-validated">

            <h5>{{ act.text?.familyResponsable }}</h5>
            <hr>

            <div class="form-row">
                  <div class="form-group col-lg-7">
                        <label for="name">{{ act.text?.fullName }}</label>
                        <input type="text" id="name" class="form-control" name="name" [(ngModel)]="act.doc.name"
                              placeholder="{{ act.text?.typeSomething }}" autocomplete="off" required>
                  </div>

                  <div class="form-group col-lg-2 col-md-6">
                        <label for="nickname">{{ act.text?.nickname }}</label>
                        <input type="text" id="nickname" class="form-control" name="nickname"
                              [(ngModel)]="act.doc.nickname" placeholder="{{ act.text?.typeSomething }}"
                              autocomplete="off">
                  </div>

                  <div class="form-group col-lg-3 col-md-6">
                        <label for="birthday">{{ act.text?.birthday }}</label>
                        <input type="text" id="birthday" name="birthday" class="form-control" [minDate]="act.minDate"
                              [maxDate]="act.maxDate" placement="bottom"
                              [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY', containerClass: 'theme-dark-blue' }"
                              bsDatepicker [ngModel]="act.doc.birthday | date:'dd-MM-yyyy'"
                              (ngModelChange)="act.doc.birthday=$event" autocomplete="off" required>
                  </div>

                  <div class="form-group col-lg-4 col-xl-2 col-md-6">
                        <app-radio (changeOption)="act.doc.gender = act.parseInt($event)" [label]="act.text.gender"
                              [index]="act.doc.gender" [array]="arr.gender">
                        </app-radio>

                  </div>

                  <div class="form-group col-lg-3 col-xl-2 col-md-6">
                        <label for="cpf">{{ act.text?.cpf }}</label>
                        <input type="text" id="cpf" class="form-control" name="cpf" [(ngModel)]="act.doc.cpf"
                              (keyup)="act.checkDocPerson2(act.doc.cpf, act.text?.cpf, 0)"
                              placeholder="{{ act.text?.typeSomething }}" [showMaskTyped]="true" mask="000.000.000-00"
                              autocomplete="off" [required]="!act.doc.rg">
                  </div>

                  <div class="form-group col-lg-3 col-xl-2 col-md-6">
                        <label for="rg">{{ act.text?.rg }}</label>
                        <input type="text" id="rg" class="form-control" name="rg" [(ngModel)]="act.doc.rg"
                              placeholder="{{ act.text?.typeSomething }}" mask="0*" autocomplete="off"
                              [required]="!act.doc.cpf">
                  </div>

                  <div class="form-group col-lg-3 col-xl-2 col-md-6">
                        <label for="nis">{{ act.text?.nis }}</label>
                        <input type="text" id="nis" class="form-control" name="nis" [(ngModel)]="act.doc.nis"
                              (keyup)="act.checkDocPerson2(act.doc.nis, act.text?.nis, 1)"
                              placeholder="{{ act.text?.typeSomething }}" [showMaskTyped]="true" autocomplete="off"
                              mask="000.00000.00-0">
                  </div>

                  <div class="form-group col-lg-3 col-xl-2 col-md-5">
                        <label for="income">{{ act.text?.income }}</label>
                        <input type="text" id="income" class="form-control" name="income" [(ngModel)]="act.doc.income"
                              placeholder="{{ act.text?.typeSomething }}" mask="dot_separator.2" autocomplete="off"
                              required>
                  </div>

                  <!-- <div class="form-group col-lg-3 col-xl-1 col-md-6">
                        <label for="cep">{{ act.textService.cep }}</label>
                        <input type="text" id="cep" class="form-control" name="cep" [(ngModel)]="act.doc.address.cep"
                              placeholder="{{ act.text?.typeSomething }}" [showMaskTyped]="true" mask="00000-000"
                              autocomplete="off" required>
                  </div>
                         
                        <div class="form-group col-lg-4 col-xl-2 col-md-8">
                              <label for="state">{{ act.text?.state }}</label>
                              <input type="text" id="state" class="form-control" name="state"
                                    [(ngModel)]="act.doc.address.state" placeholder="{{ act.text?.typeSomething }}"
                                    autocomplete="off" required>
                        </div> -->

                  <!-- <div class="form-group col-6">
                        <label for="states-simvis"><strong>{{ act.text?.state }}</strong></label>

                        <input list="brow" name="states-simvis" [ngModel]="arr.states[act.doc.address.state].text"
                              (keyup)="act.findInDataset3($event.target.value, arr.states, 0, 'text'); 
                                    act.required[0] = act.hasIndexOf($event.target.value, arr.states, 'text');
                                    act.setStateOnAddress($event.target.value)"
                              class="form-control" autocomplete="off" required>
                        <datalist id="brow">
                              <div *ngFor="let s of act.listSearch2[0]; let i = index">
                                    <option *ngIf="i <= 6" [value]="s.text">
                              </div>
                        </datalist>
                  </div>

                  <div class="form-group col-lg-4 col-xl-2 col-md-9">
                        <label for="city">{{ act.text?.city }}</label>
                        <input type="text" id="city" class="form-control" name="city"
                              [(ngModel)]="act.doc.address.city.name" placeholder="{{ act.text?.typeSomething }}"
                              autocomplete="off" required>
                  </div>
 -->
                  <div class="form-group col-lg-4 col-xl-2 col-md-9">
                        <label for="job">{{ act.text?.job }}</label>
                        <input type="text" id="job" class="form-control" name="job" [(ngModel)]="act.doc.job"
                              placeholder="{{ act.text?.typeSomething }}" autocomplete="off" required>
                  </div>

    <!--               <div class="form-group col-lg-4 col-xl-2 col-md-7">
                        <label id="district">{{ act.text?.district }}</label>
                        <div *ngIf="act.districts.length > 0; else noDistrict">
                              <div class="form-row">
                                    <div class="form-group col-12">
                                          <input list="brow-2" name="district-simvis"
                                                [(ngModel)]="act.doc.address.district.name"
                                                (keyup)="act.findInDataset3($event.target.value, act.districts, 1, 'name')"
                                                class="form-control" autocomplete="off" required>
                                          <datalist id="brow-2">
                                                <div *ngFor="let d of act.listSearch2[1]; let i = index">
                                                      <option *ngIf="i <= 6" [value]="d.name">
                                                </div>
                                          </datalist>
                                    </div>
                              </div>
                        </div>
                  </div>

                  <div class="form-group col-lg-8 col-xl-4">
                        <label for="address">{{ act.text?.address }}</label>
                        <input type="text" id="address" class="form-control" name="address"
                              [(ngModel)]="act.doc.address.street" placeholder="{{ act.text?.typeSomething }}"
                              autocomplete="off" required>
                  </div>

                  <div class="form-group col-lg-4 col-xl-3 col-md-8">
                        <label for="address">{{ act.text?.complement }}</label>
                        <input type="text" id="address" class="form-control" name="address"
                              [(ngModel)]="act.doc.address.complement" placeholder="{{ act.text?.typeSomething }}"
                              autocomplete="off" required>
                  </div>

                  <div class="form-group col-lg-2 col-xl-1 col-md-3">
                        <label for="number">{{ act.text?.number }}</label>
                        <input type="text" id="number" class="form-control" name="number"
                              [(ngModel)]="act.doc.address.number" placeholder="{{ act.text?.typeSomething }}" mask="0*"
                              autocomplete="off" required>
                  </div>


                  <div class="form-group col-lg-4 col-md-10">
                        <label for="reference">{{ act.text?.ref }}</label>
                        <input type="text" id="reference" class="form-control" name="reference"
                              [(ngModel)]="act.doc.address.reference" placeholder="{{ act.text?.typeSomething }}"
                              autocomplete="off" required>
                  </div>
 -->
                  <div class="form-group col-lg-3 col-xl-2 col-md-5">
                        <label for="phoneNum">{{ act.text?.phone }}</label>
                        <input type="text" id="phoneNum" class="form-control" name="phoneNum"
                              [(ngModel)]="act.doc.phoneNum" placeholder="{{ act.text?.typeSomething }}"
                              [showMaskTyped]="true" mask="(00) 00000-0009" autocomplete="off" required>
                  </div>

            </div>

            <div class="form-row sv">
                  <div class="col">
                        <small>{{ act.text?.requiredField }}</small>
                  </div>
                  <div class="col-9">
                        <button type="button" class="btn btn-secondary" (click)="act.sheetFamily(sheetFamily)"
                              title="Ficha Familiar"><span class="fas fa-file-alt"></span></button>
                        <button type="button" (click)="act.onSubmit(f.form.valid && act.valid[0] && act.valid[1], str.editFamily, false)"
                              class="btn btn-success">{{ act.text?.ok }}</button>
                        <button type="button" (click)="f.reset()"
                              class="btn btn-secondary">{{ act.text?.clear }}</button>
                        <!-- <button type="button" (click)="act.openModal(mapModal, str.editLocationEditFamily, act.doc)"
                              class="btn btn-secondary">{{ act.text?.selectLocal }}</button> -->
                  </div>
            </div>

      </form>
      <ng-template #noDistrict>
            <input type="text" id="district" class="form-control" name="district" [(ngModel)]="act.doc.address.district"
                  placeholder="{{ act.text?.typeSomething }}">
      </ng-template>

      <ng-template #mapModal>
            <app-google-map (confirm)="act.onConfirm(str.editLocationEditFamily, true)"></app-google-map>
      </ng-template>

      <ng-template #sheetFamily>
            <app-sheet-family></app-sheet-family>
      </ng-template>

</div>