<div class="modal-header">
  <h5 class="modal-title">{{ act.text?.aepeti }}</h5>
  <div *ngIf="act.doc.uid">
    <i class="p-1 ml-2 bg-warning text-dark rounded font-weight-bold">{{ arr.status[act.doc.status].text }}</i>
  </div>
  <button type="button" class="close" aria-label="Close" (click)="act.onCancel()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">

  <form (ngSubmit)="onSubmit(f.form.valid || act.isOk)" #f="ngForm" class="was-validated">

    <div class="form-row">
      <div class="form-group col-12">

        <div class="form-row">
          <div class="col align-self-center">
            <label for="person"><strong>{{ act.text?.member }}</strong></label>
          </div>
          <div class="col-9">

            <select name="person" id="person" 
            (change)="act.setPersonByIndex2(act.people[$event.target.value]);
            act.checkNis(act.people[$event.target.value], 0);
            act.checkStatusOnService2(act.doc, act.aepetiList, 1)"
              class="custom-select" required>
              <option *ngFor="let person of act.people; let i = index" [value]="i"
                [selected]="act.doc.person.uid == person.uid">
                {{ person.name }}
              </option>
            </select>

          
            <div *ngIf="act.feedback" class="text-danger text-danger-sv">{{ act.feedback }}</div>
          </div>
        </div>

      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-12">

        <div class="form-row">
          <div class="col align-self-center">
            <label for="nis"><strong>{{ act.text?.nis }}</strong></label>
          </div>
          <div class="col">
            <input type="text" name="nis" [ngModel]="act.doc.person.nis" class="form-control" mask="000.00000.00-0"
              disabled autocomplete="off">
          </div>
        </div>

      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-12">
        <label><strong>{{ act.text?.access }}</strong></label>
        <select name="access" [ngModel]="act.doc.accessForm" 
        (change)="act.doc.accessForm = act.parseInt($event.target.value)" class="custom-select" required>
          <option *ngFor="let access of arr.accessFormAEPETI" [value]="access.index">
            {{ access.text }}
          </option>
        </select>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-12">

        <div class="form-row">
          <div class="col align-self-center">
            <label><strong>{{ act.text?.schooling }}</strong></label>
          </div>
          <div class="col-8">
            <select name="schooling" [ngModel]="act.doc.schooling" 
            (change)="act.doc.schooling = act.parseInt($event.target.value)" class="custom-select" required>
              <option *ngFor="let schooling of arr.schoolingType" [value]="schooling.index">
                {{ schooling.text }}
              </option>
            </select>
          </div>
        </div>

      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-12">

        <div class="form-row">
          <div class="col align-self-center">
            <label><strong>{{ act.text?.matriculate }}</strong></label>
          </div>
          <div class="col">
            <select name="registered" [ngModel]="act.doc.register"
              (change)="act.doc.register = act.parseInt($event.target.value);
              act.showOption($event.target.value, str.registerAepeti)" class="custom-select"
              required>
              <option *ngFor="let option of arr.yesNoType" [value]="option.index">
                {{ option.text }}
              </option>
            </select>
          </div>
        </div>

      </div>
    </div>

    <div *ngIf="act.doc.register == 1" class="form-row">

      <div class="form-row">
        <div class="form-group col-12">
          <label><strong>{{ act.text?.currentSchool }}</strong></label>
          <input type="text" id="school" name="school" [(ngModel)]="act.doc.school.name" 
           class="form-control"
            placeholder="{{ act.text?.typeSomething }}" autocomplete="off" required>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-12">

          <div class="form-row">
            <div class="col align-self-center">
              <label><strong>{{ act.text?.shiftStudy }}</strong></label>
            </div>
            <div class="col">
              <select name="shiftStudy" [ngModel]="act.doc.schoolPeriod" 
              (change)="act.doc.schoolPeriod = act.parseInt($event.target.value)" class="custom-select" required>
                <option *ngFor="let shiftStudy of arr.shiftType" [value]="shiftStudy.index">
                  {{ shiftStudy.text }}
                </option>
              </select>
            </div>
          </div>

        </div>
      </div>

      <div class="form-group col-12">

        <div class="form-row">
          <div class="col align-self-center">
            <label><strong>{{ act.text?.frequency }}</strong></label>
          </div>
          <div class="col">
            <select name="frequency" [ngModel]="act.doc.frequency" 
            (change)="act.doc.frequency = act.parseInt($event.target.value)" class="custom-select" required>
              <option *ngFor="let frequency of arr.yesNoType" [value]="frequency.index">
                {{ frequency.text }}
              </option>
            </select>
          </div>
        </div>

      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-12">

        <div class="form-row">
          <div class="col-8 align-self-center">
            <label><strong>{{ act.text?.isSocialProgram }}</strong></label>
          </div>
          <div class="col">
            <select name="isSocialProgram" [ngModel]="act.doc.include"
              (change)="act.doc.include = act.parseInt($event.target.value);
              act.showOption($event.target.value, str.socialAepeti)" class="custom-select"
              required>
              <option *ngFor="let option of arr.yesNoType" [value]="option.index">
                {{ option.text }}
              </option>
            </select>
          </div>
        </div>

      </div>
    </div>

    <div *ngIf="act.doc.include == 1" class="form-row">
      <div class="form-group col-12">

        <div class="form-row">
          <div class="col align-self-center">
            <label><strong>{{ act.text?.socialProgram }}</strong></label>
          </div>
          <div class="col">
            <select name="socialProgram" [ngModel]="act.doc.socialProgram" 
            (change)="act.doc.socialProgram = act.parseInt($event.target.value)" class="custom-select" required>
              <option *ngFor="let program of arr.socialProgram" [value]="program.index">
                {{ program.text }}
              </option>
            </select>
          </div>
        </div>

      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-12">

        <div class="form-row">
          <div class="col align-self-center">
            <label><strong>{{ act.text?.workActivity }}</strong></label>
          </div>
          <div class="col-8">
            <select name="workActivity" [ngModel]="act.doc.workActivity" 
            (change)="act.doc.workActivity = act.parseInt($event.target.value)" class="custom-select" required>
              <option *ngFor="let workActivity of arr.workActivityType" [value]="workActivity.index">
                {{ workActivity.text }}
              </option>
            </select>
          </div>
        </div>

      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-12">

        <div class="form-row">
          <div class="col align-self-center">
            <label><strong>{{ act.text?.activity }}</strong></label>
          </div>
          <div class="col-7">
            <select name="activity" [ngModel]="act.doc.activity"
              (change)="act.doc.activity = act.parseInt($event.target.value);
              act.showOption($event.target.value, str.activityAepeti)" class="custom-select"
              required>
              <option *ngFor="let activity of arr.activityType" [value]="activity.index">
                {{ activity.text }}
              </option>
            </select>
          </div>
        </div>

      </div>
    </div>

    <div *ngIf="act.doc.activity == 1" class="form-row">
      <div class="form-group col-12">

        <div class="form-row mb-3">

          <div class="col align-self-center">
            <label><strong>{{ act.text?.moneyDestiny }}</strong></label>
          </div>
          <div class="col">
            <select name="moneyDestiny" [ngModel]="act.doc.moneyDestiny" 
            (change)="act.doc.moneyDestiny = act.parseInt($event.target.value)" class="custom-select" required>
              <option *ngFor="let destiny of arr.moneyDestinyType" [value]="destiny.index">
                {{ destiny.text }}
              </option>
            </select>
          </div>

        </div>

        <div class="form-row">

          <div class="col align-self-center">
            <label><strong>{{ act.text?.incomeO }}</strong></label>
          </div>
          <div class="col">
            <select name="income" [ngModel]="act.doc.incomeType" 
            (change)="act.doc.incomeType = act.parseInt($event.target.value)" class="custom-select" required>
              <option *ngFor="let income of arr.incomeTypeAEPETI" [value]="income.index">
                {{ income.text }}
              </option>
            </select>
          </div>

        </div>

      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-12">

        <div class="form-row">
          <div class="col align-self-center">
            <label><strong>{{ act.text?.period }}</strong></label>
          </div>
          <div class="col">
            <select name="period" [ngModel]="act.doc.period" 
            (change)="act.doc.period = act.parseInt($event.target.value)" class="custom-select" required>
              <option *ngFor="let period of arr.periodType" [value]="period.index">
                {{ period.text }}
              </option>
            </select>
          </div>
        </div>

      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-12">

        <div class="form-row">
          <div class="col align-self-center">
            <label><strong>{{ act.text?.shiftWork }}</strong></label>
          </div>
          <div class="col">
            <select name="shiftWork" [ngModel]="act.doc.shiftWork" 
            (change)="act.doc.shiftWork = act.parseInt($event.target.value)" class="custom-select" required>
              <option *ngFor="let shiftWork of arr.shiftWork" [value]="shiftWork.index">
                {{ shiftWork.text }}
              </option>
            </select>
          </div>
        </div>

      </div>
    </div>

    <div *ngIf="act._doc.status == 4 || act.doc.status == 4" class="form-row">
      <div class="form-group col-12">

        <div class="form-row">
          <div class="col align-self-center">
            <label for="reason"><strong>{{ act.text?.reason }}</strong></label>
          </div>
          <div class="col-7">
            <select name="reason" id="reason" [ngModel]="act.doc.reason"
              (change)="act._doc.reason = act.parseInt($event.target.value)" class="custom-select" required>
              <option *ngFor="let reason of arr.reasonsToSetOff" [value]="reason.index">
                {{ reason.text }}
              </option>
            </select>
          </div>
        </div>

      </div>
    </div>
  </form>

  <div *ngIf="act.doc.status == 4" class="offIn">
    {{ act.text?.offIn }} {{ act.doc.updateAt?.toDate() | date: 'dd/MM/yyyy' }}
  </div>

</div>

<app-footer [label]="act.text?.setOff" [hasSwitch]="act.doc.uid && act.doc.status == 1" 
  [statusValue]="4" [valid]="f.form.valid && act.valid[0] && act.valid[1]"  
  [action]="str.editServiceAepeti"></app-footer>