<div class="container-sv">
  <form (ngSubmit)="act.onConfirm(str.district)" #f="ngForm" class="was-validated">

    <div class="row">
      <div class="col">
        <h5 class="align-self-center">{{ act.text?.existingDistrict }}</h5>
      </div>
      <div class="col-md-auto text-right margin-button">
        <button type="button" class="btn btn-primary"
          (click)="act.openModal(newDistrict , str.editDistrict, null)">{{ act.text?.new }}</button>
        <button type="button" class="btn btn-primary" (click)="act.getDistrictsToContent()">{{ act.text?.listDistrict }}</button>
      </div>
    </div>

    <hr class="mt-1">

  </form>

  <div *ngIf="act.list.length > 0">
    <div class="form-row" *ngFor="let d of act.list">
      <div class="form-group m-0" (click)="act.openModal(newDistrict , str.editDistrict, d)">
        &nbsp; <span class="fas fa-map-signs c-i text-black-50"></span> &nbsp; <label
          class="text-dark text-capitalize cursor-pointer">{{ d.name }}</label>
      </div>
    </div>

    <hr>
  </div>

  <ng-template #newDistrict>
    <app-edit-district (confirm)="act.onConfirm(str.editDistrict, false)"></app-edit-district>
  </ng-template>

</div>