<div class="modal-header">
  <h5 class="modal-title">{{ act.text?.note }}</h5>
  <button type="button" class="close" aria-label="Close" (click)="act.onCancel()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <form (ngSubmit)="onSubmit(f.form.valid)" #f="ngForm" class="was-validated">
    <div class="form-row">
      <div class="form-group col-12">
        <label for="note"><strong>{{ act.text?.aboutFamily }}</strong></label>
        <textarea *ngIf="act.isNested else doc" rows="4" cols="50" class="form-control" name="text" [(ngModel)]="act._doc.note.text" placeholder="{{ act.text?.typeSomething }}" required></textarea>
        <ng-template #doc>
          <textarea rows="4" cols="50" class="form-control" name="note" [(ngModel)]="act.doc.text" placeholder="{{ act.text?.typeSomething }}" required></textarea>
        </ng-template>
      </div>
    </div>
  </form>

</div>

<div class="modal-footer">

  <div class="col">
    <small>{{ act.text?.requiredField }}</small>
  </div>

  <div class="col-9">
    <button *ngIf="!act.isNested && !act.doc.log" type="button" (click)="onSubmit(f.form.valid)" class="btn btn-primary">{{ act.text?.ok }}</button>
    <button *ngIf="act.isNested && !act._doc.log" type="button" (click)="act.setNestedDoc(act._doc.note, act.action, f.form.valid)" class="btn btn-primary">{{ act.text?.ok }}</button>
    <button type="button" (click)="act.onCancel()" class="btn btn-secondary">{{ act.text?.cancel }}</button>
  </div>

</div>