#body{
    height: 100vh;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    background-color: #f5f5f5;
    background-color: #000;
  }
h1{
  font-size: 16em;
  margin: .2em .5em;
  color: rgba(255,255,255, 0.7);
  margin-bottom:0px;
}
h2{
  font-size: 1.7em;
  margin: .2em .5em;
  color: rgba(255,255,255, 0.6);
}
h2 .material-icons{
    font-size: 1.5em;
    position: relative;
    top: 10px;
}
div.error{
  position: relative;
  width:100%;
  text-align:center;
  background:  url("../../assets/imgs/404.gif") no-repeat center center fixed;
  background-size: cover;
  height: 100%;
}

/********************************************************/
/********************************************************/
/*********************** MOBILE ************************/

@media (max-width: 576px) { 

  h1{
    font-size: 7em;
  }

}