<div  class="container-fluid p-0">
  <div class="row no-gutters">

    <div class="col-8">
      <span class="user-sv"><span class="fas fa-hashtag c-i"></span> {{ service.user.fullName }} - {{ arr.sectorType[service.user.subSector].text }}</span>
    </div>

    <div class="col text-right">
      <span class="date-sv">{{ service.updateAt?.toDate() | date: 'dd/MM/yyyy' }}</span>
    </div>

  </div>

  <div class="row no-gutters mb-3">

    <!-- Begin Services  -->

    <div *ngIf="type == str.editServiceAttendance" class="col-12">
      <span class="detail-sv">{{  arr.status[service.status].text }} {{ ', ' + service.person?.name  }} {{ ', ' + act.toDate(service.pickedDate) | date: 'dd/MM/yyyy'}}</span>
    </div>

    <div *ngIf="type == str.editServiceRoute" class="col-12">
      <span class="detail-sv">{{  arr.status[service.status].text }} {{ ', ' + arr.sectorType[service.sector].text  }}</span>
    </div>

    <div *ngIf="type == str.editServiceVisit" class="col-12">
      <span class="detail-sv">{{  arr.status[service.status].text  }} {{ ', ' + service.person?.name  }} {{ ', ' + service.district }} </span>
    </div>

    <div *ngIf="type == str.editServiceReference" class="col-12">
      <span class="detail-sv">{{  arr.status[service.status].text }} 
        {{ ', ' + act.toDate(service.pickedDate) | date: 'dd/MM/yyyy' }}
        </span>
    </div>

    <div *ngIf="type == str.editServiceScfv" class="col-12">
      <span class="detail-sv">{{  arr.status[service.status].text }} {{ ', ' + service.person?.name }} 
        {{ ', ' + arr.accessForm[service.accessForm].text }}</span>
    </div>

    <div *ngIf="type == str.editServiceFpgb" class="col-12">
      <span class="detail-sv">{{  arr.status[service.status].text }} 
        {{ ', ' + arr.requestType[service.type].text }}</span>
    </div>

    <div *ngIf="type == str.editServiceHc" class="col-12">
      <span class="detail-sv">{{  arr.status[service.status].text  }} {{ ', ' + service.person?.name }} 
        <div *ngIf="service.note && service.note.text && service.note.month">
          {{ ', ' + arr.monthOfYear[service.note?.month].text }} {{ ' - ' + service?.note.text }}
        </div>
       
        {{  ', ' + textService.month + ' ' + service?.month }} 
        {{  ', ' + textService.quart + ' ' +  service?.quart }}</span>
    </div>

    <div *ngIf="type == str.editServiceAcessuas" class="col-12">
      <span class="detail-sv">{{  arr.status[service.status].text }} {{ ', ' + service.person?.name }} 
        {{ arr.locationType[service.local].text }}</span>
    </div>

    <div *ngIf="type == str.editServiceOld" class="col-12">
      <span class="detail-sv">{{  arr.status[service.status].text }} {{ ', ' + service.person?.name }} {{ ', ' + arr.serviceType[service.type].text }}</span>
    </div>

    <div *ngIf="type == str.editServiceInterview" class="col-12">
      <span class="detail-sv">{{  arr.status[service.status].text }} 
        {{ ', ' + arr.modalityType[service.type].text }} 
        {{ ', ' + arr.goalType[service.goal].text }}</span>
    </div>

    <div *ngIf="type == str.editServiceDemand" class="col-12">
      <span class="detail-sv">{{ arr.status[service.status].text }} {{ ', ' + service.person?.name }}  
        {{ ', ' + arr[service.input.array][service.input.type].text }} 
        {{ ', ' + arr[service.output.array][service.output.type].text}}</span>
    </div>

    <div *ngIf="type == str.editServiceComplaint" class="col-12">
      <span class="detail-sv">{{  arr.status[service.status].text }}</span>
    </div>

    <div *ngIf="type == str.editServicePendency" class="col-12">
        <span class="detail-sv">{{  arr.status[service.status].text }}</span>
    </div>

    <div *ngIf="type == str.editServiceMilk" class="col-12">
      <span class="detail-sv">{{ arr.status[service.status].text }} 
        {{ ', ' + service.person?.name}} 
        {{ ', ' + service.school.name }}</span>
    </div>

    <div *ngIf="type == str.editServiceTerm" class="col-12">
      <span class="detail-sv">{{  arr.status[service.status].text }}</span>
    </div>

    <div *ngIf="type == str.editServiceSchedule" class="col-12">
      <span class="detail-sv">{{  arr.status[service.status].text }} {{ ', ' + service.person?.name }} {{ ', ' + arr.scheduleAttendanceType[service.type].text }}</span>
    </div>

    <div *ngIf="type == str.editServiceFsp" class="col-12">
      <span *ngIf="service && service.status" class="detail-sv">{{  arr.status[service.status].text }}</span>
    </div>

    <div *ngIf="type == str.editServiceNotification" class="col-12">
      <span class="detail-sv">{{  arr.status[service.status].text }} {{ ', ' + service.number }} {{ ', ' + service.numBook }}</span>
    </div>

    <div *ngIf="type == str.editServiceAepeti" class="col-12">
      <span class="detail-sv">{{  arr.status[service.status].text }} {{ ', ' + service.person?.name }}
         {{ arr.activityType[service.activity].text }}</span>
    </div>

    <div *ngIf="type == str.editServiceCondition" class="col-12">
      <span class="detail-sv">{{ arr.status[service.status].text }} {{ ', ' + service.person?.name }} {{ ', ' + arr.conditionType[service.type].text }}</span>
    </div>

    <div *ngIf="type == str.editServiceBenefit" class="col-12">
      <span class="detail-sv">{{ arr.status[service.status].text }} {{ ', ' + arr.benefitType[service.benefit].text }}</span>
    </div>

    <div *ngIf="type == str.editServiceGroup" class="col-12">
      <span class="detail-sv">{{  arr.status[service.status].text }} {{ ', ' + service.person?.name }} {{ ', ' + service.group.name }}</span>
    </div>

    <!-- End Services -->

  </div>

</div>