<div class="modal-header">
  <h5 class="modal-title">{{ act.text?.demand }}</h5>
  <div *ngIf="act.doc.uid">
    <i class="p-1 ml-2 bg-warning text-dark rounded font-weight-bold">{{ arr.status[act.doc.status].text }}</i>
  </div>
  <button type="button" class="close" aria-label="Close" (click)="act.onCancel()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">

  <div *ngIf="act.doc.uid" class="form-row">
    <div class="form-group col-12 text-right">
      <button type="button" class="btn btn-secondary btn-sm" (click)="act.routerToFamily(act.doc.familyUid)">{{
        act.text?.openFamily }}</button>
    </div>
  </div>
  
  <form (ngSubmit)="onSubmit(f.form.valid)" #f="ngForm" class="was-validated">

    <div class="form-row">
      <div class="form-group col-12">

        <div class="form-row">
          <div class="col align-self-center">
            <label for="date"><strong>{{ act.text?.demandDate}}</strong></label>
          </div>
          <div class="col">
            <input type="text" id="date" name="pickedDate" class="form-control" [minDate]="act.minDate" placement="bottom"
              [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY', containerClass: 'theme-dark-blue' }" bsDatepicker [ngModel]="act.doc.pickedDate | date:'dd-MM-yyyy'"
              (ngModelChange)="act.doc.pickedDate=$event">
          </div>
        </div>

      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-12">
        <label for="person"><strong>{{ act.text?.responsableRange }}</strong></label>
        <select *ngIf="act.familyUid else personName" name="person" id="person" 
            (change)="act.setPersonByIndex2(act.people[$event.target.value])"
              class="custom-select" required>
              <option *ngFor="let person of act.people; let i = index" [value]="i"
                [selected]="act.doc.person.uid == person.uid">
                {{ person.name }}
              </option>
            </select>
            
      <ng-template #personName>
        <input type="text" name="name" [ngModel]="act.doc.person.name" class="form-control"
          placeholder="{{ act.text?.typeSomething }}" autocomplete="off">
      </ng-template>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-12">

        <div class="form-row">
          <div class="col-8 align-self-center">
            <label for="range"><strong>{{ act.text?.range }}</strong></label>
          </div>
          <div class="col">
            <select name="range" id="range" [ngModel]="act.doc.rangeAge" (change)="act.doc.rangeAge = act.parseInt($event.target.value)" class="custom-select" required>
              <option *ngFor="let range of arr.childRangeAge" [value]="range.index">
                {{ range.text }}
              </option>
            </select>
          </div>
        </div>

      </div>
    </div>

    <app-select [index]="act.doc.gender" [array]="arr.gender" [label]="act.text?.gender"
      (changeOption)="act.doc.gender = act.parseInt($event)"></app-select>


    <div class="form-row">
      <div class="form-group col-12">

        <div class="form-row">
          <div class="col align-self-center text-center">
            <label for="input"><strong>{{ act.text?.input }}</strong></label>
          </div>
          <div class="col">
            <select name="input" id="input" [ngModel]="act.doc.input.type" (change)="act.doc.input.type = act.parseInt($event.target.value); 
            act.showSpecIn($event.target.value, arr.childInputType, str.demand)"
              class="custom-select" required>
              <option *ngFor="let input of arr.childInputType" [value]="input.index">
                {{ input.text }}
              </option>
            </select>
          </div>
        </div>

      </div>
    </div>

    <div *ngIf="act.doc.input.type == 0" class="form-row">
      <div class="form-group col-12">
        <label for="input_detail"><strong>{{ act.text?.specifyAttendance }}</strong></label>
        <select name="input_detail" id="input_detail" [ngModel]="act.doc.input.detail" (change)="act.doc.input.detail = act.parseInt($event.target.value)" class="custom-select" required>
          <option *ngFor="let detail of arr.childSpecInputType" [value]="detail.index">
            {{ detail.text }}
          </option>
        </select>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-12">

        <div class="form-row">
          <div class="col align-self-center text-center">
            <label for="output"><strong>{{ act.text?.output }}</strong></label>
          </div>
          <div class="col">
            <select name="output" id="output" [ngModel]="act.doc.output.type" (change)="act.doc.output.type = act.parseInt($event.target.value); 
          act.showSpecOut($event.target.value, arr.childOutputType, str.demand)"
              class="custom-select" required>
              <option *ngFor="let output of arr.childOutputType" [value]="output.index">
                {{ output.text }}
              </option>
            </select>
          </div>
        </div>

      </div>
    </div>

    <div *ngIf="act.doc.output.type == 0" class="form-row">
      <div class="form-group col-12">
        <label for="detail-two"><strong>{{ act.text?.specifyAttendance }}</strong></label>
        <select name="detail-two" id="detail-two" [ngModel]="act.doc.output.detail" (change)="act.doc.output.detail = act.parseInt($event.target.value)" class="custom-select" required>
          <option *ngFor="let detail of arr.childSpecOutputType" [value]="detail.index">
            {{ detail.text }}
          </option>
        </select>
      </div>
    </div>

    <div *ngIf="act.doc.output.type == 2" class="form-row">
      <div class="form-group col-12">
        <label for="detail-two-one"><strong>{{ act.text?.specifyAttendance }}</strong></label>
        <select name="detail-two-one" id="detail-two-one" [ngModel]="act.doc.output.detail" (change)="act.doc.output.detail = act.parseInt($event.target.value)" class="custom-select"
          required>
          <option *ngFor="let detail of arr.childSpecOutputTypeTwo" [value]="detail.index">
            {{ detail.text }}
          </option>
        </select>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-12">
        <label for="detail"><strong>{{ act.text?.detail }}</strong></label>
        <textarea rows="3" cols="50" name="detail" [(ngModel)]="act.doc.detail" class="form-control" placeholder="{{ act.text?.typeSomething }}" required></textarea>
      </div>
    </div>

  </form>

</div>

<app-footer [label]="act.text?.attended" [hasSwitch]="act.doc.uid && act.doc.status == 0"
  [statusValue]="2" [valid]="f.form.valid" [action]="str.editServiceAcessuas" [active]="true"></app-footer>

<ng-template #sheetAttendance>
  <app-sheet-attendance></app-sheet-attendance>
</ng-template>