<div class="modal-header">
  <h5 class="modal-title">{{ act.text?.notification }}</h5>
  <div *ngIf="act.doc.uid">
    <i class="p-1 ml-2 bg-warning text-dark rounded font-weight-bold">{{ arr.status[act.doc.status].text }}</i>
  </div>
  <button type="button" class="close" aria-label="Close" (click)="act.onCancel()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">

  <form #f="ngForm" class="was-validated">

    <div class="form-row">
      <div class="form-group col-6">
        <label for="book"><strong>{{ act.text?.bookNumber }}</strong></label>
        <input type="text" id="book" name="book" [(ngModel)]="act.doc.numBook" class="form-control" placeholder="{{ act.text?.typeSomething }}" 
          mask="000-0000" autocomplete="off" required>
      </div>

      <div class="form-group col-6">
        <label for="notification"><strong>{{ act.text?.notificationNumber }}</strong></label>
        <input type="text" name="notification" id="notification" [(ngModel)]="act.doc.number" placeholder="{{ act.text?.typeSomething }}" class="form-control" mask="0*"
          autocomplete="off" required>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-12">

        <div class="form-row">
          <div class="col align-self-center">
            <label for="date"><strong>{{ act.text?.date }}</strong></label>
          </div>
          <div class="col">
            <input type="text" id="date" name="date" class="form-control" [minDate]="act.minDate" placement="bottom"
              [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY', containerClass: 'theme-dark-blue' }" bsDatepicker [ngModel]="act.doc.pickedDate | date:'dd-MM-yyyy'"
              (ngModelChange)="act.doc.pickedDate=$event" autocomplete="off" required>
          </div>
        </div>

      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-12">
        <label for="detail"><strong>{{ act.text?.detail }}</strong></label>
        <textarea rows="3" cols="50" name="detail" [(ngModel)]="act.doc.detail" class="form-control" placeholder="{{ act.text?.typeSomething }}"
          required></textarea>
      </div>
    </div>

  </form>

</div>

<app-footer [hasSwitch]="false" [valid]="f.form.valid" [action]="str.editServiceTerm"></app-footer>