<div class="modal-header">
  <h5 class="modal-title">{{ act.text?.visit }}</h5>
  <div *ngIf="act.doc.uid">
    <i class="p-1 ml-2 bg-warning text-dark rounded font-weight-bold">{{ arr.status[act.doc.status].text }}</i>
  </div>
  <button type="button" class="close" aria-label="Close" (click)="act.onCancel()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">

  <div *ngIf="act.doc.uid" class="form-row">
    <div class="form-group col-12 text-right">
      <button (click)="act.sheetVisit(act.doc, act.address, sheetVisit)"
        class="btn btn-warning btn-sm ml-2">{{ act.text?.sheet }}</button>
      <button type="button" class="btn btn-secondary btn-sm" (click)="act.routerToFamily(act.doc.familyUid)">{{
        act.text?.openFamily }}</button>
    </div>
  </div>

  <form (ngSubmit)="onSubmit(f.form.valid)" #f="ngForm" class="was-validated">

    <div class="form-row">
      <div class="form-group col-5">
        <label for="modality"><strong>{{ act.text?.modality }}</strong></label>
        <select name="modalityType" id="modality" [ngModel]="act.doc.modality"
          (change)="act.doc.modality = act.parseInt($event.target.value)"
          class="custom-select" required>
          <option *ngFor="let modality of arr.modalityVisit" [value]="modality.index">
            {{ modality.text }}
          </option>
        </select>
      </div>

      <div class="form-group col-6">
        <label for="type"><strong>{{ act.text?.visitType }}</strong></label>
        <select name="type" id="type" [ngModel]="act.doc.type"
          (change)="act.doc.type = act.parseInt($event.target.value)" class="custom-select" required>
          <option *ngFor="let vt of arr.visitType" [value]="vt.index">
            {{ vt.text }}
          </option>
        </select>
      </div>

      <div class="form-group col-6">
        <label for="number"><strong>{{ act.text?.suasNumber }}</strong></label>
        <input type="text" name="number" id="number" [(ngModel)]="act.doc.number" class="form-control"
          placeholder="{{ act.text?.typeSomething }}" mask="0*" autocomplete="off" required>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-12">
        <label><strong>{{ act.text?.incomeSource }}</strong></label>
        <div *ngFor="let source of arr.incomeSources" class="custom-control custom-checkbox">
          <input type="checkbox" name="{{ source.text }}" id="{{ source.text }}" class="custom-control-input"
            (change)="act.updateArr2(source, act.doc.incomeSources)"
            [checked]="act.indexOf2(source, act.doc.incomeSources)">
          <label class="custom-control-label" for="{{ source.text }}">{{ source.text }}</label>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-12">

        <div class="form-row">
          <div class="col align-self-center">
            <label for="reason"><strong>{{ act.text?.reason }}</strong></label>
          </div>
          <div class="col-9">
            <select name="reason" id="reason" [ngModel]="act.doc.reason"
              (change)="act.doc.reason = act.parseInt($event.target.value)" class="custom-select" required>
              <option *ngFor="let vr of arr.visitReasons" [value]="vr.index">
                {{ vr.text }}
              </option>
            </select>
          </div>
        </div>

      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-12">

        <div class="form-row">
          <div class="col align-self-center">
            <label for="percapita"><strong>{{ act.text?.percapita }}</strong></label>
          </div>
          <div class="col">
            <input type="text" name="percapita" id="percapita" [(ngModel)]="act.doc.perCapita" class="form-control"
              placeholder="{{ act.text?.typeSomething }}" [dropSpecialCharacters]="false" mask="dot_separator.2"
              autocomplete="off">
          </div>
        </div>

      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-12">
        <label for="detail"><strong>{{ act.text?.detail }}</strong></label>
        <textarea rows="3" cols="50" id="detail" name="detail" [(ngModel)]="act.doc.detail" class="form-control"
          placeholder="{{ act.text?.typeSomething }}" required></textarea>
      </div>
    </div>

    <div *ngIf="act.doc.uid">

      <div *ngIf="act.nestedList.length > 0" class="col-12-sv mb-3">
        <div *ngFor="let data of act.nestedList | slice:0:4">

          <div class="row mb-2">
            <div class="col-8">
              <span class="text-capitalize"><span class="fas fa-hashtag c-i mr-1"></span>{{ data.text }}</span>
            </div>

            <div class="col text-right">
              <span class="">{{ data.date | date: 'dd/MM/yyyy' }}</span>
            </div>
          </div>

        </div>
      </div>

      <div *ngIf="act.nestedList && act.nestedList.length < 3 && act.doc.status == 0">
        <form #f2="ngForm">
          <div class="form-row">
            <div class="form-group col-4">
              <label for="date"><strong>{{ act.text?.activeSearch }}</strong></label>
              <input type="text" id="date" name="date" class="form-control" [minDate]="act.minDate" placement="top"
                [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY', containerClass: 'theme-dark-blue' }" bsDatepicker
                [ngModel]="act.doc.note.date | date:'dd-MM-yyyy'" (ngModelChange)="act.doc.note.date=$event"
                autocomplete="off">
            </div>

            <div class="form-group col-8">
              <label for="observation"><strong>{{ act.text?.observation }}</strong></label>
              <input type="text" id="observation" class="form-control" name="observation"
                [(ngModel)]="act.doc.note.text" placeholder="{{ act.text?.typeSomething }}" autocomplete="off">
            </div>
          </div>

          <div class="text-right mb-3">
            <button type="button" class="btn btn-primary btn-sm"
              (click)="act.setNestedDoc(act.doc.note, str.esNoteFinds, f2.form.valid)">{{ act.text?.register }}</button>
          </div>
        </form>
      </div>

      <div *ngIf="act.doc.uid" class="form-row">

        <div class="form-group col-12">
          <h6><strong>{{ act.text?.address }}</strong></h6>
          <span class="mr-3">{{ act.doc.address?.street }}</span>
          <span class="mr-3"><strong>nº</strong> {{ act.doc.address?.number }}</span>
          <span class="mr-3"><strong>{{ act.text?.district }}:</strong> {{ act.doc.address?.district }}</span>
          <span class="mr-3"><strong>{{ act.text?.city }}</strong>: {{ act.doc.address?.city }} -
            {{ act.doc.address?.state }}</span>
          <span class="mr-3"> <strong>{{ act.text?.reference }}:</strong> {{ act.doc.ddress?.reference }}</span>
        </div>

      </div>

      <div *ngIf="act._doc.status == 3 || act.doc.status == 3">
        <div class="form-row">
          <div class="form-group col-4">
            <label for="pickedDate"><strong>{{ act.text?.visitDate }}</strong></label>
            <input type="text" id="pickedDate" name="pickedDate" class="form-control" [minDate]="act.minDate"
              placement="top" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY', containerClass: 'theme-dark-blue' }"
              bsDatepicker [ngModel]="act.doc.pickedDate | date:'dd-MM-yyyy'"
              (ngModelChange)="act._doc.pickedDate=$event" autocomplete="off" required>
          </div>

          <div class="form-group col-8">
            <label for="visitor-simvis"><strong>{{ act.text?.visitor }}</strong></label>
            <input list="brow" name="visitor-simvis" [(ngModel)]="act.doc.professional.info"
              (keyup)="act.findInDataset($event.target.value, act.users); act.setProfessional($event.target.value, 0)"
              class="form-control" autocomplete="off" [required]="!act._doc.listUser.length">
            <datalist id="brow">
              <div *ngFor="let u of act.listUser; let i = index">
                <option *ngIf="i <= 6" [id]="u.fullName" [value]="u.fullName">{{ u.fullName }}</option>>
              </div>
            </datalist>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-12">
            <div *ngIf="act._doc.listUser">
              <div *ngFor="let user of act._doc.listUser">
                <a
                  (click)="act.updateArrByUid(act.cloneDeep(user), act._doc.listUser); act.cleanProfessional(0)">{{ user.info + ' (' + act.text?.delete + ')' }}</a>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="act.doc.status == 0" class="form-row">
          <div class="form-group col-12">
            <button type="button" class="btn btn-primary btn-sm ml-2" (click)="act.updateArrByUid(act.cloneDeep(act._doc.professional), act._doc.listUser);
              act.findInDataset('', act.listUser); act.cleanProfessional(0)"><span class="fas fa-plus"></span></button>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-12">
            <label for="_detail"><strong>{{ act.text?.proceed }}</strong></label>
            <textarea rows="3" cols="50" id="_detail" name="_detail" [ngModel]="act.doc.extraDetail"
              (ngModelChange)="act._doc.extraDetail=$event" class="form-control"
              placeholder="{{ act.text?.typeSomething }}" required></textarea>
          </div>
        </div>

      </div>

      <div *ngIf="act.doc.status == 4" class="offIn">
        {{ act.text?.offIn }} {{ act.doc.updateAt.toDate() | date: 'dd/MM/yyyy' }}
      </div>
    </div>

  </form>

  <div *ngIf="act.doc.uid && act.doc.status == 0" class="text-right">
    <div class="custom-control custom-switch">
      <input type="checkbox" class="custom-control-input" id="customSwitch3"
        (change)="act.setStatus(8, $event.target.checked); act.setActive($event.target.checked)">
      <label class="custom-control-label" for="customSwitch3">{{ act.text?.cancelVisit }}</label>
    </div>
  </div>
</div>

<app-footer [label]="act.text?.completed" [hasSwitch]="act.doc.uid && act.doc.status == 0" [statusValue]="3"
  [valid]="f.form.valid && act.valid[0]" [active]="true" [action]="str.editServiceVisit" [actType]="'visit'">
</app-footer>


<ng-template #sheetVisit>
  <app-sheet-visit></app-sheet-visit>
</ng-template>