<div class="container_sv">

  <!-- Left Bar -->

  <app-menu-family></app-menu-family>

  <!-- End Left Bar -->

  <app-alert-popup></app-alert-popup>

  <div class="content-sv">
    <div class="innercontent-sv">

      <h2 *ngIf="auth.user && auth.user.subSector">{{ arr.sectorType[auth.user.subSector].text }}</h2>
      <hr class="line">

      <div class="card-sv col-6-sv row-3-sv">
        <div class="card-content-sv">

          <div class="card-header-sv col-12-sv">
            <div class="col-3-sv">
              <h6>
                <button class="btn btn-sm btn-light mr-2" (click)="act.backHistory()">
                  <span class="fas fa-arrow-left"></span>
                </button>
                <strong>{{ act.title }} ({{ act.list.length }})</strong>
              </h6>
            </div>

            <div class="card-bt-sv col-1-sv">
              <button *ngIf="act.isNested" class="btn btn-sm btn-light noMarginR"
                (click)="act.openModal(act.modal, act.action, act.doc)">
                <span class="fas fa-plus"></span>
              </button>
              <button *ngIf="!act.isNested" class="btn btn-sm btn-light noMarginR"
                (click)="act.openModal(act.modal, act.action, null)">
                <span class="fas fa-plus"></span>
              </button>
            </div>
          </div>


          <div *ngIf="act.list.length > 0" class="col-12-sv">
            <div *ngFor="let doc of act.list">
              <div *ngIf="act.model == str.service">
                <app-item-service [service]="doc" [type]="act.action"
                  (click)="act.openModal(act.modal, act.action, doc)"></app-item-service>
              </div>

              <div *ngIf="act.model == str.person">
                <app-item-person [person]="doc" (click)="act.openModal(act.modal, act.action, doc)"></app-item-person>
              </div>

              <div *ngIf="act.model == str.note">
                <app-item-note [note]="doc" (click)="act.openModal(act.modal, act.action, doc)"></app-item-note>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>