<div class="modal-header">
  <h5 class="modal-title">{{ act.text?.scheculeAttendance }}</h5>
  <div *ngIf="act.doc.uid">
    <i class="p-1 ml-2 bg-warning text-dark rounded font-weight-bold">{{ arr.status[act.doc.status].text }}</i>
  </div>
  <button type="button" class="close" aria-label="Close" (click)="act.onCancel()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">

  <div *ngIf="act.doc.uid" class="form-row">
    <div class="form-group col-12 text-right">
      <button type="button" class="btn btn-secondary btn-sm" (click)="act.routerToFamily(act.doc.familyUid)">{{
        act.text?.openFamily }}</button>
    </div>
  </div>

  <form (ngSubmit)="onSubmit(f.form.valid)" #f="ngForm" class="was-validated">
    <div class="form-row">
      <div class="form-group col-6">
        <label for="date"><strong>{{ act.text?.attendanceDate }}</strong></label>
        <input type="text" id="date" class="form-control" name="pickedDate" [minDate]="act.minDate" placement="bottom"
          [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY', containerClass: 'theme-dark-blue' }" bsDatepicker
          [ngModel]="act.doc.pickedDate | date:'dd-MM-yyyy'" (ngModelChange)="act.doc.pickedDate=$event"
          autocomplete="off" required>
      </div>

      <div class="form-group col-6">
        <label for="type"><strong>{{ act.text?.attendanceType }}</strong></label>
        <select name="type" id="type" (change)="act.doc.type = act.parseInt($event.target.value)" class="custom-select"
          required>
          <option *ngFor="let type of arr.scheduleAttendanceType" [value]="type.index">
            {{ type.text }}
          </option>
        </select>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-9">
        <label for="person"><strong>{{ act.text?.member }}</strong></label>
        <select *ngIf="act.people else personName" name="person" id="person"
          (change)="act.setPersonByIndex2(act.people[$event.target.value]);"
          class="custom-select" required>
          <option *ngFor="let person of act.people; let i = index" [value]="i"
            [selected]="act.doc.person.uid == person.uid">
            {{ person.name }}
          </option>
        </select>
        <ng-template #personName>
          <input type="text" name="name" [ngModel]="act.doc.person.name" class="form-control"
            placeholder="{{ act.text?.typeSomething }}" autocomplete="off">
        </ng-template>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-12">
        <label for="detail"><strong>{{ act.text?.detail }}</strong></label>
        <textarea rows="4" cols="50" id="detail" class="form-control" name="detail" [(ngModel)]="act.doc.detail"
          placeholder="{{ act.text?.typeSomething }}" required></textarea>
      </div>
    </div>

    <div *ngIf="act.doc.uid" class="form-row">

      <div class="form-group col-12">
        <h6><strong>{{ act.text?.address }}</strong></h6>
        <span class="mr-3">{{ act.doc.address?.street }}</span>
        <span class="mr-3"><strong>nº</strong> {{ act.doc.address?.number }}</span>
        <span class="mr-3"><strong>{{ act.text?.district }}:</strong> {{ act.doc.address?.district }}</span>
        <span class="mr-3"><strong>{{ act.text?.city }}</strong>: {{ act.doc.address?.city.name }} -
          {{ act.doc.address?.state }}</span>
        <span class="mr-3"> <strong>{{ act.text?.reference }}:</strong> {{ act.doc.ddress?.reference }}</span>
      </div>

    </div>

  </form>

</div>



<app-footer [label]="act.text?.completed" [hasSwitch]="act.doc.uid && act.doc.status == 0" 
  [statusValue]="3" [valid]="f.form.valid" [active]="true"
  [action]="str.editServiceSchedule"></app-footer>
  