<div class="form-row">
  <div class="form-group col-12">

    <div class="form-row">
      <div *ngIf="label" class="col align-self-center">
        <label for="{{ label }}-simvis"><strong>{{ label }}</strong></label>
      </div>
      <div class="col-7">
        <select *ngIf="canChange else fix" #select id="{{ label }}-simvis" name="{{ label }}-simvis"
          (change)="optionSelected($event.target.value)" class="custom-select" [required]="req">
          <option *ngFor="let item of array; let i = index" [value]="item.index" [selected]="item.index == index">
            {{ item.text }}
          </option>
        </select>
        <ng-template #fix>
          <select id="{{ label }}-simvis" name="{{ label }}-simvis" class="custom-select" disabled>
            <option [value]="array[index].value" [selected]="true">
              {{ array[index].text }}
            </option>
          </select>
        </ng-template>
      </div>
    </div>

  </div>
</div>