.nav-link{
color: black;
}
a[class*="active"]{
color:  white !important;
}
.bg-sv{
height: 80vh;
}
.bg-sv .middle{
height: 100%;
width: 100%;
background: url(../../../assets/imgs/logo_medium.png) no-repeat center center ;
opacity: 0.2;
background-size: 80%;
}