<!-- Initial Content -->
<nav>
  <div class="nav nav-pills" id="nav-tab" role="tablist">
    <a *ngIf="auth.user?.roles.esRoute || auth.user?.roles.thanos" class="nav-item nav-link active" id="nav-route-tab"
      data-toggle="tab" href="#route" role="tab" aria-controls="route"
      aria-selected="true"><strong>{{ act.text?.route }}</strong></a>
    <a *ngIf="auth.user?.roles.esVisit || auth.user?.roles.thanos" class="nav-item nav-link" id="nav-visits-tab"
      data-toggle="tab" href="#visits" role="tab" aria-controls="visits"
      aria-selected="false"><strong>{{ act.text?.visits }}</strong></a>
    <a *ngIf="auth.user?.roles.esAttendance || auth.user?.roles.thanos" class="nav-item nav-link"
      id="nav-attendance-tab" data-toggle="tab" href="#attendances" role="tab" aria-controls="attendance"
      aria-selected="false"><strong>{{ act.text?.attendance }}</strong></a>
    <a *ngIf="auth.user?.roles.esFsp || auth.user?.roles.thanos" class="nav-item nav-link" id="nav-fsp-tab"
      data-toggle="tab" href="#fsp-list" role="tab" aria-controls="fsp"
      aria-selected="false"><strong>{{ act.text?.fspNav }}</strong></a>
    <a *ngIf="auth.user?.roles.esDemand || auth.user?.roles.thanos" class="nav-item nav-link" id="nav-demand-tab"
      data-toggle="tab" href="#demands" role="tab" aria-controls="demand"
      aria-selected="false"><strong>{{ act.text?.demand }}</strong></a>
    <a *ngIf="auth.user?.roles.esHc || auth.user?.roles.thanos" class="nav-item nav-link" id="nav-hc-tab"
      data-toggle="tab" href="#hcList" role="tab" aria-controls="hc"
      aria-selected="false"><strong>{{ act.text?.hc }}</strong></a>
  </div>
</nav>

<div class="row">

  <!-- PAGES -->
  <div class="tab-content col-7" id="nav-tabContent">

    <!-- ROUTE -->
    <div *ngIf="auth.user?.roles.esRoute || auth.user?.roles.thanos" class="tab-pane fade show active mt-4" id="route"
      role="tabpanel" aria-labelledby="route">
      <div *ngIf="act.routeList.length > 0" id="route" class="card-sv col-6-sv">
        <div class="card-content-sv">

          <div class="col-12-sv">
            <div *ngFor="let service of act.routeList"
              (click)="act.openModal(routeModal, str.editServiceRoute, service)">
              <app-item-service [service]="service" [type]="str.editServiceRoute"></app-item-service>
            </div>
          </div>

        </div>
      </div>

    </div>

    <!-- VISITS -->
    <div *ngIf="auth.user?.roles.esVisit || auth.user?.roles.thanos" class="tab-pane fade mt-4" id="visits"
      role="tabpanel" aria-labelledby="visits">
      <div *ngIf="act.visitList.length > 0" id="visit" class="card-sv col-6-sv">

        <select class="custom-select" *ngIf="act.districtsVisit"
          (change)="act.filterByDistrict($event.target.value, act.visitList, str.editServiceVisit)">
          <option *ngFor="let d of act.districtsVisit" [value]="d.value">{{ d.text }}</option>
        </select>

        <hr>

        <div *ngIf="!act.queryVisit else queryByDistrictVisit" class="card-content-sv">
          <div class="col-12-sv">
            <div *ngFor="let service of act.visitList"
              (click)="act.openModal(visitModal, str.editServiceVisit, service)">
              <app-item-service [service]="service" [type]="str.editServiceVisit"></app-item-service>
            </div>
          </div>
        </div>
        <ng-template #queryByDistrictVisit>
          <div class="col-12-sv">
            <div *ngFor="let service of act.listQueryVisit"
              (click)="act.openModal(visitModal, str.editServiceVisit, service)">
              <app-item-service [service]="service" [type]="str.editServiceVisit"></app-item-service>
            </div>
          </div>
        </ng-template>

      </div>

    </div>

    <!-- ATTENDANCE -->
    <div *ngIf="auth.user?.roles.esAttendance || auth.user?.roles.thanos" class="tab-pane fade mt-4" id="attendances"
      role="tabpanel" aria-labelledby="attendance">
      <div *ngIf="act.schedulesList.length > 0" id="attendance" class="card-sv col-6-sv">

        <select class="custom-select" *ngIf="act.districtsSchedule"
          (change)="act.filterByDistrict($event.target.value, act.schedulesList, str.editServiceSchedule)">
          <option *ngFor="let d of act.districtsSchedule" [value]="d.value">{{ d.text }}</option>
        </select>

        <hr>

        <div *ngIf="!act.querySchedule else queryByDistrictSchedule" class="card-content-sv">
          <div class="col-12-sv">
            <div *ngFor="let service of act.schedulesList"
              (click)="act.openModal(scheduleModal, str.editServiceSchedule, service)">
              <app-item-service [service]="service" [type]="str.editServiceSchedule"></app-item-service>
            </div>
          </div>
        </div>
      </div>
      <ng-template #queryByDistrictSchedule>
        <div class="card-content-sv">
          <div class="col-12-sv">
            <div *ngFor="let service of act.listQuerySchedule"
              (click)="act.openModal(scheduleModal, str.editServiceSchedule, service)">
              <app-item-service [service]="service" [type]="str.editServiceSchedule"></app-item-service>
            </div>
          </div>
        </div>
      </ng-template>

    </div>

    <!-- FSP -->
    <div *ngIf="auth.user?.roles.esFsp || auth.user?.roles.thanos" class="tab-pane fade mt-4" id="fsp-list"
      role="tabpanel" aria-labelledby="fsp">
      <div *ngIf="act.fspList.length > 0" id="fsp" class="card-sv col-6-sv">

        <div class="card-content-sv">
          <div class="col-12-sv">
            <div *ngFor="let service of act.fspList" (click)="act.openModal(fspModal, str.editServiceFsp, service)">
              <app-item-service [service]="service" [type]="str.editServiceFsp"></app-item-service>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- DEMAND -->
    <div *ngIf="auth.user?.roles.esDemand || auth.user?.roles.thanos" class="tab-pane fade mt-4" id="demands"
      role="tabpanel" aria-labelledby="demand">
      <div *ngIf="act.demandList.length > 0" id="demand" class="card-sv col-6-sv">

        <div class="card-content-sv">
          <div class="col-12-sv">
            <div *ngFor="let service of act.demandList"
              (click)="act.openModal(demandModal, str.editServiceDemand, service)">
              <app-item-service [service]="service" [type]="str.editServiceDemand"></app-item-service>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- HAPPY cHILD -->
    <div *ngIf="act.auth.user?.roles.esHc || act.auth.user?.roles.thanos" class="tab-pane fade mt-4" id="hcList"
      role="tabpanel" aria-labelledby="hc">
      <div *ngIf="act.hcList.length > 0" id="hc" class="card-sv col-6-sv">
        <div class="card-content-sv">
          <div class="col-12-sv">
            <div *ngFor="let service of act.hcList" >
              <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="customSwitch{{service.uid}}" 
                  (change)="act.saveNote(service, str.editServiceHc, $event.target.checked)">
                <label class="custom-control-label" for="customSwitch{{service.uid}}">{{ act.text?.completed }}</label>
              </div>
              <app-item-service (click)="act.openModal(hcModal, str.editServiceHc, service)" [service]="service" [type]="str.editServiceHc"></app-item-service>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <!-- RIGHT -->
  <div class="col-5 border-left mt-4 bg-sv">
    <div class="middle">

    </div>
  </div>

</div>


<ng-template #scheduleModal>
  <app-edit-schedule-attendance (confirm)="act.onConfirm(str.editServiceRoute, false)"></app-edit-schedule-attendance>
</ng-template>

<ng-template #routeModal>
  <app-edit-route (confirm)="act.onConfirm(str.editServiceRoute, false)"></app-edit-route>
</ng-template>

<ng-template #visitModal>
  <app-edit-visit (confirm)="act.onConfirm(str.editServiceVisit, false)"></app-edit-visit>
</ng-template>

<ng-template #fspModal>
  <app-edit-fsp (confirm)="act.onConfirm(str.editServiceFsp, false)"></app-edit-fsp>
</ng-template>

<ng-template #demandModal>
  <app-edit-demand (confirm)="act.onConfirm(str.editServiceDemand, false)"></app-edit-demand>
</ng-template>

<ng-template #hcModal>
  <app-edit-happy-child (confirm)="act.onConfirm(str.editServiceHc, false)"></app-edit-happy-child>
</ng-template>