<div class="content">
  <div class="bPrint">
    <button type="button" class="btn btn-primary" (click)="act.print()">
      {{ act.text?.print }}
    </button>
  </div>
  <!-- Set "A5", "A4" or "A3" for class name -->
  <!-- Set also "landscape" if you need -->
  <div *ngFor="let page of act.pages; let i = index" class="A4">

    <!-- Each sheet element should have the class "sheet" -->
    <!-- "padding-**mm" is optional: you can set 10, 15, 20 or 25 -->
    <section *ngIf="i == 0" class="sheet padding-10mm">

      <!-- Write HTML just like a web page -->

      <!--------------------------- HEADER ---------------------------------->
      <div class="header-sv">
        <div class="row-sv mb-sv-none">
          <div class="col-sv">
            <span class="name bold">{{ arr.sectorType[act.auth.user?.subSector].text }}</span> <br>
            <span class="name bold">{{ act.docPrint.name }}</span> <br>
            <span class="print-date">Emitida em: {{ act.docPrint.time | date: 'dd/MM/yyyy HH:mm' }}</span>
          </div>
          <div class="col-sv text-right-sv">
            <img src="{{ act.docPrint.city?.fileUrlPref }}" width="100" height="100">
            <img class="ml-sv-2" src="{{ act.docPrint.city?.fileUrlOrg }}" width="100" height="100">
          </div>
        </div>
      </div>

      <!--------------------------- CONTENT ---------------------------------->
      <div class="content-sheet">

        <div class="row-sv mb-sv-none">
          <div class="col-sv">
            <div class="title-sv">
              <span class="bold">Famílias</span>
            </div>
          </div>
        </div>

        <div class="row-sv mb-sv-none">
          <div class="col-sv">

            <table class="table table-sm">
              <tbody>

                <tr>
                  <td>Nome</td>
                  <td>Nis</td>
                  <td>Endereço</td>
                  <td class="phone">Celular</td>
                </tr>

                <tr *ngFor="let p of page">
                  <td>{{ p.name }}</td>
                  <td>{{ p.nis | mask:'000.00000.00-0' }}</td>
                  <td>{{ p.address?.street }} {{ ',' + p.address?.number }} {{ ',' + p.address?.district }}</td>
                  <td class="phone">{{ p.phoneNum | mask:'(00) 90000-0000' }}</td>
                </tr>

              </tbody>
            </table>

          </div>
        </div>

      </div>

      <!--------------------------- FOOTER ---------------------------------->
      <div class="footer-sv">
        <div class="row-sv mb-sv-none">
          <div class="col-sv ft-1 col-2">Secretaria de <br> Assistência Social</div>

          <div class="col-sv">{{ act.docPrint.city?.address?.city }} - {{ act.docPrint.city?.address?.state }} <br> CNPJ: {{ act.docPrint.city?.cnpj | mask:'00.000.000/0000-00' }} </div>

          <div class="col-sv ft-3">{{ act.docPrint.city?.address?.street }} {{',' + act.docPrint.city?.address?.number }} {{ ',' + act.docPrint.city?.address?.district }} <br> CEP: {{ act.docPrint.city?.address?.cep | mask:'00 000-000' }}</div>

          <div class="col-sv mt-2">© SIMVIS 3.0</div>

          <div class="col-sv ft-5 mt-2">1</div>
        </div>
      </div>


    </section>



    <section *ngIf="i > 0" class="sheet padding-10mm no-top">

      <!--------------------------- CONTENT ---------------------------------->
      <div class="content-sheet page-2">

        <div class="row-sv mb-sv-none">
          <div class="col-sv">

            <table class="table table-sm">
              <tbody>

                <tr>
                  <td>Nome</td>
                  <td>Nis</td>
                  <td>Endereço</td>
                  <td class="phone">Celular</td>
                </tr>

                <tr *ngFor="let p of page">
                  <td>{{ p.name }}</td>
                  <td>{{ p.nis | mask:'000.00000.00-0' }}</td>
                  <td>{{ p.address?.street }} {{ ',' + p.address?.number }} {{ ',' + p.address?.district }}</td>
                  <td class="phone">{{ p.phoneNum | mask:'(00) 90000-0000' }}</td>
                </tr>
                
              </tbody>
            </table>

          </div>
        </div>

      </div>


      <!--------------------------- FOOTER ---------------------------------->
      <div class="footer-sv">
        <div class="row-sv mb-sv-none">
          <div class="col-sv ft-1 col-2">Secretaria de <br> Assistência Social</div>

          <div class="col-sv">{{ act.docPrint.city?.address?.city }} - {{ act.docPrint.city?.address?.state }} <br> CNPJ: {{ act.docPrint.city?.cnpj | mask:'00.000.000/0000-00' }} </div>

          <div class="col-sv ft-3">{{ act.docPrint.city?.address?.street }} {{',' + act.docPrint.city?.address?.number }} {{ ',' + act.docPrint.city?.address?.district }} <br> CEP: {{ act.docPrint.city?.address?.cep | mask:'00 000-000' }}</div>

          <div class="col-sv mt-2">© SIMVIS 3.0</div>

          <div class="col-sv ft-5 mt-2">1</div>
        </div>
      </div>

    </section>

  </div>

</div>