<div class="modal-header">
  <h5 class="modal-title">{{ act.text?.complaints }}</h5>
  <div *ngIf="act.doc.uid">
    <i class="p-1 ml-2 bg-warning text-dark rounded font-weight-bold">{{ arr.status[act.doc.status].text }}</i>
  </div>
  <button type="button" class="close" aria-label="Close" (click)="act.onCancel()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">

  <form (ngSubmit)="onSubmit(f.form.valid)" #f="ngForm" class="was-validated">

    <div class="form-row">
      <div class="form-group col-12">
        <label for="complaint1"><strong>{{ act.text?.complaint }}</strong></label>
        <textarea rows="3" cols="50" id="complaint1" name="complaint" [(ngModel)]="act.doc.complaint"
          class="form-control" placeholder="{{ act.text?.typeSomething }}" required></textarea>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-12">
        <label for="detail"><strong>{{ act.text?.detail }}</strong></label>
        <textarea rows="3" cols="50" id="detail" name="detail" [(ngModel)]="act.doc.detail" class="form-control"
          placeholder="{{ act.text?.typeSomething }}" required></textarea>
      </div>
    </div>

    <div *ngIf="act._doc.status == 6 || act.doc.status == 6" class="form-row">
      <div class="form-group col-12">
        <app-radio [index]="act.doc.proceed" [array]="arr.yesNoType" 
          (changeOption)="act._doc.proceed = arr.yesNoType[$event].index" [label]="act.text.proceeds"
          [required]="true">
        </app-radio>
      </div>

      <div class="form-group col-12">
        <label for="_detail"><strong>{{ act.text?.result }}</strong></label>
        <textarea rows="3" cols="50" id="_detail" name="_detail" [ngModel]="act.doc.extraDetail"
          (ngModelChange)="act._doc.extraDetail=$event" class="form-control" placeholder="{{ act.text?.typeSomething }}"
          required></textarea>
      </div>

    </div>

    <div *ngIf="act.doc.status == 6" class="form-group col-12 strong">
      {{ act.text?.reviewedBy }} {{ act.doc.updateBy.fullName }} - {{ act.doc.updateBy.subSector }} {{ act.text?.in }}
      {{ act.doc.updateAt.toDate() | date: 'dd/MM/yyyy' }}
    </div>

  </form>

</div>

<app-footer [label]="act.text?.ascertained" [hasSwitch]="act.doc.uid && act.doc.status == 0" 
  [statusValue]="6" [valid]="f.form.valid" 
  [action]="str.editServiceComplaint"></app-footer>