<div class="form-row">
  <div class="form-group col-12">

    <label for="info"><strong>{{ label }}</strong></label>
    <div *ngFor="let item of array; let i = index">
      <div class="custom-control custom-checkbox">
        <input type="checkbox" id="{{ item.text }}-simvis" name="{{ item.text }}-simvis" class="custom-control-input"
          (change)="optionSelected($event.target.value)" [required]="required" [value]="item.index"
          [checked]="indexOf(item.index, indexes)">
        <label for="{{ item.text }}-simvis" class="custom-control-label">{{ item.text }}</label>
      </div>
    </div>

  </div>
</div>