<div class="modal-header">
  <h5 class="modal-title pull-left">{{ act.text?.newLocal }}</h5>
  <button type="button" class="close pull-right" aria-label="Close" (click)="act.onCancel()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <div *ngIf="act._doc.address.coords._lat && act._doc.address.coords._long">
    <agm-map [zoom]="15" [latitude]="act._doc.address.coords._lat" [longitude]="act._doc.address.coords._long" (mapClick)="act.onChoseLocation($event)">
      <agm-marker [latitude]="act._doc.address.coords._lat" [longitude]="act._doc.address.coords._long">
        <agm-info-window>
          <h3><strong>{{ act.text?.familyLocal }}</strong></h3>
          <p>{{ address }}</p>
        </agm-info-window>
      </agm-marker>
    </agm-map>
  </div>
</div> 

<div class="modal-footer">

  <button type="button" (click)="onSubmit()" class="btn btn-primary">{{ act.text?.ok }}</button>

  <button type="button" (click)="act.onCancel()" class="btn btn-secondary">{{ act.text?.cancel }}</button>
</div>