<div class="modal-header">
  <h5 class="modal-title">{{ act.text?.frequency }}</h5>
  <button type="button" class="close" aria-label="Close" (click)="act.onCancel()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">

  <form #f="ngForm" class="was-validated">

    <div class="form-row">
      <div class="form-group col-12">

        <div class="form-row">
          <div class="col-4 align-self-center">
            <label for="date"><strong>{{ act.text?.frequency }}</strong></label>
          </div>
          <div class="col">
            <input type="text" id="date" name="pickedDate" class="form-control" [minDate]="act.minDate" placement="bottom"
              [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY', containerClass: 'theme-dark-blue' }" bsDatepicker
              [ngModel]="act.doc.pickedDate | date:'dd-MM-yyyy'" (ngModelChange)="act.doc.pickedDate=$event"
              autocomplete="off">
          </div>
        </div>

      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-12 mb-0">
        <label for="name"><strong>{{ act.text?.members }}</strong></label>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-12">

        <div *ngIf="act.people.length" class="text-capitalize">
          <div *ngFor="let p of act.people">
            <!-- <input name="{{info}}" id="{{info}}" type="checkbox" class="custom-control-input" (change)="act.updateArr(info, act.doc.extraInformations)"
                            [checked]="act.indexOf(info, act.doc.extraInformations)" [required]="act.isRequired"> -->

            <div class="custom-control custom-checkbox">
              <input type="checkbox" name="{{ p.name }}" id="{{ p.name }}" class="custom-control-input"
                (change)="act.updateMap(p.uid, act.doc.meet)" [checked]="p.present" [required]="act.isRequired">
              <label for="{{ p.name }}" class="custom-control-label">{{ p.name }}</label>
            </div>

          </div>
        </div>

      </div>
    </div>

  </form>

</div>

<div class="modal-footer">

  <div class="col">
    <small>{{ act.text?.requiredField }}</small>
  </div>

  <div class="col-9">
    <button type="button" (click)="onSubmit(f.form.valid)" [disabled]="!f.form.valid"
      class="btn btn-secondary">{{ act.text?.sendFrequency }}</button>
  </div>

</div>