<div class="container-sv">
  <form #formGroup="ngForm" class="was-validated">

    <div class="row">
      <div class="col">
        <h5 class="align-self-center">{{ act.text?.existingGroups }}</h5>
      </div>
      <div class="col-md-auto text-right margin-button">
        <button (click)="act.openModal(newGroup, str.editGroup, null)"
          class="btn btn-primary text-right">{{ act.text?.new }}</button>
        <button type="button" class="btn btn-primary" (click)="act.getGroupsToContent()">{{ act.text?.listGroups }}</button>
      </div>
    </div>

    <hr class="mt-1">

    <div class="form-row mt-10 cursor-pointer lists" *ngFor="let g of act.groups">

      <div class="col align-self-center">
        <div class="form-group m-0" (click)="act.openModal(gmModal, str.editGroupMeet, g)">
          <span class="fas fa-users mr-2 text-black-50"></span> <label
            class="text-dark text-capitalize cursor-pointer"><strong>{{ g.name }}</strong></label>
        </div>
      </div>

      <div class="col-md-auto text-right margin-button">
        <button (click)="act.routerToMeetList(g, node.groupMeeting)" class="btn btn-info btn-sm" title="Lista de presença"><span
            class="fas fa-file-signature"></span></button>

        <button (click)="act.routerToGroupReport(g)" class="btn btn-info btn-sm" title="Relatório"><span
            class="fas fa-file-pdf"></span></button>

        <button (click)="act.sheetListPeopleGroup(g, node.groupPeople, sheetListPeople)" class="btn btn-info btn-sm"
          title="{{ act.text?.listPeople }}"><span class="fas fa-user-edit"></span></button>
      </div>

      <br>

    </div>

  </form>

</div>

<ng-template #newGroup>
  <app-add-group (confirm)="act.onConfirm(str.editGroup, false)"></app-add-group>
</ng-template>

<ng-template #gmModal>
  <app-edit-group-meet (confirm)="act.onConfirm(str.registerGroupMeet, false)"></app-edit-group-meet>
</ng-template>

<ng-template #sheetListPeople>
  <app-report-people-list></app-report-people-list>
</ng-template>