<div class="modal-header">
  <h5 class="modal-title">{{ act.text?.condition }}</h5>
  <div *ngIf="act.doc.uid">
    <i class="p-1 ml-2 bg-warning text-dark rounded font-weight-bold">{{ arr.status[act.doc.status].text }}</i>
  </div>
  <button type="button" class="close" aria-label="Close" (click)="act.onCancel()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">

  <form (ngSubmit)="onSubmit(f.form.valid)" #f="ngForm" class="was-validated">

    <div class="form-row">
      <div class="form-group col-12">

        <div class="form-row">
          <div class="col align-self-center">
            <label for="person"><strong>{{ act.text?.member }}</strong></label>
          </div>
          <div class="col-9">
            <select name="person" id="person" 
            (change)="act.setPersonByIndex2(act.people[$event.target.value]);
            act.checkNis(act.people[$event.target.value], 0)"
              class="custom-select" required>
              <option *ngFor="let person of act.people; let i = index" [value]="i"
                [selected]="act.doc.person.uid == person.uid">
                {{ person.name }}
              </option>
            </select>

          </div>
        </div>

      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-12">

        <div class="form-row">
          <div class="col align-self-center">
            <label for="nis"><strong>{{ act.text?.nis }}</strong></label>
          </div>
          <div class="col">
            <input type="text" name="nis" [ngModel]="act.doc.person.nis" class="form-control" mask="000.00000.00-0"
              disabled autocomplete="off">
          </div>
        </div>

      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-12">

        <div class="form-row">
          <div class="col align-self-center">
            <label for="type"><strong>{{ act.text?.type }}</strong></label>
          </div>
          <div class="col">
            <select name="type" id="type" [ngModel]="act.doc.type"
              (change)="act.doc.type = act.parseInt($event.target.value)" class="custom-select"
              required>
              <option *ngFor="let type of arr.conditionType" [value]="type.index">
                {{ type.text }}
              </option>
            </select>
          </div>
        </div>

      </div>
    </div>

    <div *ngIf="act.doc.type == 0" class="form-row">
      <div class="form-group col-12">
        <label for="school"><strong>{{ act.text?.school }}</strong></label>
        <input type="text" id="school" name="school" [(ngModel)]="act.doc.local.name" class="form-control"
          placeholder="{{ act.text?.typeSomething }}" autocomplete="off" required>
      </div>
    </div>

    <div *ngIf="act.doc.type == 1" class="form-row">
      <div class="form-group col-12">
        <label for="psf"><strong>{{ act.text?.psf }}</strong></label>
        <input type="text" id="psf" name="psf" [(ngModel)]="act.doc.local.name" class="form-control"
          placeholder="{{ act.text?.typeSomething }}" autocomplete="off" required>
      </div>
    </div>

    <div *ngIf="act.doc.uid && (act.doc.status == 5 || act._doc.status == 5)" class="form-row">
      <div class="form-group col-12">
        <div class="form-row">
          <div class="col align-self-center">
            <label for="effect"><strong>{{ act.text?.effects }}</strong></label>
          </div>
          <div class="col">
            <select name="effect" id="effect" [ngModel]="act.doc.effect" 
            (change)="act._doc.effect = act.parseInt($event.target.value)"
              class="custom-select" required>
              <option *ngFor="let type of arr.yesNoType" [value]="type.index">
                {{ type.text }}
              </option>
            </select>
          </div>
        </div>
      </div>

      <div class="form-group col-12">
        <div class="form-row">
          <div class="col align-self-center">
            <label for="resource"><strong>{{ act.text?.resource }}</strong></label>
          </div>
          <div class="col">
            <select name="resource" id="resource" [ngModel]="act.doc.resource"
              (change)="act._doc.resource = act.parseInt($event.target.value)" class="custom-select" required>
              <option *ngFor="let type of arr.resourceType" [value]="type.index">
                {{ type.text }}
              </option>
            </select>
          </div>
        </div>
      </div>

    </div>


  </form>

</div>

<app-footer [label]="act.text?.resource" [hasSwitch]="act.doc.uid && act.doc.status == 0" 
  [statusValue]="5" [valid]="f.form.valid && act.valid[0]"  
  [action]="str.editServiceCondition"></app-footer>