<div class="modal-header">
  <h5 class="modal-title">{{ act.text?.meeting }}</h5>
  <button type="button" class="close" aria-label="Close" (click)="act.onCancel()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">

  <form #f="ngForm" class="was-validated">

    <div class="form-row">
      <div class="form-group col-12">
        <label for="meetingName"><strong>{{ act.text?.meetingName }}</strong></label>
        <input type="text" name="meetingName" [(ngModel)]="act.doc.title" class="form-control" name="meetingName"
          placeholder="{{ act.text?.typeSomething }}" autocomplete="off" required>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-6">
        <label for="meetingDate"><strong>{{ act.text?.meetingDate }}</strong></label>
        <input type="text" name="meetingDate" class="form-control" [minDate]="act.minDate" placement="bottom"
          [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY', containerClass: 'theme-dark-blue' }" bsDatepicker
          [ngModel]="act.doc.date | date:'dd-MM-yyyy'" (ngModelChange)="act.doc.date=$event" 
          autocomplete="off">
      </div>

      <div class="form-group col-6">
        <label for="numberOfParticipants"><strong>{{ act.text?.numberOfParticipants }}</strong></label>
        <input type="text" name="numberOfParticipants" [(ngModel)]="act.doc.amount" mask="0*" class="form-control"
          name="numberOfParticipants" placeholder="{{ act.text?.typeSomething }}" autocomplete="off" required>
      </div>
    </div>

  </form>

</div>

<div class="modal-footer">

  <div class="col">
    <small>{{ act.text?.requiredField }}</small>
  </div>
  <div class="col-9">
    <button type="button" (click)="act.onCancel()" class="btn btn-secondary">{{ act.text?.cancel }}</button>
    <button type="submit" (click)="act.generateUserMeeting(f.form.valid, act.doc)"
      class="btn btn-primary">{{ act.text?.generatePdf }}</button>
  </div>

</div>