*{ font-family: 'Oswald', sans-serif; }

.bPrint{
  width: 100%;
  text-align: center;
  margin-top: 5mm;
  margin-bottom: 5mm;
}

.row-sv{
  display:-ms-flexbox;
  display:flex;
  -ms-flex-wrap:wrap;
  flex-wrap:wrap;
  margin: auto;
  margin-right:-15px;
  margin-left:-15px;
  margin-bottom: 3mm;
}

.col-sv{
  position:relative;
  width:100%;
  padding: 2mm;
  padding-right:15px;
  padding-left:15px;
  -ms-flex-preferred-size:0;
  flex-basis:0;
  -ms-flex-positive:1;
  flex-grow:1;
  max-width:100%;
  margin: 0;
}

.mb-sv-none{ margin-bottom:0!important }
.ml-sv-2{ margin-left:.5rem!important }
.text-right-sv{ text-align:right!important }
.name{ font-size: 20pt; line-height: 8mm } 
.print-date{ font-size: 8pt; }
.bold{  font-weight: 700; }
.title-sv{
  border-bottom: 0.5mm solid darkgray;  
}
.hr{
  padding: 0;
  margin-top: 7.5mm;
  margin-bottom: 0;
  border-bottom: 0.5mm solid darkgray;
}
.header-sv{
  position: absolute;
  top: 10mm;
  width: 190mm;
}
.content-sheet{
  height: 231mm;
  overflow: hidden;
}
.footer-sv{
  font-size: 9pt;
  text-align: center;
  position: absolute;
  bottom: 10mm;
  width: 190mm;
}
.footer-sv .mb-sv-none div{
  line-height: 5mm;
}
.ft-1{ flex: 0 0 15%; }
.ft-3{ flex: 0 0 25%; }
.ft-5{ flex: 0 0 10%; }

.start-date{ flex:  0 0 30%; }
.date{ flex:  0 0 22%; }
.reason{ line-height: 9mm;}

table{
  border-spacing: 0;
  margin-top: 3mm;
  margin-bottom: 5mm;
}
table td{
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
  border-top: none;
}

.sex, .phone, .birth, .birth1, .sex1 { width: 30mm; }
.number{ width: 20mm; }
.kinship{ width: 42mm; }
.nis{ width: 32mm; }
.birth, .sex, .kinship, .reference{ border-right: none !important; }

/***************************************************/
/***************************************************/
/***************************************************/
/******************** FOLHA ************************/

.sheet {
  margin: 0;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  page-break-after: avoid;
}

/** Paper sizes **/
.A3               .sheet { width: 297mm; height: 419mm }
.A3.landscape     .sheet { width: 420mm; height: 296mm }
.A4               .sheet { width: 210mm; height: 296mm }
.A4.landscape     .sheet { width: 297mm; height: 209mm }
.A5               .sheet { width: 148mm; height: 209mm }
.A5.landscape     .sheet { width: 210mm; height: 147mm }
.letter           .sheet { width: 216mm; height: 279mm }
.letter.landscape .sheet { width: 280mm; height: 215mm }
.legal            .sheet { width: 216mm; height: 356mm }
.legal.landscape  .sheet { width: 357mm; height: 215mm }

/** Padding area **/
.padding-10mm { padding: 10mm; }
.padding-15mm { padding: 15mm; }
.padding-20mm { padding: 20mm; }
.padding-25mm { padding: 25mm; }
.padding-10mm, .padding-15mm, .padding-20mm, .padding-25mm{ padding-top: 40mm; padding-bottom: 25mm; }


/***************************************************/
/***************************************************/
/***************************************************/
/**************** FOR SCREEN PREVIEW ***************/

@media all {
  .sheet {
    background: white;
    /* box-shadow: 0 .5mm 2mm rgba(0,0,0,.3); */
    margin: auto;
  }
}

/***************************************************/
/***************************************************/
/***************************************************/
/**************** FOR PRINT PREVIEW ***************/

@media print {
  .content{ padding: 0; }
  .bPrint{ display: none; }
  .sheet{ box-shadow: none; margin-bottom: 0; }
  .table{ width: 100%;  text-align: left; }
}

