<div class="content">

  <div class="bPrint">
    <button type="button" class="btn btn-primary" (click)="act.print()">
      {{ act.text?.print }}
    </button>
  </div>

  <!-- Set "A5", "A4" or "A3" for class name -->
  <!-- Set also "landscape" if you need -->
  <div class="A4">

    <!-- Each sheet element should have the class "sheet" -->
    <!-- "padding-**mm" is optional: you can set 10, 15, 20 or 25 -->
    <section class="sheet padding-10mm">

      <!-- Write HTML just like a web page -->

      <!--------------------------- HEADER ---------------------------------->
      <div class="header-sv">
        <div class="row-sv mb-sv-none">
          <div class="col-sv">
            <span class="name bold">RELATÓRIO</span> <br>
            <span class="name bold">Ficha de cadastro familiar</span> <br>
            <span class="print-date">Emitida em: {{ act.docPrint.time | date: 'dd/MM/yyyy HH:mm' }}</span>
          </div>
          <div class="col-sv text-right-sv">
            <img src="{{ act.docPrint.city?.fileUrlPref }}" width="100" height="100">
            <img class="ml-sv-2" src="{{ act.docPrint.city?.fileUrlOrg }}" width="100" height="100">
          </div>
        </div>
      </div>

      <!--------------------------- CONTENT ---------------------------------->
      <div class="content-sheet">

        <div class="row-sv mb-sv-none">
          <div class="col-sv">
            <div class="title-sv">
              <span class="bold">Dados da família</span>
            </div>
          </div>
        </div>

        <div class="row-sv mb-sv-none">
          <div class="col-sv">

            <strong>Responsável familiar:</strong>

            <table class="table table-sm">
              <tbody>

                <tr>
                  <td colspan="2">Nome</td>
                  <td>Apelido</td>
                  <td class="birth">Nascimento</td>
                </tr>

                <tr>
                  <td colspan="2">&nbsp;</td>
                  <td>&nbsp;</td>
                  <td class="birth">&nbsp;</td>
                </tr>

                <tr>
                  <td>CPF</td>
                  <td>NIS</td>
                  <td class="phone">Celular</td>
                  <td class="sex">Sexo</td>
                </tr>

                <tr>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td class="sex">&nbsp;</td>
                </tr>


              </tbody>
            </table>

            <strong>Endereço:</strong>

            <table class="table table-sm">
              <tbody>

                <tr>
                  <td>Localidade</td>
                  <td>Logradouro</td>
                  <td class="number">Numero</td>
                  <td class="reference">Referencia</td>
                </tr>

                <tr>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td class="reference">&nbsp;</td>
                </tr>

              </tbody>
            </table>

            <strong>Dependentes:</strong>

            <table class="table table-sm">
              <tbody>

                <tr>
                  <td>Nome</td>
                  <td class="birth1">Nascimento</td>
                  <td class="sex1">Sexo</td>
                  <td class="nis">Nis</td>
                  <td class="kinship">Parentesco</td>
                </tr>

                <tr>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td class="kinship">&nbsp;</td>
                </tr>

                <tr>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td class="kinship">&nbsp;</td>
                </tr>

                <tr>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td class="kinship">&nbsp;</td>
                </tr>

                <tr>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td class="kinship">&nbsp;</td>
                </tr>

                <tr>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td class="kinship">&nbsp;</td>
                </tr>

                <tr>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td class="kinship">&nbsp;</td>
                </tr>

                <tr>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td class="kinship">&nbsp;</td>
                </tr>

                <tr>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td class="kinship">&nbsp;</td>
                </tr>

                <tr>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td class="kinship">&nbsp;</td>
                </tr>

                <tr>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td class="kinship">&nbsp;</td>
                </tr>

                <tr>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td class="kinship">&nbsp;</td>
                </tr>

                <tr>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td class="kinship">&nbsp;</td>
                </tr>

                <tr>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td class="kinship">&nbsp;</td>
                </tr>

              </tbody>
            </table>


          </div>
        </div>

      </div>

      <!--------------------------- FOOTER ---------------------------------->
      <div class="footer-sv">
        <div class="row-sv mb-sv-none">
          <div class="col-sv ft-1 col-2">Secretaria de <br> Assistência Social</div>

          <div class="col-sv">{{ act.docPrint.city?.address?.city }} - {{ act.docPrint.city?.address?.state }} <br>
            CNPJ: {{ act.docPrint.city?.cnpj | mask:'00.000.000/0000-00' }} </div>

          <div class="col-sv ft-3">{{ act.docPrint.city?.address?.street }}
            {{',' + act.docPrint.city?.address?.number }} {{ ',' + act.docPrint.city?.address?.district }} <br> CEP:
            {{ act.docPrint.city?.address?.cep | mask:'00 000-000' }}</div>

          <div class="col-sv mt-2">© SIMVIS 3.0</div>

          <div class="col-sv ft-5 mt-2">1</div>
        </div>
      </div>

    </section>

  </div>

</div>