<div class="modal-header">
  <h5 class="modal-title">{{ act.text?.requestPage }}</h5>
  <div *ngIf="act.doc.uid">
    <i class="p-1 ml-2 bg-warning text-dark rounded font-weight-bold">{{ arr.status[act.doc.status].text }}</i>
  </div>
  <button type="button" class="close" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  CORPINHO DE 19
</div>

<div class="modal-footer">

  <div class="col">
    <small>{{ act.text?.requiredField }}</small>
  </div>

  <div class="col-9">
    CARA DE 59
  </div>

</div>