<div class="modal-header">
  <h5 class="modal-title">{{ act.text?.fsp }}</h5>
  <div *ngIf="act.doc.uid">
    <i class="p-1 ml-2 bg-warning text-dark rounded font-weight-bold">{{ arr.status[act.doc.status].text }}</i>
  </div>
  <button type="button" class="close" aria-label="Close" (click)="act.onCancel()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">

  <div *ngIf="act.doc.uid" class="form-row">
    <div class="form-group col-12 text-right">
      <button type="button" class="btn btn-secondary btn-sm" (click)="act.routerToFamily(act.doc.familyUid)">{{
        act.text?.openFamily }}</button>
    </div>
  </div>

  <form #f="ngForm" class="was-validated">
    <div class="form-row">
      <div class="form-group col-12">
        <label for="force"><strong>{{ act.text?.force }}</strong></label>
        <textarea rows="3" cols="50" id="force" class="form-control" name="force" [(ngModel)]="act.doc.force"
          placeholder="{{ act.text?.typeSomething }}" required></textarea>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-12">
        <label for="weakness"><strong>{{ act.text?.weakness }}</strong></label>
        <textarea rows="3" cols="50" id="weakness" class="form-control" name="weakness" [(ngModel)]="act.doc.weakness"
          placeholder="{{ act.text?.typeSomething }}" required></textarea>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-12">
        <label for="objective"><strong>{{ act.text?.objective }}</strong></label>
        <textarea rows="3" cols="50" id="objective" class="form-control" name="objective"
          [(ngModel)]="act.doc.objective" placeholder="{{ act.text?.typeSomething }}" required></textarea>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-12">
        <label for="promise"><strong>{{ act.text?.promise }}</strong></label>
        <textarea rows="3" cols="50" id="promise" class="form-control" name="promise" [(ngModel)]="act.doc.promise"
          placeholder="{{ act.text?.typeSomething }}" required></textarea>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group align-self-center col-6">
        <label for="date"><strong>{{ act.text?.nextAttendance }}</strong></label>
      </div>
      <div class="form-group col-6">
        <input type="text" id="date" name="pickedDate" class="form-control" [minDate]="act.minDate" placement="top"
          [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY', containerClass: 'theme-dark-blue' }" bsDatepicker
          [ngModel]="act.doc.pickedDate | date:'dd-MM-yyyy'" (ngModelChange)="act._doc.pickedDate=$event; 
          act.setActive(!act.checkNewDate(act._doc))"
          autocomplete="off">
      </div>
    </div>

    <div *ngIf="act._doc.status == 4 || act.doc.status == 4" class="form-row">
      <div class="form-group col-12">

        <div class="form-row">
          <div class="col align-self-center">
            <label for="reason"><strong>{{ act.text?.reason }}</strong></label>
          </div>
          <div class="col-7">
            <select name="reason" id="reason" [ngModel]="act.doc.reason"
              (change)="act._doc.reason = act.parseInt($event.target.value)" class="custom-select" required>
              <option *ngFor="let reason of arr.reasonsToSetOff" [value]="reason.index">
                {{ reason.text }}
              </option>
            </select>
          </div>
        </div>

      </div>
    </div>


  </form>

  <div *ngIf="act.doc.uid && act._doc.note" class="was-validated">

    <form *ngIf="act.doc.status != 4" #f2="ngForm">
      <div class="form-row">
        <div class="form-group col-12">
          <label for="note"><strong>{{ act.text?.aboutFamily }}</strong></label>
          <textarea rows="3" cols="50" class="form-control" name="note" [(ngModel)]="act._doc.note.text"
            placeholder="{{ act.text?.typeSomething }}" required></textarea>
        </div>
      </div>

      <div class="text-right">
        <button type="button" (click)="act.setNestedDoc(act._doc.note, str.esFspNote, f2.form.valid)" class="btn btn-primary btn-sm"
          [disabled]="!f2.form.valid">{{act.text?.sendNote}}</button>
      </div>
    </form>

    <div *ngIf="act.listNoteFsp.length && act.familyUid" class="form-row">
      <div class="form-group col-12">
        <button class="btn btn-sm btn-light"
          (click)="act.routerToFamilyDataList(noteModal, str.esFspNotes, act.listNoteFsp, act.text?.aboutFamily, str.note, true)">
          <span class="fas fa-list"></span>
        </button>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-12">
        <div *ngIf="act.listNoteFsp.length" class="col-12-sv">
          <div *ngFor="let note of act.listNoteFsp | slice:0:4">
            <app-item-note [note]="note"></app-item-note>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>

<div *ngIf="act.doc.status == 4" class="offIn">
  {{ act.text?.offIn }} {{ act.doc.updateAt?.toDate() | date: 'dd/MM/yyyy' }}
</div>

<app-footer [label]="act.text?.setOff" [hasSwitch]="act.doc.uid && act.doc.status == 1" [statusValue]="4"
  [valid]="f.form.valid" [action]="str.editServiceFsp" [active]="true">
</app-footer>

<ng-template #noteModal>
  <app-edit-note (confirm)="act.setNestedDoc(act._doc.note, str.esFspNote)"></app-edit-note>
</ng-template>