<button type="button" class="close" aria-label="Close" (click)="act.print()">
  PRINT
</button>

<div class="content">

  <!-- Set "A5", "A4" or "A3" for class name -->
  <!-- Set also "landscape" if you need -->
  <div class="A4">

    <!-- Each sheet element should have the class "sheet" -->
    <!-- "padding-**mm" is optional: you can set 10, 15, 20 or 25 -->
    <section class="sheet padding-10mm">

      <!-- Write HTML just like a web page -->

      <!--------------------------- HEADER ---------------------------------->
      <div class="header-sv">
        <div class="row-sv mb-sv-none">
          <div class="col-sv">
            <span class="name bold">Ficha de visita domiciliar</span> <br>
            <span class="name bold">{{ arr.sectorType[act.auth.user?.subSector].text }}</span> <br>
            <span class="print-date">Emitida em: {{ act.docPrint.time | date: 'dd/MM/yyyy HH:mm' }}</span>
          </div>
          <div class="col-sv text-right-sv">
            <img src="{{ act.docPrint.city?.fileUrlPref }}" width="100" height="100">
            <img class="ml-sv-2" src="{{ act.docPrint.city?.fileUrlOrg }}" width="100" height="100">
          </div>
        </div>
      </div>

      <!--------------------------- CONTENT ---------------------------------->
      <div class="content-sheet">

        <div class="row-sv mb-sv-none">
          <div class="col-sv">
            <div class="title-sv">
              <span class="bold">Encaminhamento</span><script></script>
            </div>
          </div>
        </div>

        <div class="row-sv mb-sv-none">

          <div class="col-sv date"><strong>Data:</strong> {{ act.docPrint?.writeAt.toDate() | date: 'dd/MM/yyyy'}}</div>
          <div class="col-sv col-auto"><strong>Tecnico:</strong> {{ act.auth.user?.fullName }}</div>
          <div class="col-sv"><strong>Modalidade:</strong> {{ act.docPrint?.type }}</div>

        </div>

        <div class="row-sv mb-sv-none">
          <div class="col-sv">
            <div class="title-sv">
              <span class="bold">Dados da família</span>
            </div>
          </div>
        </div>

        <div class="row-sv mb-sv-none">

          <div class="col-sv">
            <strong>Responsável:</strong> {{ act.docPrint?.person?.name }}<br>
            <strong>Data de nascimento:</strong> {{ act.docPrint?.person?.birthday | date: 'dd/MM/yyyy' }}<br>
            <strong>CPF:</strong> {{ act.docPrint?.person?.cpf |  mask:'000.000.000-00'  }} <br>
            <strong>Celular:</strong> {{ act.docPrint?.person?.phoneNum | mask:'(00) 00000-0009'  }} <br>
            <strong>Endereço:</strong> {{ act.docPrint.address?.street }}  {{',' + act.docPrint.address?.number }} {{',' + act.docPrint.address?.district }} 
          </div>

          <div class="col-sv">
            <strong>Apelido:</strong> {{ act.docPrint?.person?.nickname }} <br>
            <strong>Sexo:</strong> {{ act.docPrint?.person?.gender }} <br>
            <strong>NIS:</strong> {{ act.docPrint?.person?.nis | mask:'000.00000.00-0' }} <br>
            <strong>Renda:</strong> {{ act.docPrint?.person?.income }} <br>
            <strong>Pontuario SUAS:</strong> {{ act.docPrint?.number }} <br>
            <strong>Referencia:</strong> {{ act.docPrint.address?.reference }} 
          </div>

        </div>

        <div class="row-sv mb-sv-none">
          <div class="col-sv">
            <div class="title-sv">
              <span class="bold">Dados da averiguação</span>
            </div>
          </div>
        </div>

        <div class="row-sv mb-sv-none">
          <div class="col-sv">
            <strong>Fontes de renda:</strong> <div *ngFor="let income of act.docPrint?.incomeSources"> {{ income + ' - ' }}</div> <br>
            <strong>Tipo de averiguação:</strong> {{ act.docPrint?.reason }} <br>
            <strong>Complemento:</strong> {{ act.docPrint?.detail }}
          </div>
        </div>

        <div class="row-sv mb-sv-none">
          <div class="col-sv">
            <div class="title-sv">
              <span class="bold">Busca ativa</span>
            </div>
          </div>
        </div>

        <div class="row-sv mb-sv-none">

          <div class="col-sv date reason">
            <strong>1ª</strong> ____/____/_________ <br>
            <strong>2ª</strong> ____/____/_________ <br>
            <strong>3ª</strong> ____/____/_________
          </div>

          <div class="col-sv reason">
            <strong>Motivo:</strong>
            ___________________________________________________________________________________________<br>
            <strong>Motivo:</strong>
            ___________________________________________________________________________________________<br>
            <strong>Motivo:</strong>
            ___________________________________________________________________________________________
          </div>

        </div>

        <div class="row-sv mb-sv-none">
          <div class="col-sv">
            <div class="title-sv">
              <span class="bold">Observações</span>
            </div>
          </div>
        </div>

        <div class="row-sv">
          <div class="col-sv">
            __________________________________________________________________________________________________________________________________
            __________________________________________________________________________________________________________________________________
            __________________________________________________________________________________________________________________________________
            __________________________________________________________________________________________________________________________________
          </div>
        </div>

      </div>

      <!--------------------------- FOOTER ---------------------------------->
      <div class="footer-sv">
        <div class="row-sv mb-sv-none">
          <div class="col-sv ft-1 col-2">Secretaria de <br> Assistência Social</div>

          <div class="col-sv">{{ act.docPrint.city?.address?.city }} - {{ act.docPrint.city?.address?.state }} <br> CNPJ: {{ act.docPrint.city?.cnpj | mask:'00.000.000/0000-00' }} </div>

          <div class="col-sv ft-3">{{ act.docPrint.city?.address?.street }} {{',' + act.docPrint.city?.address?.number }} {{ ',' + act.docPrint.city?.address?.district }} <br> CEP: {{ act.docPrint.city?.address?.cep | mask:'00 000-000' }}</div>

          <div class="col-sv mt-2">© SIMVIS 3.0</div>

          <div class="col-sv ft-5 mt-2">1</div>
        </div>
      </div>

    </section>

  </div>

</div>