<div class="modal-header">
  <h5 class="modal-title">{{ act.text?.address }}</h5>
  <button type="button" class="close" aria-label="Close" (click)="act.onCancel()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">

  <form (ngSubmit)="onSubmit(f.form.valid)" #f="ngForm" autocomplete="off" class="was-validated">
    <div class="form-row">
      <div class="form-group col-6">
        <label for="cep"><strong>{{ act.text?.cep }}</strong></label>
        <input type="text" name="cep" class="form-control" [(ngModel)]="act.doc.cep" mask="00000-000" 
          required>
      </div>

      <div class="form-group col-6">
        <label for="states-simvis"><strong>{{ act.text?.state }}</strong></label>

        <input list="brow" name="states-simvis" [ngModel]="arr.states[act.doc.state].id" (keyup)="act.findInDataset2($event.target.value, arr.states); 
          act.checkStateOnAddress($event.target.value, 0); act.setStateOnAddress($event.target.value)" class="form-control"  required>
        <datalist id="brow">
          <div *ngFor="let s of act.listSearch; let i = index">
            <option *ngIf="i <= 6" [value]="s.id">{{ s.text }}</option>>
          </div>
        </datalist>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-9">
        <label for="city"><strong>{{ act.text?.city }}</strong></label>
        <input type="text" id="city" class="form-control" name="city" [(ngModel)]="act.doc.city.name" 
          required>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-12">
        <label for="street"><strong>{{ act.text?.address }}</strong></label>
        <input type="text" id="street" class="form-control" [(ngModel)]="act.doc.street" name="street" #street="ngModel"
           required>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-6">
        <label for="district"><strong>{{ act.text?.district }}</strong></label>
        <input type="text" id="district" name="district" class="form-control" [(ngModel)]="act.doc.district.name"
           required>
      </div>

      <!-- <div class="form-group col-6">
        <label id="district">{{ act.text?.district }}</label>
        <div class="form-row">
          <div class="form-group col-12">
            <input list="brow-2" name="district-simvis" [(ngModel)]="act.doc.district"
              (keyup)="act.findInDataset3($event.target.value, act.districts, 0, 'name');
              act.checkDistrict($event.target.value, act.districts, 1); act.showLog(act.doc.district)" class="form-control"
               required>
            <datalist id="brow-2">
              <select *ngFor="let d of act.listSearch2[0]; let i = index">
                <option *ngIf="i <= 6" [ngValue]="d" >{{ d.name }}</option>
              </select>
            </datalist>
          </div>
        </div>
      </div> -->

      <div class="form-group col-6">
        <label for="num"><strong>{{ act.text?.number }}</strong></label>
        <input type="text" id="num" name="number" class="form-control" [(ngModel)]="act.doc.number" mask="0*"
           required>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-12">
        <label for="ref"><strong>{{ act.text?.ref }}</strong></label>
        <input type="text" id="ref" name="reference" class="form-control" [(ngModel)]="act.doc.reference"
           required>
      </div>
    </div>
  </form>

</div>

<div class="modal-footer">

  <div class="col">
    <small>{{ act.text?.requiredField }}</small>
  </div>

  <div class="col-9">
    <button type="button" (click)="onSubmit(f.form.valid && act.valid[0] && act.valid[1])"
      class="btn btn-primary">{{ act.text?.ok }}</button>
      <!-- <button type="button" (click)="act.showLog(f.form); f.form.controls.district-simvis = 'INVALID'" class="btn btn-secondary">TEST</button> -->
    <button type="button" (click)="act.onCancel()" class="btn btn-secondary">{{ act.text?.cancel }}</button>
  </div>

</div>