<div class="content">

    <!-- Set "A5", "A4" or "A3" for class name -->
    <!-- Set also "landscape" if you need -->
    <div *ngIf="act.pages" class="A4 landscape">
  
      <!-- Each sheet element should have the class "sheet" -->
      <!-- "padding-**mm" is optional: you can set 10, 15, 20 or 25 -->
      <section *ngFor="let page of act.pages; let i = index" class="sheet padding-10mm">
  
        <!-- Write HTML just like a web page -->
  
        <!--------------------------- HEADER ---------------------------------->
        <div *ngIf="i == 0" class="header-sv">
          <div class="row-sv mb-sv-none">
            <div  class="col-sv">
              <span class="name bold">{{ act.auth.user?.subSector }}</span> <br>
              <span class="name bold">{{ act.doc.page + ' ' + act.doc.name }}  </span> <br>
              <span class="print-date">Emitida em: {{ act.time | date: 'dd/MM/yyyy HH:mm' }}</span>
            </div>
            <div class="col-sv text-right-sv">
              <img src="" width="100" height="100">
              <img class="ml-sv-2" src="" width="100" height="100">
            </div>
          </div>
        </div>
  
        <!--------------------------- CONTENT ---------------------------------->
        <div class="content-sheet">
          
          <div *ngIf="i == 0 || (i % 6) == 0" class="row-sv mb-sv-none">
            <div class="col-sv">
              <div class="title-sv">
                <span class="bold">Lista de membros</span>
              </div>
            </div>
          </div>
  
          <div class="row-sv mb-sv-none">
            <div class="col-sv">
              <table class="table table-sm">
                <div *ngFor="let p of page; let j = index">
                <thead *ngIf="j == 0 || (j % 6) == 0">
                  <tr class="border-0">
                    <td>Nome</td>
                    <td>Idade</td>
                    <td>Nis/Responsável</td>
                    <td>Celular</td>
                    <td>Data</td>
                    <td>Data</td>
                    <td>Data</td>
                    <td>Data</td>
                    <td>Data</td>
                    <td>Data</td>
                    <td>Data</td>
                    <td>Data</td>
                    <td>Data</td>
                  </tr>
                  <tr class="border-0">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td *ngFor="let d of p.dates">{{ d | date:'dd/MM/yy' }}</td>
                  </tr>
                </thead>
          
                <tbody> 
                  <tr>
                    <td>{{ p.name + '#' + i }}</td>
                    <td>{{ p.age }}</td>
                    <td>{{ p.nis | mask:'000.00000.00-0'}}</td>
                    <td>{{ p.phoneNum | mask:'(00) 00000-0009' }}</td>
                    <td *ngFor="let f of p.frequency">{{ f }}</td>
                  </tr>
  
                </tbody>

              </div>
              </table>
  
            </div>
          </div>
  
        </div>
  
        <ng-template #sheet>
          <thead *ngIf="i == 13" class="sheet padding-10mm">
            <tr class="border-0">
              <td>Nome</td>
              <td>Idade</td>
              <td>Nis/Responsável</td>
              <td>Celular</td>
              <td>Data</td>
              <td>Data</td>
              <td>Data</td>
              <td>Data</td>
              <td>Data</td>
              <td>Data</td>
              <td>Data</td>
              <td>Data</td>
              <td>Data</td>
            </tr>
            <tr class="border-0">
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td *ngFor="let d of p.dates">{{ d | date:'dd/MM/yy' }}</td>
            </tr>
          </thead>
          
          <tbody>
            <tr>
              <td>{{ p.name }}</td>
              <td>{{ p.age }}</td>
              <td>{{ p.nis | mask:'000.00000.00-0'}}</td>
              <td>{{ p.phoneNum | mask:'(00) 00000-0009' }}</td>
              <td *ngFor="let f of p.frequency">{{ f }}</td>
            </tr>

          </tbody>
    
        </ng-template>

        <!--------------------------- FOOTER ---------------------------------->
        <div class="footer-sv">
          <div class="row-sv mb-sv-none">
            <div class="col-sv ft-1 col-2">Secretaria de <br> Assistência Social</div>
  
            <div class="col-sv">CAPIM GROSSO - BA <br> CNPJ: 13.230.982/0001-50</div>
  
            <div class="col-sv ft-3">Rua Luiz Gonzaga, SN, Nova Morada <br> CEP: 44695-000</div>
  
            <div class="col-sv mt-2">© SIMVIS 3.0</div>
  
            <div class="col-sv ft-5 mt-2">1/10</div>
          </div>
        </div>
      </section>
  
    </div>
  
  </div>
  <ng-template #footer>
         <!--------------------------- FOOTER ---------------------------------->
         <div class="footer-sv">
            <div class="row-sv mb-sv-none">
              <div class="col-sv ft-1 col-2">Secretaria de <br> Assistência Social</div>
    
              <div class="col-sv">CAPIM GROSSO - BA <br> CNPJ: 13.230.982/0001-50</div>
    
              <div class="col-sv ft-3">Rua Luiz Gonzaga, SN, Nova Morada <br> CEP: 44695-000</div>
    
              <div class="col-sv mt-2">© SIMVIS 3.0</div>
    
              <div class="col-sv ft-5 mt-2">1/10</div>
            </div>
          </div>
  </ng-template>