<div class="modal-header">
  <h5 class="modal-title">{{ act.text?.milk }}</h5>
  <div *ngIf="act.doc.uid">
    <i class="p-1 ml-2 bg-warning text-dark rounded font-weight-bold">{{ arr.status[act.doc.status].text }}</i>
  </div>
  <button type="button" class="close" aria-label="Close" (click)="act.onCancel()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">

  <form #f="ngForm" class="was-validated">

    <div class="form-row">
      <div class="form-group col-12">

        <div class="form-row">
          <div class="col align-self-center">
            <label for="people"><strong>{{ act.text?.member }}</strong></label>
          </div>
          <div class="col-9">


            <select *ngIf="act.validPerson else personName" name="person" id="person" 
            (change)="act.setPersonByIndex2(act.sortPeople[$event.target.value]);
            act.checkNis(act.sortPeople[$event.target.value], 0);
            act.checkStatusOnService2(act.doc, act.milkList, 1)"
              class="custom-select" required>
              <option *ngFor="let person of act.sortPeople; let i = index" [value]="i"
                [selected]="act.doc.person.uid == person.uid">
                {{ person.name }}
              </option>
            </select>

            <ng-template #personName>
              <input type="text" name="name" [ngModel]="act.doc?.person.name" class="form-control"
                placeholder="{{ act.text.typeSomething }}" autocomplete="off">
            </ng-template>
            <div *ngIf="act.feedback" class="text-danger text-danger-sv">{{ act.feedback }}</div>
          </div>
        </div>

      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-12">

        <div class="form-row">
          <div class="col align-self-center">
            <label for="nis"><strong>{{ act.text?.nis }}</strong></label>
          </div>
          <div class="col">
            <input type="text" name="nis" [ngModel]="act.doc.person.nis" class="form-control" mask="000.00000.00-0"
              disabled autocomplete="off">
          </div>
        </div>

      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-12">

        <div class="form-row">
          <div class="col align-self-center">
            <label for="school"><strong>{{ act.text?.school }}</strong></label>
          </div>
          <div class="col-10">
            <input type="text" id="school" name="school" [(ngModel)]="act.doc.school.name" class="form-control"
              placeholder="{{ act.text?.typeSomething }}" autocomplete="off" required>
          </div>
        </div>

      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-12">

        <div class="form-row">
          <div class="col align-self-center">
            <label for="school"><strong>{{ act.text?.registrationDate }}</strong></label>
          </div>
          <div class="col-6">
            <input type="text" id="registrationDate" name="date" class="form-control" placement="bottom"
              [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY', containerClass: 'theme-dark-blue' }" bsDatepicker
              [ngModel]="act.doc.pickedDate | date:'dd-MM-yyyy'" (ngModelChange)="act.doc.pickedDate=$event"
              autocomplete="off">
          </div>
        </div>

      </div>
    </div>



    <div *ngIf="act.doc.status == 4" class="offIn">
      {{ act.text?.offIn }} {{ act.doc.updateAt.toDate() | date: 'dd/MM/yyyy' }}
    </div>
  </form>

</div>

<app-footer [label]="act.text?.removeOfProgram" [hasSwitch]="act.doc.uid && act.doc.status == 1" 
  [statusValue]="4" [valid]="f.form.valid && act.valid[0] && act.valid[1]" 
  [action]="str.editServiceMilk"></app-footer>