<div class="form-row">
  <div class="form-group col-12">
    <label *ngIf="label" for="{{ label }}-simvis"><strong>{{ label }}</strong></label>
    <textarea *ngIf="canChange else fix" #textarea="ngModel" rows="3" cols="50" id="{{ label }}-simvis"
      name="{{ label }}-simvis" class="form-control" [ngModel]="model" (ngModelChange)="onEdit($event, textarea)"
      placeholder="{{ act.text?.typeSomething }}" [required]="req"></textarea>
  </div>
  <ng-template #fix>
    <textarea rows="3" cols="50" id="{{ label }}-simvis" name="{{ label }}-simvis" class="form-control"
      [ngModel]="model" placeholder="{{ act.text?.typeSomething }}" disabled></textarea>
  </ng-template>
</div>

    <!-- <fieldset ngModelGroup="address">
      <div>
        <label>Zip:</label>
        <input type="text" name="zip" ngModel required>
      </div>
      <div>
        <label>Street:</label>
        <input type="text" name="street" ngModel required>
      </div>
      <div>
        <label>City:</label>
        <input type="text" name="city" ngModel required>
      </div>
      <div>
        <label>City:</label>
        <select [ngModel]="model" name="sel" required>
          <option *ngFor="let i of list">{{i}}</option>
        </select>
      </div>
    </fieldset> -->