<div class="modal-header">
    <h5 class="modal-title">{{ act.text?.route }}</h5>
    <div *ngIf="act.doc.uid">
      <i class="p-1 ml-2 bg-warning text-dark rounded font-weight-bold">{{ arr.status[act.doc.status].text }}</i>
    </div>
    <button type="button" class="close" aria-label="Close" (click)="act.onCancel()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  
  <div class="modal-body">
  
    <div *ngIf="act.doc.uid" class="form-row">
      <div class="form-group col-12 text-right">
        <button type="button" class="btn btn-secondary btn-sm" (click)="act.routerToFamily(act.doc.familyUid)">{{
          act.text?.openFamily }}</button>
      </div>
    </div>
  
    <form #f="ngForm" class="was-valid">

      <div class="form-row">
        <div class="form-group col-12">
          <label>
            <strong>{{ act.text?.destiny }}</strong>
          </label>
          <select name="sector" (change)="act.doc.sector = act.parseInt($event.target.value)" class="custom-select"
            [disabled]="act.doc.sector == act.auth.user.subSector" [required]="act.doc.sector == act.auth.user.subSector">
            <option *ngFor="let sector of act._arr.sectorType" [value]="sector.index"
              [selected]="act.doc.sector == sector.index">
              {{sector.text}}
            </option>
          </select>
        </div>
      </div>
  
      
  
      <div class="form-row">
        <div class="form-group col-12">
          <label>
            <strong>{{ act.text?.attachment }}</strong>
          </label>
          <div class="custom-file">
            <input type="file" id="file" name="file" (change)="act.detectFiles($event.target.files[0])"
              [disabled]="act.doc.sector == act.auth.user.subSector" accept=".png,.jpg" class="custom-file-input"
              lang="pt-BR">
            <label class="custom-file-label" for="customFile">{{ act.doc.filename }}</label>
          </div>
        </div>
      </div>
  
      <div *ngIf="act.doc.fileUrl" class="form-row">
        <div class="form-group col-12">
          <a href="{{act.doc.fileUrl}}" target="_blank" class="btn btn-info">{{ act.text?.downloadFile }}</a>
        </div>
      </div>
  
      <!-- <app-textarea [label]="act.text.reason" [model]="act.doc.detail" [req]="true"
          (changeText)="act.doc.detail = $event" ></app-textarea> -->
  
     <div class="form-row">
        <div class="form-group col-12">
          <label for="detail"></label>
          <label><strong>{{ act.text?.reason }}</strong></label>
          <textarea rows="3" id="detail" cols="50" name="detail" class="form-control" [(ngModel)]="act.doc.detail"
            placeholder="{{ act.text?.typeSomething }}" required>
          </textarea>
        </div>
      </div>
  
      <div *ngIf="act.doc.uid">
        <!-- <div class="form-row">
          <div class="form-group col-12">
            <label for="_detail"><strong>{{ act.text?.response }}</strong></label>
            <textarea [(ngModel)]="act.doc.extraDetail" rows="3" id="_detail" cols="50" class="form-control" name="_detail"
              (ngModelChange)="act.doc.extraDetail = $event" placeholder="{{ act.text?.typeSomething }}"></textarea>
              
          </div>
  
        </div>
   -->
        <div *ngIf="act.doc.uid" class="form-row">
          <div class="form-group col-lg-4 col-xl-2 col-md-6">
            <div *ngIf="act.doc.status == 0 && act.doc.sector == act.auth.user.subSector">
              <div class="custom-control custom-radio custom-control-inline">
                <div class="custom-control custom-switch">
                  <input type="checkbox" class="custom-control-input" id="inAnalyze" 
                        (change)="act.setStatus(11, $event.target.checked)">
                  <label class="custom-control-label" for="inAnalyze">{{ act.text?.inAnalyze }}</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <div *ngIf="act.doc.status == 3 && act.doc.updateBy" class="form-row">
        <div class="form-group col-12 strong">
          {{ act.text?.reviewedBy }} {{ act.doc.updateBy.fullName }} - {{ act.doc.updateBy.subSector }} {{ act.text?.in }}
          {{ act.doc.updateAt.toDate() | date: 'dd/MM/yyyy' }}
        </div>
      </div>
  
    </form>
  
  </div>
 
  <app-footer [label]="act.text?.attended"
  [hasSwitch]="act.doc.uid && act.doc.sector == auth.user.subSector" [statusValue]="2" [valid]="f.form.valid"
  [active]="true" [action]="str.editServiceRoute"></app-footer>