<div class="modal-header">
  <h5 class="modal-title">{{ act.text?.reference }}</h5>
  <div *ngIf="act.doc.uid">
    <i class="p-1 ml-2 bg-warning text-dark rounded font-weight-bold">{{ arr.status[act.doc.status].text }}</i>
  </div>
  <button type="button" class="close" aria-label="Close" (click)="act.onCancel()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">

  <form (ngSubmit)="onSubmit(f.form.valid)" #f="ngForm" class="was-validated">

    <div class="form-row">
      <div class="form-group col-12">

        <div class="form-row">
          <div class="col align-self-center">
            <label for="number"><strong>{{ act.text?.suasNumber }}</strong></label>
          </div>
          <div class="col">
            <input type="text" id="number" name="number" class="form-control" [(ngModel)]="act.doc.number"
              placeholder="{{ act.text?.typeSomething }}" mask="0*" autocomplete="off" required>
          </div>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-12">

        <div class="form-row">
          <div class="col align-self-center">
            <label for="date"><strong>{{ act.text?.referenceDate }}</strong></label>
          </div>
          <div class="col">
            <input type="text" id="date" name="pickedDate" class="form-control" [minDate]="act.minDate"
              [maxDate]="act.maxDate" placement="bottom"
              [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY', containerClass: 'theme-dark-blue' }" bsDatepicker
              [ngModel]="act.doc.pickedDate | date:'dd-MM-yyyy'" (ngModelChange)="act.doc.pickedDate=$event"
              autocomplete="off" required>
          </div>
        </div>

      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-12">
        <label for="course"><strong>{{ act.text?.familyReferenceCourse }}</strong></label>
        <input type="text" id="course" name="course" class="form-control" [(ngModel)]="act.doc.course"
          placeholder="{{ act.text?.typeSomething }}" autocomplete="off" required>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-12">
        <label for="info"><strong>{{ act.text?.infoC }}</strong></label>
        <div *ngFor="let info of arr.extraInformations">
          <div class="custom-control custom-checkbox">
            <input type="checkbox" id="{{ info.text }}" name="{{ info.text }}" class="custom-control-input"
              (change)="act.updateArr(info.index, act._doc.extraInformations)"
              [checked]="act.indexOf(info.index, act.doc.extraInformations)">
            <label for="{{ info.text }}" class="custom-control-label">{{ info.text }}</label>
          </div>

        </div>
      </div>
    </div>



    <div *ngFor="let p of act.people; let i = index">

      <label><strong>{{ p?.name }} {{ ' - ' + p?.nis }}</strong> <span
          class="ml-2 cursor-pointer text-primary fas fa-plus" (click)="act.hide[i] = !act.hide[i]"></span></label>

      <div id="people{{i}}" *ngIf="act.hide[i]">

        <app-select [index]="act._doc[p.uid].benefitRef" [array]="arr.bpcType" [label]="act.text?.familyReceives"
          (changeOption)="act._doc[p.uid].benefitRef = act.parseInt($event)"></app-select>

        <div class="form-row">
          <div class="form-group col-12">

            <label  ><strong>{{ act.text?.hasDeficiency + "home" }}</strong></label>
            <div *ngFor="let info of arr.deficiencyType; let i = index" class="custom-control custom-checkbox">
              <input type="checkbox" id="{{ p.uid + info.text }}" name="{{ p.uid + info.text }}"
                class="custom-control-input" (change)="act.updateArr(info.index, act._doc[p.uid].deficiencies)"
                [checked]="act.indexOf(info.index, act._doc[p.uid].deficiencies)">
              <label for="{{ p.uid + info.text }}" class="custom-control-label">{{ info.text }}</label>
            </div>


          </div>
        </div>
        <app-checkbox [label]="act.text?.infoC" [array]="arr.extraInfosPerson"
          [indexes]="act._doc[p.uid].extraInformations" [uid]="p.uid"
          (changeOption)="act.updateArr(act.parseInt($event), act._doc[p.uid].extraInformations)">
        </app-checkbox>
      </div>

    </div>

    <div class="form-row">
      <div class="form-group col-12">
        <label for="detail"></label>
        <label><strong>{{ act.text?.detail }}</strong></label>
        <textarea rows="3" id="detail" cols="50" name="detail" class="form-control" [ngModel]="act.doc.detail"
          (ngModelChange)="act._doc.detail = $event" placeholder="{{ act.text?.typeSomething }}">
        </textarea>
      </div>
    </div>

    <div *ngIf="act._doc.status == 4 || act.doc.status == 4" class="form-row">
      <div class="form-group col-12">

        <div class="form-row">
          <div class="col align-self-center">
            <label for="reason"><strong>{{ act.text?.reason }}</strong></label>
          </div>
          <div class="col-7">
            <select name="reason" id="reason" [ngModel]="act.doc.reason"
              (change)="act._doc.reason = act.parseInt($event.target.value)" class="custom-select" required>
              <option *ngFor="let reason of arr.reasonsToSetOff" [value]="reason.index">
                {{ reason.text }}
              </option>
            </select>
          </div>
        </div>

      </div>
    </div>

  </form>

  <div *ngIf="act.doc.status == 4" class="offIn">
    {{ act.text?.offIn }} {{ act.doc.updateAt.toDate() | date: 'dd/MM/yyyy' }}
  </div>

</div>

<app-footer [label]="act.text?.setOff"
  [hasSwitch]="act.doc.uid && act.doc.status == 1" [statusValue]="4" [valid]="f.form.valid"
  [active]="true" [action]="str.editServiceReference"></app-footer>