<!-- <h2>Complex form with address component</h2>
<form #myForm="ngForm">
  <div>
    <label>Firstname:</label>
    <input type="text" name="firstName" ngModel>
  </div>
  <div>
    <label>Lastname:</label>
    <input type="text" name="lastName" ngModel>
  </div>
  <app-textarea></app-textarea>
</form>
<pre>{{ myForm.value | json }}</pre>
{{myForm.valid}} -->

<div class="modal-header">
  <h5 class="modal-title">{{ act.text?.hc }}</h5>
  <div *ngIf="act.doc.uid">
    <i class="p-1 ml-2 bg-warning text-dark rounded font-weight-bold">{{ arr.status[act.doc.status].text }}</i>
  </div>
  <button type="button" class="close" aria-label="Close" (click)="act.onCancel()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">

  <div *ngIf="act.doc.uid" class="form-row">
    <!-- <div class="form-group col-4">
        <button type="button" class="btn btn-primary btn-sm"
          (click)="act.visitPlan = !act.visitPlan">{{ textService.visitPlan }}</button>
      </div> -->
    <div class="form-group col text-right">
      <!-- <button *ngIf="act.doc.uid" (click)="act.sheetHcPlan(act.doc, act.address, sheetPlan)" class="btn btn-info btn-sm"
          title="{{act.text?.sheet}}"><span class="fas fa-file-pdf"></span></button> -->
      <button type="button" class="btn btn-secondary btn-sm" (click)="act.routerToFamily(act.doc.familyUid)">{{
              act.text?.openFamily }}</button>
    </div>
  </div>


  <form #f="ngForm" class="was-validated">

    <!-- visitPlan start -->
    <div id="visitPlan" *ngIf="act.visitPlan">

      <app-select [index]="act.doc.plan.month" [array]="arr.monthOfYear" [label]="act.textService.month"
        (changeOption)="act.doc.plan.month = act.parseInt($event)"></app-select>

      <app-select [index]="act.doc.plan.rangeAge" [array]="arr.rangeAgePlan" [label]="act.textService.rangeAge"
        (changeOption)="act.doc.plan.rangeAge = act.parseInt($event)"></app-select>

      <app-textarea [model]="act.doc.plan.objective" [label]="act.text?.objective"
        (changeText)="act.doc.plan.objective = $event"></app-textarea>

      <app-textarea [model]="act.doc.plan.object" [label]="act.textService.usedObjects"
        (changeText)="act.doc.plan.object = $event"></app-textarea>

      <app-textarea [model]="act.doc.plan.comments" [label]="act.textService.observation"
        (changeText)="act.doc.plan.comments = $event"></app-textarea>

      <form #f2>
        <app-textarea [model]="act.doc.plan.activity" [label]="act.textService.doActivity"
          (changeText)="act.doc.plan.activity = $event"></app-textarea>

        <div class="form-row">
          <div class="form-group col-12 text-right">
            <button type="button"
              (click)="act.updateArr(act.doc.plan.activity, act.doc.plan.activities); act.doc.plan.activity = null"
              class="btn btn-secondary">{{ act.textService.add }}</button>
          </div>
        </div>

        <div *ngIf="act.doc.plan.activities" class="form-row">
          <div *ngFor="let a of act.doc.plan.activities" class="form-group col-12 text-right">
            <a (click)="act.updateArr(a, act.doc.plan.activities)">{{ a + ' (' + act.text?.delete + ')' }}</a>
          </div>
        </div>
      </form>

    </div>
    <!-- visitPlan end -->

    <div class="form-row">
      <div class="form-group col-12">

        <div class="form-row">
          <div class="col align-self-center">
            <label for="person"><strong>{{ act.text?.users }}</strong></label>
          </div>
          <div class="col-9">
            <select *ngIf="act.validPerson else personName" name="people" id="people" (change)="act.setPersonByIndex2(act.sortPeople[$event.target.value]);
              act.checkNis(act.doc.person, 0);
              act.checkStatusOnService2(act.doc, act.hcList, 1)" class="custom-select" required>
              <option *ngFor="let person of act.sortPeople; let i = index" [value]="i"
                [selected]="act.doc.person.uid == person.uid">
                {{ person.name }}
              </option>
            </select>

            <ng-template #personName>
              <input type="text" name="name" [ngModel]="act.doc.person.name" class="form-control"
                placeholder="{{ act.text?.typeSomething }}" autocomplete="off">
            </ng-template>
            <div *ngIf="act.feedback" class="text-danger text-danger-sv">{{ act.feedback }}</div>
          </div>
        </div>
      </div>
    </div>


    <div class="form-row">
      <div class="form-group col-12">

        <div class="form-row">
          <div class="col align-self-center">
            <label for="nis"><strong>{{ act.text?.nis }}</strong></label>
          </div>
          <div class="col">
            <input type="text" name="nis" [ngModel]="act.doc.person.nis" class="form-control" mask="000.00000.00-0"
              disabled autocomplete="off">
          </div>
        </div>

      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-12">
        <label for="access"><strong>{{ act.text?.access }}</strong></label>
        <select name="access" id="access" [ngModel]="act.doc.accessType"
          (change)="act.doc.accessType = act.parseInt($event.target.value)" class="custom-select" required>
          <option *ngFor="let at of arr.accessType" [value]="at.index">
            {{ at.text }}
          </option>
        </select>
      </div>
    </div>
    <!-- <div *ngIf="act.familyUid"> -->

    <!-- <app-select [index]="act.doc.target" [array]="act.filterList[0]" [label]="act.text?.public"
        [canChange]="act.familyUid" (changeOption)="act._doc.target = act.parseInt($event)"></app-select> -->

    <div class="form-row">
      <div class="form-group col-12">

        <div class="form-row">
          <div class="col align-self-center">
            <label><strong>{{ act.text?.public }}</strong></label>
          </div>
          <div class="col-8">
            <select name="target" id="target" [ngModel]="act.doc.target"
              (change)="act.doc.target = act.parseInt($event.target.value)" class="custom-select" required>
              <option *ngFor="let t of arr.targetHc" [value]="t.index">
                {{ t.text }}
              </option>
            </select>
          </div>
        </div>

      </div>
    </div>

    <!-- <app-select *ngIf="act._doc.target != 0" [index]="act.doc.rangeAge" [array]="act.filterList[1]"
        [label]="textService?.rangeAge" [canChange]="act.familyUid"
        (changeOption)="act._doc.rangeAge = act.parseInt($event)"></app-select> -->

    <div class="form-row">
      <div class="form-group col-12">

        <div class="form-row">
          <div class="col align-self-center">
            <label><strong>{{ text.rangeAge }}</strong></label>
          </div>
          <div class="col-8">

            <select name="rangeAge" id="rangeAge" [ngModel]="act.doc.rangeAge"
              (change)="act.doc.rangeAge = act.parseInt($event.target.value)" class="custom-select" required>
              <option *ngFor="let item of arr.rangeAgeHc" [value]="item.index">
                {{ item.text }}
              </option>
            </select>
          </div>
        </div>

      </div>
    </div>

    <!-- </div> -->

    <div *ngIf="act.auth.user?.roles.editReport || act.auth.user?.roles.thanos" class="form-row">
      <div class="form-group col-12">

        <label for="professional-simvis"><strong>{{ act.text?.professional }}</strong></label>
        <div *ngIf="act.familyUid else proInfo">
          <input list="brow" name="visitor-simvis" [ngModel]="act.doc.professional.info"
            (keyup)="act.findInDataset($event.target.value, act.users); act.setProfessional($event.target.value, 2)"
            class="form-control" autocomplete="off" required>
          <datalist id="brow">
            <div *ngFor="let u of act.listUser; let i = index">
              <option *ngIf="i <= 6" [id]="u.fullName" [value]="u.fullName">{{ u.fullName }}</option>>
            </div>
          </datalist>
        </div>
        <ng-template #proInfo>
          <input type="text" name="name" [ngModel]="act.doc.professional.info" class="form-control"
            placeholder="{{ act.text?.typeSomething }}" autocomplete="off">
        </ng-template>

      </div>
    </div>

    <app-textarea [model]="act.doc.detail" (changeText)="act.doc.detail = $event" [label]="act.text?.needs"
      [canChange]="auth.canEdit([str.esHc, str.editReport])">
    </app-textarea>

    <div *ngIf="act._doc.status == 4 || act.doc.status == 4">

      <div class="form-row">
        <div class="col align-self-center">
          <label for="reason"><strong>{{ act.text?.reason }}</strong></label>
        </div>
        <div class="col-7">
          <select name="reason" id="reason" [ngModel]="act.doc.reason"
            (change)="act._doc.reason = act.parseInt($event.target.value)" class="custom-select" required>
            <option *ngFor="let reason of arr.reasonsToSetOff" [value]="reason.index
              ">
              {{ reason.text }}
            </option>
          </select>
        </div>
      </div>

    </div>
  </form>

  <div *ngIf="act.doc.uid && act._doc.note" class="was-validated">

    <form *ngIf="act.doc.status != 4 && act.familyUid" #f2="ngForm">

      <div class="form-row">
        <div class="form-group col-12">
          <label for="note"><strong>{{ act.text?.aboutFamily }}</strong></label>
          <textarea rows="3" cols="50" class="form-control" name="note" [(ngModel)]="act._doc.note.text"
            placeholder="{{ act.text?.typeSomething }}" required></textarea>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-12">
          <app-radio (changeOption)="act._doc.note.frequency = arr.monthPeriod[$event].index"
            [label]="act.text.frequency" [array]="arr.monthPeriod" [required]="false">
          </app-radio>
        </div>
      </div>

      <div class="form-row text-right">
        <div class="form-group col-12">
          <button type="button" (click)="act.setNestedDoc(act._doc.note, str.esHcNote, f2.form.valid)"
            class="btn btn-primary btn-sm" [disabled]="!f2.form.valid">{{act.text?.sendNote}}</button>
        </div>
      </div>

    </form>

    <div *ngIf="act.listNoteHc.length && act.familyUid" class="form-row">
      <div class="form-group col-12">
        <button class="btn btn-sm btn-secondary"
          (click)="act.routerToFamilyDataList(noteModal, str.esHcNotes, act.listNoteHc, act.text?.aboutFamily, str.note, true)">
          <span class="fas fa-list"></span> {{ textService.listNotes }}
        </button>
      </div>
    </div>

    <!-- <app-textarea></app-textarea> -->


    <div class="form-row">
      <div class="form-group col-12">
        <div *ngIf="act.listNoteHc.length" class="col-12-sv">
          <div *ngFor="let note of act.listNoteHc | slice:0:2">
            <app-item-note [note]="note"></app-item-note>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<app-footer [label]="act.text?.setOff" [hasSwitch]="act.doc.uid && act.doc.status == 1" [statusValue]="4"
  [valid]="f.form.valid && act.valid[0] && act.valid[1] && act.valid[2]" [action]="str.editServiceHc" [active]="true">
</app-footer>

<ng-template #noteModal>
  <app-edit-note (confirm)="act.setNestedDoc(act._doc.note, str.esHcNote)"></app-edit-note>
</ng-template>

<ng-template #sheetPlan>
  <app-hc-plan-sheet></app-hc-plan-sheet>
</ng-template>