<div class="container-fluid p-0">
 <div class="row no-gutters">

  <div class="col-8">
   <span class="user-sv"><span class="fas fa-hashtag c-i"></span>
    {{ note.user?.fullName }} - {{ arr.sectorType[note.user?.subSector].text }}</span>
  </div>

  <div class="col text-right">
   <span class="date-sv">{{ note.updateAt?.toDate() | date: 'dd/MM/yyyy'}}</span>
  </div>

 </div>

 <div class="row no-gutters mb-3">

  <div class="col-12">
   <span class="detail-sv">
       <div *ngIf="note.frequency > -1">
            {{arr.monthPeriod[note.frequency].text + ' - '}}
       </div>
 {{ note.text }}</span>
  </div>

 </div>

</div>