<div class="container_sv">

  <!-- Left Bar -->

  <app-menu></app-menu>

  <!-- End Left Bar -->

  <app-alert-popup></app-alert-popup>

  <div class="content-sv">
    <div class="innercontent-sv">

      <h2 *ngIf="auth.user && auth.user.subSector">{{ arr.sectorType[auth.user.subSector].text }}</h2>
      <hr class="line">

      <router-outlet ></router-outlet>

    </div>
  </div>

</div>