<div class="container-sv">

  <div class="row">
    <div class="col">
      <h5 class="align-self-center">{{ act.text?.infoCity }}</h5>
    </div>

    <div class="col-md-auto text-right margin-button">
      <img class="rounded-lg" [src]="act.doc.fileUrlPref || 'https://api.adorable.io/avatars/109/fire.png'" width=70px
        height="70px">

      <img class="rounded-lg" [src]="act.doc.fileUrlOrg || 'https://api.adorable.io/avatars/109/fire.png'" width=70px
        height="70px">
    </div>

  </div>

  <hr class="mt-1">

  <form #f="ngForm" class="was-validated">

    <div class="form-row">
      <div class="form-group col-12 col-lg-8 col-xl-4">
        <label for="organName"><strong>{{ act.text?.organName }}</strong></label>
        <input type="text" name="organName" [(ngModel)]="act.doc.orgName" class="form-control"
          placeholder="{{ act.text?.typeSomething }}" autocomplete="off" required>
      </div>

      <div class="form-group col-12 col-lg-8 col-xl-6">
        <label for="address"><strong>{{ act.text?.address }}</strong></label>
        <input type="text" name="address" [(ngModel)]="act.doc.address.street" class="form-control"
          placeholder="{{ act.text?.typeSomething }}" autocomplete="off" required>
      </div>

      <div class="form-group col-6 col-lg-5 col-xl-2">
        <label for="district"><strong>{{ act.text?.district }}</strong></label>
        <input type="text" name="district" [(ngModel)]="act.doc.address.district" class="form-control"
          placeholder="{{ act.text?.typeSomething }}" autocomplete="off" required>
      </div>

      <div class="form-group col-6 col-lg-3 col-xl-2">
        <label for="number"><strong>{{ act.text?.number }}</strong></label>
        <input type="text" name="number" [(ngModel)]="act.doc.address.number" class="form-control"
          placeholder="{{ act.text?.typeSomething }}" mask="0*" autocomplete="off" required>
      </div>

      <div class="form-group col-6 col-xl-2">
        <label for="city"><strong>{{ act.text?.city }}</strong></label>
        <input type="text" name="city" [(ngModel)]="act.doc.address.city" class="form-control"
          placeholder="{{ act.text?.typeSomething }}" autocomplete="off" required>
      </div>

      <div class="form-group col-6 col-lg-3 col-xl-2">
        <label for="cep"><strong>{{ act.text?.cep }}</strong></label>
        <input type="text" name="cep" [(ngModel)]="act.doc.address.cep" class="form-control"
          placeholder="{{ act.text?.typeSomething }}" mask="00000-000" autocomplete="off" required>
      </div>

      <div class="form-group col-6 col-lg-4 col-xl-2">
        <label for="state"><strong>{{ act.text?.state }}</strong></label>
        <input type="text" name="state" [(ngModel)]="act.doc.address.state" class="form-control"
          placeholder="{{ act.text?.typeSomething }}" autocomplete="off" required>
      </div>

      <div class="form-group col-6 col-lg-4 col-xl-2">
        <label for="ibgeCod"><strong>{{ act.text?.ibgeCod }}</strong></label>
        <input type="text" name="ibgeCod" [ngModel]="act.doc.code" class="form-control" disabled
        autocomplete="off" required>
      </div>

      <div class="form-group col-6 col-lg-4 col-xl-2">
        <label for="cnpj"><strong>{{ act.text?.cnpj }}</strong></label>
        <input type="text" name="cnpj" [(ngModel)]="act.doc.cnpj" class="form-control"
          placeholder="{{ act.text?.typeSomething }}" mask="00.000.000/000-00" autocomplete="off" required>
      </div>

      <div class="form-group col-6 col-lg-4 col-xl-2">
        <label for="phone"><strong>{{ act.text?.phone }}</strong></label>
        <input type="text" name="phone" [(ngModel)]="act.doc.phoneNum" class="form-control"
          placeholder="{{ act.text?.typeSomething }}" mask="(00) 00000-0009" autocomplete="off" required>
      </div>

      <div class="form-group col-6 col-lg-4 col-xl-3">
        <label>
          <strong>{{ act.text?.prefectureLogo }}</strong>
        </label>
        <div class="custom-file">
          <input type="file" id="prefectureLogo" name="prefectureLogo"
            (change)="act.setFile(str.prefLogo, $event.target.files[0])" accept=".png,.jpg" class="custom-file-input"
            lang="pt-BR">
          <label class="custom-file-label" for="customFile">
            {{ (act.doc.prefLogo?.name.length > 6) ? (act.doc.prefLogo?.name | slice:0:6)+'..':(act.doc.prefLogo?.name) }}
          </label>
        </div>
      </div>

      <div class="form-group col-6 col-lg-4 col-xl-3">
        <label>
          <strong>{{ act.text?.organLogo }}</strong>
        </label>
        <div class="custom-file">
          <input type="file" id="organLogo" name="organLogo" (change)="act.setFile(str.orgLogo, $event.target.files[0])"
            accept=".png,.jpg" class="custom-file-input" lang="pt-BR">
            <label class="custom-file-label" for="customFile">
              {{ (act.doc.orgLogo?.name.length > 6) ? (act.doc.orgLogo?.name | slice:0:6)+'..':(act.doc.orgLogo?.name) }}
            </label>
        </div>
      </div>
    </div>

  </form>

  <div class="form-row sv">

    <div class="col col-4">
      <small>{{ act.text?.requiredField }}</small>
    </div>
    <div class="col-8 text-right">
      <button type="button" (click)="onSubmit(f.form.valid)" class="btn btn-primary"
        [disabled]="!f.form.valid">{{ act.text?.ok }}</button>
      <button type="button" (click)="act.onCancel()" class="btn btn-secondary">{{ act.text?.cancel }}</button>
    </div>

  </div>


</div>