<div class="modal-header">
  <h5 class="modal-title">{{ act.text?.benefit }}</h5>
  <div *ngIf="act.doc.uid">
    <i class="p-1 ml-2 bg-warning text-dark rounded font-weight-bold">{{ arr.status[act.doc.status].text }}</i>
  </div>
  <button type="button" class="close" aria-label="Close" (click)="act.onCancel()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">

  <form  #f="ngForm" class="was-validated">

    <div class="form-row">
      <div class="form-group col-12">

        <div class="form-row">
          <div class="col align-self-center">
            <label for="requestDate"><strong>{{ act.text?.requestDate }}</strong></label>
          </div>
          <div class="col">
            <input type="text" id="requestDate" name="requestDate" class="form-control" [minDate]="act.minDate"
              placement="bottom" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY', containerClass: 'theme-dark-blue' }"
              bsDatepicker [ngModel]="act.doc.requestDate | date:'dd-MM-yyyy'"
              (ngModelChange)="act.doc.requestDate=$event" autocomplete="off" required>
          </div>
        </div>

      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-12">

        <div class="form-row">
          <div class="col align-self-center">
            <label for="benefit"><strong>{{ act.text?.benefitType }}</strong></label>
          </div>
          <div class="col-7">
            <select name="benefit" id="benefit" [ngModel]="act.doc.benefit"
            (change)="act.doc.benefit = act.parseInt($event.target.value)" class="custom-select" required>
              <option *ngFor="let benefit of arr.benefitType" [value]="benefit.index">
                {{ benefit.text }}
              </option>
            </select>
          </div>
        </div>

      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-12">
        <label for="detail"><strong>{{ act.text?.detail }}</strong></label>
        <textarea rows="3" cols="50" id="detail" name="detail" class="form-control" [(ngModel)]="act.doc.detail"
          placeholder="{{ act.text?.typeSomething }}" required></textarea>
      </div>
    </div>

    <div *ngIf="(act.doc.uid && act._doc.status == 10) || act.doc.status == 10" class="form-row">
      <div class="form-group col-12">

        <div class="form-row">
          <div class="col align-self-center">
            <label for="date"><strong>{{ act.text?.benefitDate }}</strong></label>
          </div>
          <div class="col">
            <input type="text" id="date" name="pickedDate" class="form-control" [minDate]="act.minDate"
              placement="bottom" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY', containerClass: 'theme-dark-blue' }"
              bsDatepicker [ngModel]="act.doc.pickedDate | date:'dd-MM-yyyy'"
              (ngModelChange)="act._doc.pickedDate=$event" autocomplete="off" required>
          </div>
        </div>

      </div>
    </div>

  </form>

</div>

<app-footer [label]="act.text?.granted" [hasSwitch]="act.doc.uid && act.doc.status == 0" 
  [statusValue]="10" [valid]="f.form.valid"  
  [action]="str.editServiceBenefit"></app-footer>