<div class="navbar-sv">

  <div class="name-logo">
    <a routerLink="/dashboard/content">{{ act.text?.titleSite }}</a>
  </div>

  <div class="btnMenu-sv">
    <input type="checkbox" id="toggle" (click)="act.openMenu()">
    <label for="toggle"><span class="fas fa-bars"></span></label>
  </div>

  <div class="d-flex scroll">

    <div class="navbtnL-sv">
      <div>
        <a id="searchBtn" title="Pesquisar" (click)="act.searchDiv = !act.searchDiv">
          <span class="fas fa-search font-size1"></span>
        </a>
      </div>

      <div class="bottom-help">
        <a title="Ajuda">
          <span class="fas fa-question-circle"></span>
        </a>
      </div>

      <div class="bottom-perfil">
        <a routerLink="/dashboard/profile" title="Perfil">
          <span class="fas fa-user-circle font-size2"></span>
        </a>
      </div>

    </div>

    <div class="navbtnR-sv">
      <div class="nav flex-column nav-link-sv">

        <a *ngIf="auth.user?.roles.esRoute || auth.user?.roles.thanos" class="nav-item" 
          (click)="act.routerToFamilyDataList(routeModal, str.editServiceRoute, act.routeList, act.text?.route, str.service)">
            <!-- <a *ngIf="auth.user?.roles.esRoute || auth.user?.roles.thanos" class="nav-item" (click)="act.openModal(routeModal, str.editServiceRoute, null)"> -->
          <div class="space">
            <span class="fas fa-forward"></span>
          </div>
          {{ act.text?.route }}
        </a>

        <a *ngIf="auth.user?.roles.esAttendance || auth.user?.roles.thanos" class="nav-item"  
          (click)="act.routerToFamilyDataList(attendanceModal, str.editServiceAttendance, act.attendanceList, act.text?.attendanceFD, str.service)">
            <!-- <a *ngIf="auth.user?.roles.esAttendance || auth.user?.roles.thanos" class="nav-item" (click)="act.openModal(attendanceModal, str.editServiceAttendance, null)"> -->
          <div class="space">
            <span class="fas fa-address-card"></span>
          </div>
          <div>
            {{ act.text?.attendance }}
          </div>
        </a>

        <a *ngIf="auth.user?.roles.esReference || auth.user?.roles.thanos" class="nav-item"  
          (click)="act.routerToFamilyDataList(referenceModal, str.editServiceReference, act.referencesList, act.text?.references, str.service)">
            <!-- <a *ngIf="auth.user?.roles.esReference || auth.user?.roles.thanos" class="nav-item" (click)="act.openModal(referenceModal, str.editServiceReference, null)"> -->
          <div class="space">
            <span class="fas fa-paperclip"></span>
          </div>
          {{ act.text?.reference }}
        </a>

        <a *ngIf="auth.user?.roles.esSchedule || auth.user?.roles.esVisit || auth.user?.roles.thanos" class="nav-item show-sv">
          <div class="space">
            <span class="fas fa-calendar-alt"></span>
          </div>
          {{ act.text?.scheduleNav }}

          <div class="sub-sv">
            <a *ngIf="auth.user?.roles.esSchedule || auth.user?.roles.thanos" class="nav-item"  
              (click)="act.routerToFamilyDataList(scheduleModal, str.editServiceSchedule, act.schedulesList, act.text?.scheduleAttendanceFD, str.service)">
                <!-- <a *ngIf="auth.user?.roles.esSchedule || auth.user?.roles.thanos" class="nav-item" (click)="act.openModal(scheduleModal, str.editServiceSchedule, null)"> -->
              <div class="space">
                <span class="fas fa-marker"></span>
              </div>
              {{ act.text?.attendance }}
            </a>

            <a *ngIf="auth.user?.roles.esVisit|| auth.user?.roles.thanos" class="nav-item"  
              (click)="act.routerToFamilyDataList(visitModal, str.editServiceVisit, act.visitList, act.text?.visits, str.service)">
                <!-- <a *ngIf="auth.user?.roles.esVisit|| auth.user?.roles.thanos" class="nav-item" (click)="act.openModal(visitModal, str.editServiceVisit, null)"> -->
              <div class="space">
                <span class="fas fa-home"></span>
              </div>
              {{ act.text?.visit }}
            </a>
          </div>

        </a>

        <a *ngIf="auth.user?.roles.esBenefit || auth.user?.roles.thanos" class="nav-item"  
          (click)="act.routerToFamilyDataList(benefitModal, str.editServiceBenefit, act.benefitList, act.text?.benefitNav, str.service)">
            <!-- <a *ngIf="auth.user?.roles.esBenefit || auth.user?.roles.thanos" class="nav-item" (click)="act.openModal(benefitModal, str.editServiceBenefit, null)"> -->
          <div class="space">
            <span class="fas fa-hand-holding-usd"></span>
          </div>
          {{ act.text?.benefitNav }}
        </a>

        <a *ngIf="auth.user?.roles.esGroup || auth.user?.roles.thanos" class="nav-item"  
          (click)="act.routerToFamilyDataList(groupModal, str.editServiceGroup, act.groupsList, act.text?.group, str.service)">
            <!-- <a *ngIf="auth.user?.roles.esGroup || auth.user?.roles.thanos" class="nav-item" (click)="act.openModal(groupModal, str.editServiceGroup, null)"> -->
          <div class="space">
            <span class="fas fa-users"></span>
          </div>
          {{ act.text?.group }}
        </a>

        <a *ngIf="auth.user?.roles.esFsp || auth.user?.roles.thanos" class="nav-item"  
          (click)="act.routerToFamilyDataList(fspModal, str.editServiceFsp, act.fspList, act.text?.fsp, str.service)">
            <!-- <a *ngIf="auth.user?.roles.esFsp || auth.user?.roles.thanos" class="nav-item" (click)="act.openModal(fspModal, str.editServiceFsp, null)"> -->
          <div class="space">
            <span class="fas fa-user-friends"></span>
          </div>
          {{ act.text?.fspNav }}
        </a>

        <a *ngIf="auth.user?.roles.esHc || auth.user?.roles.thanos" class="nav-item" 
          (click)="act.routerToFamilyDataList(hcModal, str.editServiceHc, act.hcList, act.text?.hcProgram, str.service)">
            <!-- <a *ngIf="auth.user?.roles.esHc || auth.user?.roles.thanos" class="nav-item" (click)="act.openModal(hcModal, str.editServiceHc, null)"> -->
          <div class="space">
            <span class="fas fa-smile-beam"></span>
          </div>
          {{ act.text?.hc }}
        </a>

        <a *ngIf="auth.user?.roles.esOld || auth.user?.roles.thanos" class="nav-item" 
          (click)="act.routerToFamilyDataList(oldModal, str.editServiceOld, act.oldServiceList, act.text?.old, str.service)">
            <!-- <a *ngIf="auth.user?.roles.esOld || auth.user?.roles.thanos" class="nav-item" (click)="act.openModal(oldModal, str.editServiceOld, null)"> -->
          <div class="space">
            <span class="fas fa-bed"></span>
          </div>
          {{ act.text?.old }}
        </a>

        <a *ngIf="auth.user?.roles.esNotification || auth.user?.roles.thanos" class="nav-item"  
          (click)="act.routerToFamilyDataList(notificationModal, str.editServiceNotification, act.notificationList, act.text?.notificationFD, str.service)">
            <!-- <a *ngIf="auth.user?.roles.esNotification || auth.user?.roles.thanos" class="nav-item" (click)="act.openModal(notificationModal, str.editServiceNotification, null)"> -->
          <div class="space">
            <span class="fas fa-bell"></span>
          </div>
          {{ act.text?.notification }}
        </a>

        <a *ngIf="auth.user?.roles.esTerm || auth.user?.roles.thanos" class="nav-item"  
          (click)="act.routerToFamilyDataList(termModal, str.editServiceTerm, act.termList, act.text?.termFD, str.service)">
            <!-- <a *ngIf="auth.user?.roles.esTerm || auth.user?.roles.thanos" class="nav-item" (click)="act.openModal(termModal, str.editServiceTerm, null)"> -->
          <div class="space">
            <span class="fas fa-book"></span>
          </div>
          {{ act.text?.term }}
        </a>

        <a *ngIf="auth.user?.roles.esDemand || auth.user?.roles.thanos" class="nav-item"  
          (click)="act.routerToFamilyDataList(demandModal, str.editServiceDemand, act.demandList, act.text?.demandFD, str.service)">
            <!-- <a *ngIf="auth.user?.roles.esDemand || auth.user?.roles.thanos" class="nav-item" (click)="act.openModal(demandModal, str.editServiceDemand, null)"> -->
          <div class="space">
            <span class="fas fa-list-alt"></span>
          </div>
          {{ act.text?.demand }}
        </a>

        <a *ngIf="auth.user?.roles.esAcessuas || auth.user?.roles.thanos" class="nav-item" 
          (click)="act.routerToFamilyDataList(acessuasModal, str.editServiceAcessuas, act.acessuasList, act.text?.acessuas, str.service)">
            <!-- <a *ngIf="auth.user?.roles.esAcessuas || auth.user?.roles.thanos" class="nav-item" (click)="act.openModal(acessuasModal, str.editServiceAcessuas, null)"> -->
          <div class="space">
            <span class="fas fa-universal-access"></span>
          </div>
          {{ act.text?.acessuas }}
        </a>

        <a *ngIf="auth.user?.roles.esAepeti || auth.user?.roles.thanos" class="nav-item" 
          (click)="act.routerToFamilyDataList(aepetiModal, str.editServiceAepeti, act.aepetiList, act.text?.aepeti, str.service)">
            <!-- <a *ngIf="auth.user?.roles.esAepeti || auth.user?.roles.thanos" class="nav-item" (click)="act.openModal(aepetiModal, str.editServiceAepeti, null)"> -->
          <div class="space">
            <span class="fas fa-tired"></span>
          </div>
          {{ act.text?.aepeti }}
        </a>

        <a *ngIf="auth.user?.roles.esCondition || auth.user?.roles.thanos" class="nav-item" 
          (click)="act.routerToFamilyDataList(conditionModal, str.editServiceCondition, act.conditionList, act.text?.condition, str.service)">
            <!-- <a *ngIf="auth.user?.roles.esCondition || auth.user?.roles.thanos" class="nav-item" (click)="act.openModal(conditionModal, str.editServiceCondition, null)"> -->
          <div class="space">
            <span class="fas fa-people-carry"></span>
          </div>
          {{ act.text?.condition }}
        </a>

        <a *ngIf="auth.user?.roles.esComplaint || auth.user?.roles.thanos" class="nav-item"
          (click)="act.routerToFamilyDataList(complaintModal, str.editServiceComplaint, act.complaintList, act.text?.complaint, str.service)">
            <!-- <a *ngIf="auth.user?.roles.esComplaint || auth.user?.roles.thanos" class="nav-item" (click)="act.openModal(complaintModal, str.editServiceComplaint, null)"> -->
          <div class="space">
            <span class="fas fa-bullhorn"></span>
          </div>
          {{ act.text?.complaints }}
        </a>

        <a *ngIf="auth.user?.roles.esPendancy|| auth.user?.roles.thanos" class="nav-item" 
          (click)="act.routerToFamilyDataList(pendencyModal, str.editServicePendency, act.pendencyList, act.text?.pendency, str.service)">
            <!-- <a *ngIf="auth.user?.roles.esPendancy|| auth.user?.roles.thanos" class="nav-item" (click)="act.openModal(pendencyModal, str.editServicePendency, null)"> -->
          <div class="space">
            <span class="fas fa-exclamation-triangle"></span>
          </div>
          {{ act.text?.pendency }}
        </a>

        <a *ngIf="auth.user?.roles.esInterview || auth.user?.roles.thanos" class="nav-item"  
          (click)="act.routerToFamilyDataList(interviewModal, str.editServiceInterview, act.interviewList, act.text?.interview, str.service)">
            <!-- <a *ngIf="auth.user?.roles.esInterview || auth.user?.roles.thanos" class="nav-item" (click)="act.openModal(interviewModal, str.editServiceInterview, null)"> -->
          <div class="space">
            <span class="fas fa-pen-alt"></span>
          </div>
          {{ act.text?.interview }}
        </a>

        <a *ngIf="auth.user?.roles.esFpgb || auth.user?.roles.thanos" class="nav-item"  
          (click)="act.routerToFamilyDataList(fpgbModal, str.editServiceFpgb, act.fpgbList, act.text?.fpgb, str.service)">
            <!-- <a *ngIf="auth.user?.roles.esFpgb || auth.user?.roles.thanos" class="nav-item" (click)="act.openModal(fpgbModal, str.editServiceFpgb, null)"> -->
          <div class="space">
            <span class="fas fa-money-check"></span>
          </div>
          {{ act.text?.fpgb }}
        </a>

        <a *ngIf="auth.user?.roles.esMilk || auth.user?.roles.thanos" class="nav-item" 
          (click)="act.routerToFamilyDataList(milkModal, str.editServiceMilk, act.milkList, act.text?.milkFD, str.service)">
            <!-- <a *ngIf="auth.user?.roles.esMilk || auth.user?.roles.thanos" class="nav-item" (click)="act.openModal(milkModal, str.editServiceMilk, null)"> -->
          <div class="space">
            <span class="fas fa-wine-glass-alt"></span>
          </div>
          {{ act.text?.milkNav }}
        </a>

        <a *ngIf="auth.user?.roles.esScfv || auth.user?.roles.thanos" class="nav-item" 
          (click)="act.routerToFamilyDataList(scfvModal, str.editServiceScfv, act.scfvList, act.text?.scfv, str.service)">
            <!-- <a *ngIf="auth.user?.roles.esScfv || auth.user?.roles.thanos" class="nav-item" (click)="act.openModal(scfvModal, str.editServiceScfv, null)"> -->
          <div class="space">
            <span class="fas fa-handshake"></span>
          </div>
          {{ act.text?.scfv }}
        </a>

      </div>
    </div>

  </div>

</div>

<div *ngIf="act.searchDiv">
  <app-search></app-search>
</div>

<ng-template #mapModal>
  <app-google-map (confirm)="act.onConfirm(str.editLocation, false)"></app-google-map>
</ng-template>

<ng-template #addressModal>
  <app-edit-address (confirm)="act.onConfirm(str.editAddress, false)"></app-edit-address>
</ng-template>

<ng-template #personModal>
  <app-edit-person (confirm)="act.onConfirm(str.editPerson, false)"></app-edit-person>
</ng-template>

<ng-template #noteModal>
  <app-edit-note (confirm)="act.onConfirm(str.editNote, false)"></app-edit-note>
</ng-template>

<ng-template #routeModal>
  <app-edit-route (confirm)="act.onConfirm(str.editServiceRoute, false)"></app-edit-route>
</ng-template>

<ng-template #visitModal>
  <app-edit-visit (confirm)="act.onConfirm(str.editServiceVisit, false)"></app-edit-visit>
</ng-template>

<ng-template #groupModal>
  <app-set-group (confirm)="act.onConfirm(str.editServiceGroup, false)"></app-set-group>
</ng-template>

<ng-template #benefitModal>
  <app-edit-benefit (confirm)="act.onConfirm(str.editServiceBenefit, false)"></app-edit-benefit>
</ng-template>

<ng-template #referenceModal>
  <app-edit-reference (confirm)="act.onConfirm(str.editServiceReference, false)"></app-edit-reference>
</ng-template>

<ng-template #attendanceModal>
  <app-edit-attendance (confirm)="act.onConfirm(str.editServiceAttendance, false)"></app-edit-attendance>
</ng-template>

<ng-template #scheduleModal>
  <app-edit-schedule-attendance (confirm)="act.onConfirm(str.editServiceSchedule, false)"></app-edit-schedule-attendance>
</ng-template>

<ng-template #fspModal>
  <app-edit-fsp (confirm)="act.onConfirm(str.editServiceFsp, false)"></app-edit-fsp>
</ng-template>

<ng-template #hcModal>
  <app-edit-happy-child (confirm)="act.onConfirm(str.editServiceHc, false)"></app-edit-happy-child>
</ng-template>

<ng-template #oldModal>
  <app-edit-old-service (confirm)="act.onConfirm(str.editServiceOld, false)"></app-edit-old-service>
</ng-template>

<ng-template #notificationModal>
  <app-edit-notification (confirm)="act.onConfirm(str.editServiceNotification, false)"></app-edit-notification>
</ng-template>

<ng-template #termModal>
  <app-edit-term (confirm)="act.onConfirm(str.editServiceTerm, false)"></app-edit-term>
</ng-template>

<ng-template #demandModal>
  <app-edit-demand (confirm)="act.onConfirm(str.editServiceDemand, false)"></app-edit-demand>
</ng-template>

<ng-template #acessuasModal>
  <app-edit-acessuas (confirm)="act.onConfirm(str.editServiceAcessuas, false)"></app-edit-acessuas>
</ng-template>

<ng-template #aepetiModal>
  <app-edit-aepeti (confirm)="act.onConfirm(str.editServiceAepeti, false)"></app-edit-aepeti>
</ng-template>

<ng-template #conditionModal>
  <app-edit-condition (confirm)="act.onConfirm(str.editServiceCondition, false)"></app-edit-condition>
</ng-template>

<ng-template #complaintModal>
  <app-edit-complaint (confirm)="act.onConfirm(str.editServiceComplaint, false)"></app-edit-complaint>
</ng-template>

<ng-template #interviewModal>
  <app-edit-interview (confirm)="act.onConfirm(str.editServiceInterview, false)"></app-edit-interview>
</ng-template>

<ng-template #fpgbModal>
  <app-edit-fpgb (confirm)="act.onConfirm(str.editServiceFpgb, false)"></app-edit-fpgb>
</ng-template>

<ng-template #milkModal>
  <app-edit-milk-service (confirm)="act.onConfirm(str.editServiceMilk, false)"></app-edit-milk-service>
</ng-template>

<ng-template #scfvModal>
  <app-edit-scfv (confirm)="act.onConfirm(str.editServiceScfv, false)"></app-edit-scfv>
</ng-template>

<ng-template #pendencyModal>
  <app-edit-pendency (confirm)="act.onConfirm(str.editServicePendency, false)"></app-edit-pendency>
</ng-template>
