<div class="container-sv">
  <form (ngSubmit)="act.onConfirm(str.editPsf)" #f="ngForm" class="was-validated">

    <div class="row">
      <div class="col">
        <h5 class="align-self-center">{{ act.text?.existingPsf }}</h5>
      </div>
      <div class="col-md-auto text-right margin-button">
        <button type="button" class="btn btn-primary"
          (click)="act.openModal(newPsf, str.editPsf, null)">{{ act.text?.new }}</button>
        <button type="button" class="btn btn-primary" (click)="act.getDistrictsToContent()">{{ act.text?.listPsf }}</button>
      </div>
    </div>

    <hr class="mt-1">

  </form>

  <div *ngIf="act.psfList.length > 0">
    <div class="form-row" *ngFor="let e of act.psfList">
      <div class="form-group m-0" (click)="act.openModal(newPsf, str.editPsf, e)">
        &nbsp; <span class="fas fa-map-signs c-i text-black-50"></span> &nbsp; <label
          class="text-dark text-capitalize cursor-pointer">{{ e.name }}</label>
      </div>
    </div>
    <hr>
  </div>

  <ng-template #newPsf>
    <app-edit-item [title]="act.text.newPsf"></app-edit-item>
  </ng-template>

</div>