<div class="modal-header">
  <h5 class="modal-title">{{ act.text?.user }}</h5>
  <button type="button" class="close" aria-label="Close" (click)="act.onCancel()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">

  <form #f="ngForm" class="was-validated">
    <div class="form-row">
      <div class="form-group col">
        <label for="fulll-name"><strong>{{ act.text?.fullName }}</strong></label>
        <input type="text" name="full-name" [(ngModel)]="act.doc.fullName" class="form-control" autocomplete="off"
          required>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col">
        <label for="e-simvis"><strong>{{ act.text?.email }}</strong></label>
        <input type="text" name="e-simvis" [(ngModel)]="act.doc.email" (keyup)="act.checkEmailUser($event.target.value)"
          class="form-control" required autocomplete="new-password">
      </div>
    </div>
    <div *ngIf="act.feedback" class="text-danger text-danger-sv">{{ act.feedback }}</div>

    <div class="form-row">
      <div class="form-group col">
        <label for="proReg"><strong>{{ act.text?.professionalRegistry }}</strong></label>
        <input type="text" name="proReg" [(ngModel)]="act.doc.proCode" class="form-control" autocomplete="off" required>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col">
        <label for="function"><strong>{{ act.text?.function }}</strong></label>
        <input type="text" name="function" [(ngModel)]="act.doc.function" class="form-control" autocomplete="off"
          required>
      </div>
    </div>

    <div *ngIf="act.auth.user?.roles.thanos" class="form-row">
      <div class="form-group col">
        <label for="code"><strong>{{ act.text?.cityCode }}</strong></label>
        <input type="text" name="code" [(ngModel)]="act.doc.city.code" mask="0*" class="form-control" autocomplete="off"
          required>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-12">
        <label for="role"><strong>{{ act.text?.activities }}</strong></label>
        <div *ngFor="let role of arr.roles2">
          <div class="custom-control custom-checkbox">
            <input type="checkbox" id="{{ role.level }}" name="{{ role.level }}" class="custom-control-input"
              (change)="act.updateRoles(role.level, $event.target.checked)"
              [checked]="act.hasRoles(act.doc.roles, role.level)">
            <label for="{{ role.level }}" class="custom-control-label">{{ role.text }}</label>
          </div>

        </div>
      </div>

    </div>

    <div *ngIf="!act.doc.uid" class="form-row">
      <div class="form-group col">
        <label for="p-simvis"><strong>{{ act.text?.pass }}</strong></label>
        <input type="password" name="p-simvis" [(ngModel)]="act.doc.password" class="form-control" minlength="6"
          autocomplete="new-password">
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col">
        <label for="sector"><strong>{{ act.text?.sector }}</strong></label>
        <select name="sector"
          (change)="act.doc.sector = act.parseInt($event.target.value);
           act.doc.subSector = act.parseInt($event.target.value); act.showLog($event.target.value)"
          class="custom-select" required>
          <option *ngFor="let sector of arr.sectorType" [value]="sector.index" [selected]="act.doc.sector == sector.index">
            {{ sector.text }}
          </option>
        </select>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col">
        <label for="sub-sector"><strong>{{ act.text?.subSector }}</strong></label>
        <select name="sub-sector" (change)="act.doc.subSector = act.parseInt($event.target.value)" class="custom-select" required>
          <option *ngFor="let sector of arr.sectorType" [value]="sector.index" [selected]="act.doc.subSector == sector.index">
            {{ sector.text }}
          </option>
        </select>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-4">
        <label for="phone"><strong>{{ act.text?.phone }}</strong></label>
        <input type="text" name="phone" [(ngModel)]="act.doc.phone" class="form-control" mask="(00) 00000-0009"
          minlength="10" autocomplete="off" required>
      </div>

      <div class="form-group col-3">
        <label for="workload"><strong>{{ act.text?.workload }}</strong></label>
        <input type="text" name="workload" [(ngModel)]="act.doc.workload" class="form-control" mask="00"
          autocomplete="off" required>
      </div>
    </div>

  </form>

</div>


<div class="modal-footer">

  <div class="col">
    <small>{{ act.text?.requiredField }}</small>
  </div>

  <div class="col-9">
    <button type="submit" (click)="onSubmit(f.form.valid)"
      class="btn btn-primary">{{ act.text?.ok }}</button>
    <button type="button" (click)="act.onCancel()" class="btn btn-secondary">{{ act.text?.cancel }}</button>
    <button *ngIf="act.doc._uid" type="button" (click)="act.auth.resetPassword(act.doc.email)"
      class="btn btn-secondary">{{ act.text?.resetPassword }}</button>

  </div>

</div>