<div class="modal-header">
  <h5 class="modal-title">{{ act.text?.old }}</h5>
  <div *ngIf="act.doc.uid">
    <i class="p-1 ml-2 bg-warning text-dark rounded font-weight-bold">{{ arr.status[act.doc.status].text }}</i>
  </div>
  <button type="button" class="close" aria-label="Close" (click)="act.onCancel()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">

  <form (ngSubmit)="onSubmit(f.form.valid || act.isOk)" #f="ngForm" class="was-validated">
    <div class="form-row">
      <div class="form-group col-12">

        <div class="form-row">
          <div class="col align-self-center">
            <label for="person"><strong>{{ act.text?.name }}</strong></label>
          </div>
          <div class="col-9">
            <select *ngIf="act.validPerson else personName" name="people" id="people"
              (change)="act.setPersonByIndex2(act.sortPeople[$event.target.value]);
                act.checkNis(act.doc.person, 0);
                act.checkStatusServiceType2(act.doc, act.oldServiceList, 1)" class="custom-select" required>
              <option *ngFor="let person of act.sortPeople; let i = index" [value]="i"
                [selected]="act.doc.person.uid == person.uid">
                {{ person.name }}
              </option>
            </select>
            <ng-template #personName>
              <input type="text" name="name" [ngModel]="act.doc.person.name" class="form-control"
                placeholder="{{ act.text?.typeSomething }}" autocomplete="off">
            </ng-template>
            <div *ngIf="act.feedback" class="text-danger text-danger-sv">{{ act.feedback }}</div>
          </div>
        </div>

      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-12">

        <div class="form-row">
          <div class="col align-self-center">
            <label for="nis"><strong>{{ act.text?.nis }}</strong></label>
          </div>
          <div class="col">
            <input type="text" name="nis" [ngModel]="act.doc.person.nis" class="form-control" mask="000.00000.00-0"
              disabled autocomplete="off">
          </div>
        </div>

      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-12">

        <div class="form-row">
          <div class="col align-self-center">
            <label for="type"><strong>{{ act.text?.service }}</strong></label>
          </div>
          <div class="col-9">
            <select name="type" id="type" [(ngModel)]="act.doc.type"
              (change)="act.doc.type = act.parseInt($event.target.value); act.checkNis(act.doc.person, 0);
              act.checkStatusServiceType2(act.doc, act.oldServiceList, 1)"
              class="custom-select" required>
              <option *ngFor="let type of arr.serviceType" [value]="type.index">
                {{ type.text }}
              </option>
            </select>
          </div>
        </div>

      </div>
    </div>

  </form>

</div>

<app-footer [label]="act.text?.setOff" [hasSwitch]="act.doc.uid && act.doc.status == 1" 
  [statusValue]="4" [valid]="f.form.valid && act.valid[0] && act.valid[1]" 
  [action]="str.editServiceOld"></app-footer>