/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Raleway:300,500,700');
@import url('https://use.fontawesome.com/releases/v5.2.0/css/all.css');
@import url('https://fonts.googleapis.com/css?family=Oswald:400,700&display=swap');

* {
    word-wrap: break-word;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

a {
    cursor: pointer;
}

[list]::-webkit-calendar-picker-indicator {
    display: none;
}

.custom-file-label::after {
    content: "Procurar" !important;
}


/************ Forms Background none ***********/

.form-control.is-valid,
.was-validated .form-control:valid,
.form-control.is-invalid,
.was-validated .form-control:invalid {
    background-image: none !important;
}

.custom-select {
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right .75rem center/8px 10px !important;
}


/************ Scrollbar ***********/

*::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

*::-webkit-scrollbar-thumb {
    border-radius: 100px;
    -webkit-box-shadow: inset 0 0 3px black;
    background-color: white;
}

*::-webkit-scrollbar-track {
    border-radius: 100px;
    background-color: rgba(0, 0, 0, 0.1);
}


/************ Switch Button Labels **************/

.small {
    font-size: small;
}

.smaller {
    font-size: smaller;
}

.x-small {
    font-size: x-small;
}

.xx-small {
    font-size: xx-small;
}


/************ Modal Dialog Confirm **************/

.modal-svs {
    box-shadow: 0 0 0 9999999px rgba(0, 0, 0, 0.9);
}


/************ CONTENT CARDS FAMILY DETAIL **************/

.user-sv,
.date-sv {
    cursor: pointer;
}

.user-sv {
    font-size: 0.95em;
}

.date-sv {
    font-size: small;
}

.detail-sv {
    font-size: smaller;
    font-style: italic;
    cursor: pointer;
}

.c-i {
    color: rgba(7, 71, 166, 0.5);
}


/************ INNER MODAL CONTENT **************/

.modal-footer .col,
.sv .col {
    padding: 0;
    text-align: left;
}

.modal-footer .col small,
.sv .col small {
    border: 0.5px solid red;
    border-radius: 5px;
    padding: 5px;
    font-size: x-small;
}

.switch {
    margin-left: 0;
    margin-top: 7px;
    width: 195px !important;
    text-align: left;
    position: absolute;
}

.modal-footer .col-9,
.sv .col-9 {
    padding: 0;
    text-align: right;
}

.modal-footer div>button,
.modal-footer div>input,
.sv div>button,
.sv div>input,
.form-group button {
    margin-left: 10px;
}

.form-group button:nth-child(1) {
    margin-left: 0px;
}

hr[id="requiredField"] {
    border: 1px solid red;
    width: 115px;
    padding: 0;
    margin: 0;
}

.offIn,
.strong {
    font-weight: bold;
    color: rgba(7, 71, 166, 1);
}

.offIn {
    color: red;
}

.text-danger-sv {
    margin-top: 7px;
    margin-right: 3px;
    font-size: small;
    font-weight: bold;
    font-style: italic;
    text-align: left;
}


/************************************************/


/************************************************/


/******** DASHBOARD and FAMILY DETAIL **********/

.btnMenu-sv {
    display: none;
}

input[id="toggle"] {
    display: none;
}

.navbar-sv {
    position: fixed;
    display: flex;
    flex-direction: column;
    left: 0;
    width: 304px;
    background: rgb(7, 71, 166);
    padding: 10px;
    user-select: none;
    height: 100vh;
    overflow: hidden;
}

.navbar-sv * {
    color: white;
}

.navbar-sv * a {
    text-decoration: none !important;
}

.navbar-sv * a:hover {
    color: white;
}

.name-logo {
    padding: 0px 10px 10px 10px;
    text-align: center;
}

.name-logo a {
    padding: 0px 10px 0px 10px;
    font-weight: 500;
    font-size: 2.8em;
    font-family: 'Raleway', sans-serif;
}

.navbtnL-sv {
    width: 55px;
    text-align: center;
}

.navbtnR-sv {
    margin-left: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    width: 225px;
}

.scroll{
    overflow-y: auto;
}

@keyframes spinner {
    to {transform: rotate(360deg);}
}

@keyframes spinner1 {
    to {transform: rotate(360deg);}
}

.spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: 100px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    border-top-color: #000000;
    animation: spinner .8s linear infinite;
}

.spinner1:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    border-top-color: #000000;
    animation: spinner .8s linear infinite;
}

.bottom-help,
.bottom-perfil {
    width: inherit;
    position: absolute;
    text-align: inherit;
}

.bottom-perfil {
    bottom: 10px;
}

.bottom-help {
    bottom: 70px;
}

.margin-button>* {
    margin-left: 10px;
}

.cursor-pointer {
    cursor: pointer;
}

.mt-10 {
    margin-top: 10px;
}

.lists {
    padding: 5px 0px;
}

.lists:hover {
    background-color: rgba(0, 0, 0, 0.03);
}


/*************** Nav-Left *****************/

.font-size1 {
    font-size: 1.3em;
}

.font-size2 {
    font-size: 2em;
}

.navbtnL-sv a span,
.navbtnL-sv-search a span,
.navbtnR-sv-search a span {
    border-radius: 9000px;
    padding: 8px;
}

.navbtnL-sv a span:hover,
.navbtnL-sv-search a span:hover,
.navbtnR-sv-search a span:hover {
    background: rgba(0, 0, 0, 0.3);
}


/*************** Nav-Right *****************/

.nav-link-sv a {
    width: inherit;
    padding: 10px 5px;
    font-weight: 300;
    font-family: 'Raleway', sans-serif;
    font-size: 0.9em;
    display: flex;
}

.nav-link-sv a:hover {
    background: rgba(0, 0, 0, 0.3);
}

.line {
    border: 1px solid rgba(7, 71, 166, 0.5);
}

.space {
    width: 35px;
    text-align: center;
}


/********* Show SubMenus *********/

.sub-sv {
    max-height: 0px;
    overflow: hidden;
    margin-left: -82px;
    width: 100%;
}

.show-sv:hover {
    background: transparent !important;
    box-shadow: inset 2px 0px 0px rgb(0, 0, 0, 0.2);
}

.show-sv:hover .sub-sv {
    max-height: 100px;
    margin-top: 30px;
}


/********************************************/


/*************** SearchBar *****************/

.search-sv {
    position: fixed;
    left: 0;
    width: 400px;
    height: 100%;
    padding: 85px 10px 10px 10px;
    background: white;
    z-index: 9999;
}

.search-sv a {
    text-decoration: none;
    color: rgb(7, 71, 166);
}

.search-sv-in {
    border: 0;
    outline: 0;
    border-bottom: 2px solid rgb(7, 71, 166);
    width: 90%;
}

.search-sv-btn {
    border: 0;
    outline: 0;
    cursor: pointer;
    color: rgb(7, 71, 166);
    background: none;
    font-size: 1.2em;
}

.search-sv-btn:hover {
    color: rgb(0, 0, 0);
}

.search-sv-result {
    margin-top: 30px;
}

.results-sv {
    width: 100%;
    padding: 3px;
    padding-left: 5px;
    cursor: pointer;
}

.results-sv:hover {
    background: rgba(7, 71, 166, 0.1);
}

.search-sv-result span {
    font-size: 0.8em;
    user-select: none;
}

.search-sv-result hr {
    margin-top: 0px;
}

.navbtnL-sv-search {
    width: 55px;
    text-align: center;
}

.navbtnR-sv-search {
    width: 320px;
}

.baixo {
    background: black;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    margin-top: 0;
    z-index: 5;
}

.cima {
    position: fixed;
    top: 50px;
    margin-top: 50px;
    z-index: 44;
    background: rgba(0, 0, 0, 0.3);
}

.navbarBack {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 3;
}

.search-close-sv {
    background: rgba(0, 0, 0, 0.8);
    width: inherit;
    height: inherit;
}


/********************************************************/


/********************************************************/


/*********************** Content ************************/

.content-sv {
    margin-left: 304px;
}

.content-sv h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}

.innercontent-sv {
    width: 90%;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 50px;
}


/*********************** CARDS ************************/

.num-columns-sv {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: minmax(10px, auto);
    grid-gap: 10px;
    width: 100%;
}

.num-columns-sv .card-sv {
    display: inline-block;
    box-shadow: 0 1px 0 #000;
    padding: 10px;
    height: auto;
}

.card-sv {
    padding: 5px !important;
}

.card-header-sv * h6 {
    color: #000;
    margin-bottom: 0;
}

.card-content-sv,
.card-header-sv {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: minmax(10px, auto);
    grid-gap: 10px;
    width: 100%;
}

.card-bt-sv {
    text-align: end;
}

.card-bt-sv button:nth-child(1) {
    margin-right: 10px;
}

.noMarginR {
    margin-right: 0px !important;
}

.card-sv-box{
    box-shadow: none !important;
}
.btn-sv{
    width: 100%;
}

/***** COLUMNS ******/

.col-sv {
    grid-column: span 1;
}

.col-1-sv {
    grid-column: span 2;
}

.col-2-sv {
    grid-column: span 3;
}

.col-3-sv {
    grid-column: span 4;
}

.col-6-sv {
    grid-column: span 6;
}

.col-12-sv {
    grid-column: span 13;
}

.col-bt-sv {
    grid-column: span 2;
}

/***** ROWS ******/

.row-sv {
    grid-row: span 1;
}

.row-2-sv {
    grid-row: span 3;
}

.row-3-sv {
    grid-row: span 4;
}


/********************************************************/


/********************************************************/


/*********************** MOBILE ************************/

@media (max-width: 576px) {
    .btnMenu-sv {
        display: block;
        width: 80px;
        height: fit-content;
        text-align: center;
        margin-top: -60px;
        margin-bottom: 30px;
        align-self: flex-end;
    }
    .btnMenu-sv label span {
        border-radius: 100px;
        padding: 8px 10px;
    }
    .btnMenu-sv label span:hover {
        background: rgba(0, 0, 0, 0.3);
    }
    .navbarBack {
        top: 0px;
    }
    .search-sv {
        display: none;
    }
    .navbar-sv {
        z-index: 2;
        position: fixed;
        top: 0;
        width: 100%;
        height: 90px;
        padding-bottom: 20px;
    }
    input[id="toggle"]:checked .navbar-sv {
        height: 400px !important;
    }
    .navbtnL-sv {
        display: none;
    }
    .navbtnR-sv {
        width: 100%;
    }
    .bottom-help,
    .bottom-perfil {
        position: relative;
    }
    .bottom-perfil {
        top: 20px;
    }
    .bottom-help {
        top: 10px;
    }
    .content-sv {
        margin-left: 0px;
        margin-top: 90px;
    }
    .col-6-sv {
        grid-column: span 12;
    }
    .col-bt-sv {
        grid-column: span 4;
    }
}


/********************************************************/


/********************************************************/


/*********************** TABLET ************************/

@media (max-width: 768px) {
    .search-sv {
        display: none;
    }
    .col-6-sv {
        grid-column: span 12;
    }
    .col-bt-sv {
        grid-column: span 3;
    }
    .btn {
        margin-bottom: 10px;
    }
    .user-image{
        text-align: center !important;
    }
}


/********************************************************/


/********************************************************/


/******************** Larger Screen *********************/


@media (min-width: 1200px){
    .col-bt-sv {
        grid-column: span 1;
    }
}


/********************************************************/


/********************************************************/


/******************** PRINT SCREEN *********************/

.bPrint{    
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px; 
}

@media print{

    .content-sv, .container_sv{ display: none;}
    body{ margin: 0;}
    .bPrint{ display: none;}

}