<div *ngIf="act.pages.length">
    <div *ngFor="let page of act.pages">
        <table>
          <div *ngFor="let p of page">
            <tr *ngIf="p.dates">
              <th>{{ act.text?.name }}</th>
              <th *ngFor="let d of p.dates">{{ d | date:'dd-MM-yy' }}</th>
            </tr>
            <tr>
              <td>{{ p.name }}</td>
              <div *ngIf="p.frequency.length">     
                <td *ngFor="let f of p.frequency">{{ f }}</td>
              </div>
            </tr> 
          </div>
        </table>        
    </div>
  </div>