<div class="container-fluid">
    <form #f="ngForm" class="was-validated">

        <div class="center-sv">
           
            <div class="form-row">
                <div class="form-group col-12 text-center">
                    <img class="md-4" src="assets/imgs/logo_medium.png" alt="SIMVIS" width="276" height="114">
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-12">
                    <label for="email">{{  str?.user }}</label>
                    <input type="text" id="email" name="email" [(ngModel)]="act.doc.email" class="form-control" 
                        autocomplete="off" required autofocus>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-12">
                    <label for="pass">{{  str?.pass }}</label>
                    <input type="password" id="pass" name="pass" [(ngModel)]="act.doc.password" class="form-control margin_sv" required>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-12 mb-0">
                    <label>
                        <input type="checkbox" name="remember" value="remember-me"> {{  str?.rememberMe }}
                    </label>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-12 text-right">
                    <button class="btn btn-primary" type="submit" (click)="act.signIn()" [disabled]="!f.form.valid">
                        {{ str?.login }}
                    </button>
                </div>
            </div>

            <div *ngIf="act.feedback" class="text-danger text-danger-sv">{{ act.feedback }}</div>

            <div class="form-row">
                <div class="form-group col-12 text-center">
                    <span class="mt-5 mb-3 text-muted">&copy; 2018</span>
                </div>
            </div>

        </div>

    </form>
</div>