.container-fluid{
 height: 100vh;
}
.center-sv{
 width: 300px;
 height: 450px;
 position: absolute;
 left: 50%;
 top: 50%; 
 margin-top: -225px;
 margin-left: -150px;
}
.btn-gsi{
 outline: none;
 cursor: pointer;
 border: 0px;
 height: 50px;
 width: 65%;
 background: url(../../assets/imgs/btn_google_signin_light_normal.png) no-repeat center center ;
}
.btn-gsi:focus{
 background: url(../../assets/imgs/btn_google_signin_light_focus.png) no-repeat center center;
}
.btn-gsi:hover{
 background: url(../../assets/imgs/btn_google_signin_light_pressed.png) no-repeat center center;
}