<div class="content">

  <!-- Set "A5", "A4" or "A3" for class name -->
  <!-- Set also "landscape" if you need -->
  <div class="A4">

    <!-- Each sheet element should have the class "sheet" -->
    <!-- "padding-**mm" is optional: you can set 10, 15, 20 or 25 -->
    <section class="sheet padding-10mm">

      <!-- Write HTML just like a web page -->

      <!--------------------------- HEADER ---------------------------------->
      <div class="header-sv">
        <div class="row-sv mb-sv-none">
          <div class="col-sv">
            <span class="name bold">RELATÓRIO</span> <br>
            <span class="name bold">Ficha familiar</span> <br>
            <span class="print-date">Emitida em: 05/11/2019 22:04</span>
          </div>
          <div class="col-sv text-right-sv">
            <img src="" width="100" height="100">
            <img class="ml-sv-2" src="" width="100" height="100">
          </div>
        </div>
      </div>

      <!--------------------------- CONTENT ---------------------------------->
      <div class="content-sheet">

        <!------------- Dados da Familia ------------->

        <div class="row-sv mb-sv-none">
          <div class="col-sv">
            <div class="title-sv">
              <span class="bold">Dados da família</span>
            </div>
          </div>
        </div>

        <div class="row-sv mb-sv-none">

          <div class="col-sv">
            <strong>Responsável:</strong> GIMAILTON CARLOS SOUSA DO NASCIMENTO FILHO <br>
            <strong>Data de nascimento:</strong> 20/15/1980 <br>
            <strong>CPF:</strong> 080.792.755-48 <br>
            <strong>Celular:</strong> (75) 9 9854-5487 <br>
            <strong>Endereço:</strong> AVENIDA JACOBINA, SN, AGUA NOVA
          </div>

          <div class="col-sv">
            <strong>Apelido:</strong> BIGODE <br>
            <strong>Sexo:</strong> FEMININO <br>
            <strong>NIS:</strong> 162.85336.89-0 <br>
            <strong>Referencia:</strong> EM FRENTE A PISTA
          </div>

        </div>

        <div class="row-sv mb-sv-none">
          <div class="col-sv">

            <strong>Dependentes:</strong>

            <table class="table table-sm">
              <tbody>

                <tr>
                  <td>Nome</td>
                  <td class="birth">Nascimento</td>
                  <td class="age">Idade</td>
                  <td class="kinship">Parentesco</td>
                </tr>

                <tr>
                  <td>&nbsp;</td>
                  <td>31/12/2019</td>
                  <td>99 ano(s)</td>
                  <td class="kinship">&nbsp;</td>
                </tr>

              </tbody>
            </table>

          </div>
        </div>

        <!------------- Observações ------------->

        <div class="row-sv mb-sv-none">
          <div class="col-sv">
            <div class="title-sv">
              <span class="bold">Observações</span>
            </div>
          </div>
        </div>

        <div class="row-sv mb-sv-none">
          <div class="col-sv">

            <table class="table table-sm">
              <tbody>

                <tr>
                  <td class="sector">Sub-Setor</td>
                  <td class="coach">Técnico</td>
                  <td class="date">Data</td>
                  <td class="description">Descrição</td>
                </tr>

                <tr>
                  <td>CONSELHO TUTELAR</td>
                  <td>GELSA BATISTA DE MELO</td>
                  <td>&nbsp;</td>
                  <td class="description">&nbsp;</td>
                </tr>

              </tbody>
            </table>

          </div>
        </div>

        <!------------- Grupos ------------->

        <div class="row-sv mb-sv-none">
          <div class="col-sv">
            <div class="title-sv">
              <span class="bold">Grupos</span>
            </div>
          </div>
        </div>

        <div class="row-sv mb-sv-none">
          <div class="col-sv">

            <table class="table table-sm">
              <tbody>

                <tr>
                  <td class="sector">Sub-Setor</td>
                  <td class="group">Grupo</td>
                  <td class="date">Inclusão</td>
                  <td class="date">Reunião</td>
                  <td class="status">Status</td>
                </tr>

                <tr>
                  <td>CONSELHO TUTELAR</td>
                  <td>GELSA BATISTA DE MELO</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td class="status">DESLIGADA EM 17/03/2016</td>
                </tr>

              </tbody>
            </table>

          </div>
        </div>

        <!------------- Encaminhamentos ------------->

        <div class="row-sv mb-sv-none">
          <div class="col-sv">
            <div class="title-sv">
              <span class="bold">Encaminhamentos</span>
            </div>
          </div>
        </div>

        <div class="row-sv mb-sv-none">
          <div class="col-sv">

            <table class="table table-sm">
              <tbody>

                <tr>
                  <td>Origem</td>
                  <td class="destiny">Destino</td>
                  <td class="dateE">Data encaminhamento</td>
                  <td class="statusE">Status</td>
                </tr>

                <tr>
                  <td>CONSELHO TUTELAR</td>
                  <td>CAD UNICO</td>
                  <td>&nbsp;</td>
                  <td class="statusE">Em analise</td>
                </tr>

              </tbody>
            </table>

          </div>
        </div>

        <!------------- Benefícios Eventuais ------------->

        <div class="row-sv mb-sv-none">
          <div class="col-sv">
            <div class="title-sv">
              <span class="bold"> Benefícios Eventuais</span>
            </div>
          </div>
        </div>

        <div class="row-sv mb-sv-none">
          <div class="col-sv">

            <table class="table table-sm">
              <tbody>

                <tr>
                  <td class="sector">Sub-Setor</td>
                  <td class="coach">Técnico</td>
                  <td class="date">Data</td>
                  <td>Tipo</td>
                  <td class="description">Descrição</td>
                </tr>

                <tr>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td class="description">&nbsp;</td>
                </tr>

              </tbody>
            </table>

          </div>
        </div>

        <!------------- Entrevistas Cadastro Único ------------->

        <div class="row-sv mb-sv-none">
          <div class="col-sv">
            <div class="title-sv">
              <span class="bold"> Entrevistas Cadastro Único</span>
            </div>
          </div>
        </div>

        <div class="row-sv mb-sv-none">
          <div class="col-sv">

            <table class="table table-sm">
              <tbody>

                <tr>
                  <td>Código Familiar</td>
                  <td class="date">Data</td>
                  <td class="typeeEcu">Tipo</td>
                  <td class="file">Arquivo</td>
                  <td class="folder">Pasta</td>
                </tr>

                <tr>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td class="folder">&nbsp;</td>
                </tr>

              </tbody>
            </table>

          </div>
        </div>

        <!------------- Leite Fome Zero ------------->

        <div class="row-sv mb-sv-none">
          <div class="col-sv">
            <div class="title-sv">
              <span class="bold"> Leite Fome Zero</span>
            </div>
          </div>
        </div>

        <div class="row-sv mb-sv-none">
          <div class="col-sv">

            <table class="table table-sm">
              <tbody>

                <tr>
                  <td>Beneficiário</td>
                  <td class="birth">Nascimento</td>
                  <td class="kinship">Parentesco</td>
                </tr>

                <tr>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td class="kinship">&nbsp;</td>
                </tr>

              </tbody>
            </table>

          </div>
        </div>

        <!------------- Notificações ------------->

        <div class="row-sv mb-sv-none">
          <div class="col-sv">
            <div class="title-sv">
              <span class="bold"> Notificações</span>
            </div>
          </div>
        </div>

        <div class="row-sv mb-sv-none">
          <div class="col-sv">

            <table class="table table-sm">
              <tbody>

                <tr>
                  <td class="book">Nº caso\livro</td>
                  <td class="coach">Técnico</td>
                  <td class="attendance">Atendimento</td>
                </tr>

                <tr>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td class="attendance">&nbsp;</td>
                </tr>

              </tbody>
            </table>

          </div>
        </div>

        <!-------------  Acompanhamento Familiar ------------->

        <div class="row-sv mb-sv-none">
          <div class="col-sv">
            <div class="title-sv">
              <span class="bold"> Acompanhamento Familiar</span>
            </div>
          </div>
        </div>

        <div class="row-sv mb-sv-none">
          <div class="col-sv">

            <table class="table table-sm">
              <tbody>

                <tr>
                  <td class="sector">Sub-Setor</td>
                  <td>Técnico</td>
                  <td class="date">Data</td>
                  <td class="status">Status</td>
                </tr>

                <tr>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td class="status">&nbsp;</td>
                </tr>

              </tbody>
            </table>

          </div>
        </div>

        <!-------------  Programa Criança Feliz ------------->

        <div class="row-sv mb-sv-none">
          <div class="col-sv">
            <div class="title-sv">
              <span class="bold"> Programa Criança Feliz</span>
            </div>
          </div>
        </div>

        <div class="row-sv mb-sv-none">
          <div class="col-sv">

            <table class="table table-sm">
              <tbody>

                <tr>
                  <td class="sector">Sub-Setor</td>
                  <td>Usuário</td>
                  <td class="date">Data</td>
                  <td class="public">Público</td>
                  <td class="status">Status</td>
                </tr>

                <tr>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td class="status">&nbsp;</td>
                </tr>

              </tbody>
            </table>

          </div>
        </div>

        <!-------------  Referenciamento ------------->

        <div class="row-sv mb-sv-none">
          <div class="col-sv">
            <div class="title-sv">
              <span class="bold"> Referenciamento</span>
            </div>
          </div>
        </div>

        <div class="row-sv mb-sv-none">
          <div class="col-sv">

            <table class="table table-sm">
              <tbody>

                <tr>
                  <td class="sector">Sub-Setor</td>
                  <td class="sector">Técnico</td>
                  <td class="date">Pnt SUAS</td>
                  <td class="date">Data</td>
                  <td class="statusR">Status</td>
                  <td class="infoC">Informações Complementares</td>
                </tr>

                <tr>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td class="infoC">&nbsp;</td>
                </tr>

              </tbody>
            </table>

          </div>
        </div>

        <!-------------  SCFV ------------->

        <div class="row-sv mb-sv-none">
          <div class="col-sv">
            <div class="title-sv">
              <span class="bold"> SCFV</span>
            </div>
          </div>
        </div>

        <div class="row-sv mb-sv-none">
          <div class="col-sv">

            <table class="table table-sm">
              <tbody>

                <tr>
                  <td class="user">Usuário</td>
                  <td class="birth">Nascimento</td>
                  <td class="nis">NIS</td>
                  <td class="kinshipS">Parentesco</td>
                  <td class="situation">Situação</td>
                  <td class="frequent">Frequentando?</td>
                </tr>

                <tr>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td class="frequent">&nbsp;</td>
                </tr>

              </tbody>
            </table>

          </div>
        </div>

        <!-------------  Descumprimento de condicionalidades ------------->

        <div class="row-sv mb-sv-none">
          <div class="col-sv">
            <div class="title-sv">
              <span class="bold"> Descumprimento de condicionalidades</span>
            </div>
          </div>
        </div>

        <div class="row-sv mb-sv-none">
          <div class="col-sv">

            <table class="table table-sm">
              <tbody>

                <tr>
                  <td class="type">Tipo</td>
                  <td class="user">Indivíduo</td>
                  <td class="birth">Nascimento</td>
                  <td class="kinshipS">Parentesco</td>
                  <td class="resource">Recurso</td>
                  <td class="frequent">Efeito suspenso?</td>
                </tr>

                <tr>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td class="frequent">&nbsp;</td>
                </tr>

              </tbody>
            </table>

          </div>
        </div>

        <!-------------  Visitas ------------->

        <div class="row-sv mb-sv-none">
          <div class="col-sv">
            <div class="title-sv">
              <span class="bold"> Visitas</span>
            </div>
          </div>
        </div>

        <div class="row-sv mb-sv-none">
          <div class="col-sv">

            <table class="table table-sm">
              <tbody>

                <tr>
                  <td class="sector">Sub-Setor</td>
                  <td class="date">Pont SUAS</td>
                  <td class="date">Encaminhamento</td>
                  <td>Busca ativa</td>
                  <td class="status">Status</td>
                </tr>

                <tr>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td class="status">&nbsp;</td>
                </tr>

              </tbody>
            </table>

          </div>
        </div>

      </div>

      <!--------------------------- FOOTER ---------------------------------->
      <div class="footer-sv">
        <div class="row-sv mb-sv-none">
          <div class="col-sv ft-1 col-2">Secretaria de <br> Assistência Social</div>

          <div class="col-sv">CAPIM GROSSO - BA <br> CNPJ: 13.230.982/0001-50</div>

          <div class="col-sv ft-3">Rua Luiz Gonzaga, SN, Nova Morada <br> CEP: 44695-000</div>

          <div class="col-sv mt-2">© SIMVIS 3.0</div>

          <div class="col-sv ft-5 mt-2">1/10</div>
        </div>
      </div>

    </section>

  </div>

</div>