<div class="modal-header">
  <h5 class="modal-title">{{ act.text?.pendency }}</h5>
  <div *ngIf="act.doc.uid">
    <i class="p-1 ml-2 bg-warning text-dark rounded font-weight-bold">{{ arr.status[act.doc.status].text }}</i>
  </div>
  <button type="button" class="close" aria-label="Close" (click)="act.onCancel()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">

  <form (ngSubmit)="onSubmit(f.form.valid)" #f="ngForm" class="was-validated">

    <div class="form-row">
      <div class="form-group col-12">
        <label for="detail"><strong>{{ act.text?.detail }}</strong></label>
        <textarea rows="3" cols="50" id="detail" name="detail" [(ngModel)]="act.doc.detail" class="form-control"
          placeholder="{{ act.text?.typeSomething }}" required></textarea>
      </div>
    </div>

  </form>

</div>

<app-footer [label]="act.text?.solved" [hasSwitch]="act.doc.uid && act.doc.status == 0" 
  [statusValue]="5" [valid]="f.form.valid"  
  [action]="str.editServicePendency"></app-footer>