.nav-link{
 color: black;
}
a[class*="active"]{
 color:  rgb(7,71,166) !important;
}
.startLetter{
 display: table-cell;
 width: 35px;
 height: 35px;
 text-align: center;
 vertical-align: middle;
 background: grey;
 border-radius: 100px;
 text-transform: uppercase;
 color: white;
}
.btn{
 margin-bottom: 0 !important;
}