<div class="container-sv">
  <form #f="ngForm" class="was-validated">

    <div class="row">
      <div class="col">
        <h5 class="align-self-center">{{ act.text?.users }}</h5>
      </div>
      <div class="col-md-auto text-right margin-button">
        <button type="button" class="btn btn-secondary"
          (click)="act.openModal(addUserModal, str.editUser, null)"><span class="fas fa-plus"></span></button>
        <button type="button" class="btn btn-secondary"
          (click)="act.openModal(meeting, str.editUserMeeting, null)">{{ act.text?.meeting }}</button>
      </div>
    </div>

    <hr class="mt-1">


    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="user" role="tabpanel" aria-labelledby="user">

        <div class="form-row">
          <div class="form-group col-12">

            <div class="form-row">
              <div class="col-6">
                <label><strong>{{ act.text?.search }}</strong></label>
                <input type="text" id="search" name="search" [(ngModel)]="act.query" class="form-control"
                  placeholder="{{ act.text?.inBlankForFullList }}" autocomplete="off">
              </div>

              <div class="col-6 align-self-end">
                <button type="button" (click)="act.searchUsers()" class="btn btn-primary"><span
                    class="fas fa-search"></span></button>
              </div>
            </div>

          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-12">

          </div>
        </div>

        <strong>{{ act.text?.results }}</strong>
        <hr>

        <div class="form-row">
          <div class="form-group col-12">

            <div *ngIf="act.users.length">
              <div *ngFor="let user of act.users" (click)="act.openModal(addUserModal, str.editUser, user)"
                class="form-row">
                <div class="col-0">
                  <div class="startLetter">
                    <strong>{{ user?.fullName | slice:0:1 | uppercase }}</strong>
                  </div>
                </div>
                <div class="col align-self-center">
                  {{ user?.fullName }} 
                  {{' - ' + arr.sectorType[user.subSector].text }}
                  {{' - ' + user?.proCode}}
                  {{' - ' + user?.workload}} {{' - ' + user?.phone }} {{' - ' + user?.email }}
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>

    </div>

  </form>


  <ng-template #addUserModal>
    <app-add-user (confirm)="act.onConfirm(str.editUser, false)"></app-add-user>
  </ng-template>

  <ng-template #meeting>
    <app-meeting (confirm)="act.onConfirm(str.editUserMeeting, false)"></app-meeting>
  </ng-template>
</div>