<div class="alert-infos">
  <div class="alert-content" *ngFor="let alert of act.alerts">
    <alert type="info" [dismissOnTimeout]="alert.timeout" [dismissible]="alert.dismissible" (onClosed)="act.onAlertClosed(alert)">{{ alert.msg }}</alert>
  </div>
</div>