<div class="modal-header">
  <h5 class="modal-title">{{ act.text?.group }}</h5>

  <button type="button" class="close" aria-label="Close" (click)="act.onCancel()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">

  <form #f="ngForm" class="was-validated">

    <div class="form-row">
      <div class="form-group col-12">

        <div class="form-row">
          <div class="col align-self-center">
            <label for="member"><strong>{{ act.text?.member }}</strong></label>
          </div>
          <div class="col-9">
            <div>
              <select name="person" id="person" (change)="act.setPersonByIndex2(act.people[$event.target.value]); 
                act.setMapGroup(act.doc, str.group);
                act.checkNis(act.doc.person, 0);
                act.checkStatusOnGroup(act.doc, 1)"
                 [disabled]="act._doc.status == 4" class="custom-select" required>
                <option *ngFor="let person of act.people; let i = index" [value]="i"
                  [selected]="act.doc.person.uid == person.uid">
                  {{ person.name }}
                </option>
              </select>
              <div *ngIf="act.feedback" class="text-danger text-danger-sv">{{ act.feedback }}</div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-12">

        <div class="form-row">
          <div class="col align-self-center">
            <label for="nis"><strong>{{ act.text?.nis }}</strong></label>
          </div>
          <div class="col">
            <input type="text" name="nis" [ngModel]="act.doc.person.nis" class="form-control" mask="000.00000.00-0"
            disabled>
          
          </div>
        </div>

      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-12">

        <div class="form-row">
          <div class="col align-self-center">
            <label for="group"><strong>{{ act.text?.group }}</strong></label>
          </div>
          <div class="col-9">
            <select name="group" id="group" (change)="act.setGroupByIndex(act.groups[$event.target.value]); 
              act.setMapGroup(act.doc, str.group);
              act.checkStatusOnGroup(act.doc, 1);" [disabled]="act._doc.status == 4" class="custom-select" required>
              <option *ngFor="let g of act.groups; let i = index" [value]="i" [selected]="act.doc.group.uid == g.uid">
                {{ g.name }}
              </option>
            </select>
          </div>
        </div>

      </div>
    </div>

  </form>

  <div *ngIf="act.doc.status != 1" class="offIn">
    {{ act.text?.offIn }} {{ act.doc.updateAt.toDate() | date: 'dd/MM/yyyy' }}
  </div>

</div>

<div class="modal-footer">

  <div class="col">
    <small>{{ act.text?.requiredField }}</small>
  </div>
  <div class="col-9">
    <div *ngIf="act.doc.uid && act.doc.status == 1" class="switch">
      <div class="custom-control custom-switch">
        <input type="checkbox" class="custom-control-input" id="customSwitch1"
          (change)="act.setStatus(4, $event.target.checked); act.setMapDisabled(act.doc, $event.target.checked)"
          [disabled]="act.doc.person.uid != act.$doc.person.uid || act.doc.group.uid != act.$doc.group.uid">
        <label class="custom-control-label" for="customSwitch1">{{ act.text?.setOff }}</label>
      </div>
    </div>


    <button *ngIf="act.doc.status != 4" type=" button" (click)="onSubmit(act.valid[0] && act.valid[1])"
      class="btn btn-primary">{{ act.text?.ok }}</button>
      
    <button type="button" (click)="act.onCancel()" class="btn btn-secondary">{{ act.text?.cancel }}</button>
  </div>

</div>

<ng-template #person>
  <input type="text" class="form-control" [ngModel]="act.doc.person.name" autocomplete="off">
</ng-template>