<div class="modal-header">
  <h5 class="modal-title">{{ act.text?.scfv }}</h5>
  <div *ngIf="act.doc.uid">
    <i class="p-1 ml-2 bg-warning text-dark rounded font-weight-bold">{{ arr.status[act.doc.status].text }}</i>
  </div>
  <button type="button" class="close" aria-label="Close" (click)="act.onCancel()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">

  <form #f="ngForm" class="was-validated">

    <div class="form-row">
      <div class="form-group col-12">

        <div class="form-row">
          <div class="col align-self-center">
            <label for="people"><strong>{{ act.text?.member }}</strong></label>
          </div>
          <div class="col-9">
            <select name="person" id="person" (change)="act.setPersonByIndex2(act.people[$event.target.value]); 
              act.setMapGroup(act.doc, str.core);
              act.checkNis(act.doc.person, 0);
              act.checkStatusOnCore(act.doc, 1)" [disabled]="act._doc.status == 4" class="custom-select" required>
              <option *ngFor="let person of act.people; let i = index" [value]="i"
                [selected]="act.doc.person.uid == person.uid">
                {{ person.name }}
              </option>
            </select>
            <div *ngIf="act.feedback" class="text-danger text-danger-sv">{{ act.feedback }}</div>
          </div>
        </div>


        <div class="form-row">
          <div class="form-group col-12">

            <div class="form-row">
              <div class="col align-self-center">
                <label for="nis"><strong>{{ act.text?.nis }}</strong></label>
              </div>
              <div class="col">
                <input type="text" name="nis" [ngModel]="act.doc.person.nis" class="form-control" mask="000.00000.00-0"
                  disabled autocomplete="off">
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-12">

        <div class="form-row">
          <div class="col align-self-center">
            <label for="shift"><strong>{{ act.text?.shift }}</strong></label>
          </div>
          <div class="col">
            <select name="shift" id="shift" [ngModel]="act.doc.shift" (change)="act.doc.shift = $event.target.value"
              class="custom-select" required>
              <option *ngFor="let shift of arr.shiftType" [value]="shift.index">
                {{ shift.text }}
              </option>
            </select>
          </div>
        </div>

      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-12">

        <div class="form-row">
          <div class="col align-self-center">
            <label for="situation"><strong>{{ act.text?.situation }}</strong></label>
          </div>
          <div class="col-9">
            <select name="situation" id="situation" [ngModel]="act.doc.situation"
              (change)="act.doc.situation = $event.target.value" class="custom-select" required>
              <option *ngFor="let situation of arr.situationType" [value]="situation.index">
                {{ situation.text }}
              </option>
            </select>
          </div>
        </div>

      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-12">
        <label for="accessForm"><strong>{{ act.text?.access }}</strong></label>
        <select name="accessForm" id="accessForm" [ngModel]="act.doc.accessForm"
          (change)="act.doc.accessForm = $event.target.value" class="custom-select" required>
          <option *ngFor="let accessForm of arr.accessForm" [value]="accessForm.index">
            {{ accessForm.text }}
          </option>
        </select>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-12">
        <label for="core"><strong>{{ act.text?.core }}</strong></label>
        <select name="core" id="core" (change)="act.setCoreByIndex(act.cores[$event.target.value]); 
          act.setMapGroup(act.doc, str.core);
          act.checkStatusOnCore(act.doc, 1)" [disabled]="act._doc.status == 4" class="custom-select" required>
          <option *ngFor="let core of act.cores; let i = index" [value]="i" [selected]="act.doc.core.uid == core.uid">
            {{ core.name }}
          </option>
        </select>
      </div>
    </div>

  </form>

</div>


<div class="modal-footer">
  <div class="col">
    <small>{{ act.text?.requiredField }}</small>
  </div>

  <div class="col-9">
    <div *ngIf="act.doc.uid && act.doc.status == 1" class="switch">
      <div class="custom-control custom-switch">
        <input type="checkbox" class="custom-control-input" id="customSwitch1"
          (change)="act.setStatus(4, $event.target.checked); act.setMapDisabled(act.doc, $event.target.checked)" 
           [disabled]="act.doc.person.uid != act.$doc.person.uid || act.doc.core.uid != act.$doc.core.uid">
        <label class="custom-control-label" for="customSwitch1">{{ act.text?.setOff }}</label>
      </div>
    </div>


    <button *ngIf="act.doc.status != 4"  type=" button" 
    (click)="onSubmit(f.form.valid && act.valid[0] && act.valid[1] 
    || act.doc.uid && act.$doc.person.uid == act.doc.person.uid && act.$doc.core.uid == act.doc.core.uid)"
      class="btn btn-primary">{{ act.text?.ok }}</button>

    <button type="button" (click)="act.onCancel()" class="btn btn-secondary">{{ act.text?.cancel }}</button>
  </div>


</div>