<div class="modal-header">
  <h5 class="modal-title">{{ act.text?.acessuas }}</h5>
  <div *ngIf="act.doc.uid">
    <i class="p-1 ml-2 bg-warning text-dark rounded font-weight-bold">{{ arr.status[act.doc.status].text }}</i>
  </div>
  <button type="button" class="close" aria-label="Close" (click)="act.onCancel()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">

  <form (ngSubmit)="onSubmit(f.form.valid|| act.isOk)" #f="ngForm" class="was-validated">

    <div class="form-row">
      <div class="form-group col-12">

        <div class="form-row">
          <div class="col align-self-center">
            <label for="person"><strong>{{ act.text?.member }}</strong></label>
          </div>
          <div class="col-9">
            <select name="person" id="person" 
            (change)="act.setPersonByIndex2(act.people[$event.target.value])"
              class="custom-select" required>
              <option *ngFor="let person of act.people; let i = index" [value]="i"
                [selected]="act.doc.person.uid == person.uid">
                {{ person.name }}
              </option>
            </select>

            <div *ngIf="act.feedback" class="text-danger text-danger-sv">{{ act.feedback }}</div>
          </div>
        </div>

      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-12">

        <div class="form-row">
          <div class="col align-self-center">
            <label for="income"><strong>{{ act.text?.income }}</strong></label>
          </div>
          <div class="col-7">
            <select name="income" id="income" [ngModel]="act.doc.income" 
            (change)="act.doc.income = act.parseInt($event.target.value)" class="custom-select" required>
              <option *ngFor="let income of arr.incomeType" [value]="income.index">
                {{ income.text }}
              </option>
            </select>
          </div>
        </div>

      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-12">

        <div class="form-row">
          <div class="col align-self-center">
            <label for="schooling"><strong>{{ act.text?.schooling }}</strong></label>
          </div>
          <div class="col-8">
            <select name="schooling" id="schooling" [ngModel]="act.doc.schooling"
            (change)="act.doc.schooling = act.parseInt($event.target.value)" class="custom-select" required>
              <option *ngFor="let schooling of arr.schoolingType" [value]="schooling.index">
                {{ schooling.text }}
              </option>
            </select>
          </div>
        </div>

      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-6">
        <label for="local"><strong>{{ act.text?.localAc }}</strong></label>
        <select name="local" id="local" [ngModel]="act.doc.local" 
        (change)="act.doc.local = act.parseInt($event.target.value)" class="custom-select" required>
          <option *ngFor="let local of arr.locationType" [value]="local.index">
            {{ local.text }}
          </option>
        </select>
      </div>

      <div class="form-group col-6">
        <label for="shift"><strong>{{ act.text?.shift }}</strong></label>
        <select name="shift" id="shift" [ngModel]="act.doc.shift" 
        (change)="act.doc.shift = act.parseInt($event.target.value)" class="custom-select" required>
          <option *ngFor="let shift of arr.shiftType" [value]="shift.index">
            {{ shift.text }}
          </option>
        </select>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-12">

        <div class="form-row">
          <div class="col align-self-center">
            <label for="situation"><strong>{{ act.text?.situation }}</strong></label>
          </div>
          <div class="col-9">
            <select name="situation" id="situation" [ngModel]="act.doc.situation" 
            (change)="act.doc.situation = act.parseInt($event.target.value)" class="custom-select" required>
              <option *ngFor="let situation of arr.situationType" [value]="situation.index">
                {{ situation.text }}
              </option>
            </select>
          </div>
        </div>

      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-12">
        <label for="access"><strong>{{ act.text?.access }}</strong></label>
        <select name="access" id="access" [ngModel]="act.doc.accessForm" 
        (change)="act.doc.accessForm = act.parseInt($event.target.value)" class="custom-select" required>
          <option *ngFor="let access of arr.accessType" [value]="access.index">
            {{ access.text }}
          </option>
        </select>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-12">
        <label for="course"><strong>{{ act.text?.course }}</strong></label>
        <input name="course" id="course" [(ngModel)]="act.doc.course"
        class="form-control" type="text"
          placeholder="{{ act.text?.typeSomething }}" autocomplete="off" required>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-12">
        <label for="info"><strong>{{ act.text?.infoC }}</strong></label>
        <div *ngFor="let info of arr.infoPlus">
          <div class="custom-control custom-checkbox">
            <input name="{{info.text}}" id="{{info.text}}" type="checkbox" class="custom-control-input"
              (change)="act.updateArr2(info, act.doc.extraInformations)"
              [checked]="act.indexOf2(info, act.doc.extraInformations)" [required]="act.isRequired">
            <label for="{{info.text}}" class="custom-control-label">{{info.text}}</label>
          </div>
        </div>
      </div>
    </div>

  </form>

  <div *ngIf="act.doc.status != 1" class="offIn">
    {{ act.text?.offIn }} {{ act.doc.updateAt.toDate() | date: 'dd/MM/yyyy' }}
  </div>

</div>


<app-footer [label]="act.text?.setOff" [hasSwitch]="act.doc.uid && act.doc.status == 1"
  [statusValue]="4" [valid]="f.form.valid" [action]="str.editServiceAcessuas"></app-footer>
