<div class="modal-header">
  <h5 class="modal-title">{{ act.text?.fpgb }}</h5>
  <div *ngIf="act.doc.uid">
    <i class="p-1 ml-2 bg-warning text-dark rounded font-weight-bold">{{ arr.status[act.doc.status].text }}</i>
  </div>
  <button type="button" class="close" aria-label="Close" (click)="act.onCancel()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">

  <form (ngSubmit)="onSubmit(f.form.valid)" #f="ngForm" class="was-validated">

    <div class="form-row">
      <div class="form-group col-12">

        <div class="form-row">
          <div class="col align-self-center">
            <label for="number"><strong>{{ act.text?.fpgbNumber }}</strong></label>
          </div>
          <div class="col-7">
            <input type="text" id="number" name="number" [(ngModel)]="act.doc.number" class="form-control"
              placeholder="{{ act.text?.typeSomething }}" mask="0*" autocomplete="off" required>
          </div>
        </div>

      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-12">

        <div class="form-row">
          <div class="col align-self-center">
            <label for="request"><strong>{{ act.text?.request }}</strong></label>
          </div>
          <div class="col-8">
            <select name="request" id="request" [ngModel]="act.doc.type"
              (change)="act.doc.type = act.parseInt($event.target.value)" class="custom-select" required>
              <option *ngFor="let type of arr.requestType" [value]="type.index">
                {{ type.text }}
              </option>
            </select>
          </div>
        </div>

      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-12">
        <label for="note"><strong>{{ act.text?.observation }}</strong></label>
        <textarea rows="3" cols="50" id="note" name="note" [(ngModel)]="act.doc.detail" class="form-control"
          placeholder="{{ act.text?.typeSomething }}" required></textarea>
      </div>
    </div>

    <div *ngIf="act.doc.uid && (act._doc.status == 2 || act.doc.status == 2)">
      <div class="form-row">
        <div class="form-group col-6">
          <label for="date-dispatch"><strong>{{ act.text?.dispatch }}</strong></label>
          <input type="text" id="date-dispatch" name="date-dispatch" class="form-control" placement="bottom"
            [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY', containerClass: 'theme-dark-blue' }" bsDatepicker
            [ngModel]="act.doc.dispatch | date:'dd-MM-yyyy'" (ngModelChange)="act._doc.dispatch=$event"
            autocomplete="off" required>
        </div>

        <div class="form-group col-6">
          <label for="date-return"><strong>{{ act.text?.return }}</strong></label>
          <input type="text" id="date-return" name="date-return" class="form-control" placement="bottom"
            [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY', containerClass: 'theme-dark-blue' }" bsDatepicker
            [ngModel]="act.doc.return | date:'dd-MM-yyyy'" (ngModelChange)="act._doc.return=$event" autocomplete="off"
            required>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-12">
          <label for="professional-simvis"><strong>{{ act.text?.professional }}</strong></label>
          <input list="brow" name="visitor-simvis" [ngModel]="act.doc.professional.info"
            (keyup)="act.findInDataset($event.target.value, act.users); act.setProfessional($event.target.value, 0)" 
            class="form-control" autocomplete="off"
            required>
          <datalist id="brow">
            <div *ngFor="let u of act.listUser; let i = index">
              <option *ngIf="i <= 6" [id]="u.fullName" [value]="u.fullName">{{ u.fullName }}</option>>
            </div>
          </datalist>
        </div>
      </div>

    </div>

  </form>

</div>

<app-footer [label]="act.text?.attended" [hasSwitch]="act.doc.uid && act.doc.status == 0" 
  [statusValue]="2" [valid]="f.form.valid && act.valid[0]"  
  [action]="str.editServiceFpgb"></app-footer>