<div class="container-sv">
  <form #f="ngForm" class="was-validated">

    <h5>{{ act.text?.sms }}</h5>
    <hr>

    <nav>
      <div class="nav nav-pills" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="nav-employees-tab" data-toggle="tab" href="#employees" role="tab"
          aria-controls="employees" aria-selected="true"><strong>{{ act.text?.employees }}</strong></a>
        <a class="nav-item nav-link" id="nav-family-tab" data-toggle="tab" href="#family" role="tab" aria-controls="family"
          aria-selected="false"><strong>{{ act.text?.family }}</strong></a>
        <a class="nav-item nav-link" id="nav-group-tab" data-toggle="tab" href="#group" role="tab" aria-controls="group"
          aria-selected="false"><strong>{{ act.text?.group }}</strong></a>
      </div>
    </nav>

    <!-- SMS EMPLOYEES -->

    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="employees" role="tabpanel" aria-labelledby="employees">

        <div class="form-row">
          <div class="form-group">

          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-6">
            <select name="type" id="type" class="custom-select" required>
              <option *ngFor="let attend of arr.attendanceType" [value]="attend">
                {{ attend }}
              </option>
            </select>
          </div>
        </div>

      </div>

      <!-- SMS FAMILY -->

      <div class="tab-pane fade" id="family" role="tabpanel" aria-labelledby="family">
        <div class="form-row">
          <div class="form-group">

          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-6">
            <select name="type" id="type" class="custom-select" required>
              <option *ngFor="let attend of arr.attendanceType" [value]="attend">
                {{ attend }}
              </option>
            </select>
          </div>
        </div>

      </div>

      <!-- SMS GROUP -->

      <div class="tab-pane fade" id="group" role="tabpanel" aria-labelledby="group">
        <div class="form-row">
          <div class="form-group">

          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-6">
            <select name="type" id="type" class="custom-select" required>
              <option *ngFor="let attend of arr.attendanceType" [value]="attend">
                {{ attend }}
              </option>
            </select>
          </div>
        </div>

      </div>

    </div>

    <div class="form-row">
      <div class="form-group col-6">
        <label for="note"><strong>{{ act.text?.message }}</strong></label>
        <textarea rows="6" cols="50" class="form-control" name="note" placeholder="{{ act.text?.typeSomething }}" required></textarea>
      </div>
    </div>
    
  </form>

  <div class="form-row sv">
    <div class="col col-4 align-self-center">
      <small>{{ act.text?.requiredField }}</small>
    </div>
    <div class="col-2 align-self-end text-right">
      <button type="button" [disabled]="!f.form.valid" class="btn btn-primary">{{ act.text?.send }}</button>
    </div>
  </div>

</div>