<!-- User logged in -->
<div *ngIf="auth.currentUser" class="container-sv">

  <form #formGroup="ngForm" class="was-validated">

    <div class="d-flex justify-content-between">
      <h5 class="align-self-center">{{ act.text?.userDataLoggedIn }}</h5>
      <button (click)="act.signOut()" class="btn btn-dark text-right">{{ act.text?.logout }}</button>
    </div>

    <hr class="mt-1">

    <div class="form-row">

      <div class="form-group col-12 col-md-12 col-lg-2 col-xl-1 user-image">
        <img class="rounded-lg"
          [src]="act.auth.user?.photoURL || 'https://api.adorable.io/avatars/109/fire.png'" width=70px
          height="70px">
      </div>

      <div class="form-group col-lg-7 col-xl-4">
        <label for="name">{{ act.text?.fullName }}</label>
        <input type="text" id="name" name="name" [ngModel]="act.auth.user?.fullName" class="form-control" name="name"
          disabled>
      </div>

      <div class="form-group col-lg-7 col-xl-3">
        <label for="email">{{ act.text?.email }}</label>
        <input type="email" id="email" name="email" [ngModel]="act.auth.user?.email" class="form-control" disabled>
      </div>

      <div class="form-group col-6 col-md-6 col-lg-5 col-xl-2">
        <label for="proCode">{{ act.text?.professionalRegistry }}</label>
        <input type="text" name="proCode" [ngModel]="act.auth.user?.proCode" class="form-control" disabled>
      </div>

      <div class="form-group col-6 col-md-6 col-lg-5 col-xl-3">
        <label for="function">{{ act.text?.function }}</label>
        <input type="text" name="function" [ngModel]="act.auth.user?.function" class="form-control" 
          autocomplete="off" disabled>
      </div>

      <div class="form-group col-6 col-md-6 col-lg-5 col-xl-2">
        <label for="sector">{{ act.text?.sector }}</label>
        <input *ngIf="act.auth.user.sector" type="text" name="sector" [ngModel]="arr.sectorType[act.auth.user?.sector].text" class="form-control" disabled>
      </div>

      <div class="form-group col-6 col-md-6 col-lg-5 col-xl-2">
        <label for="subSector">{{ act.text?.subSector }}</label>
        <input *ngIf="act.auth.user.subSector" type="text" name="subSector" [ngModel]="arr.sectorType[act.auth.user?.subSector].text" class="form-control" disabled>
      </div>

      <div class="form-group col-6 col-md-6 col-lg-3 col-xl-2">
        <label for="phone">{{ act.text?.phone }}</label>
        <input type="text" name="phone" [ngModel]="act.auth.user?.phone" class="form-control" mask="(00) 0000-00009" disabled>
      </div>

    </div>

  </form>

  <button (click)="act.openModal(password, str.changePassword, null)" class="btn btn-dark text-right">{{ act.text?.changePassword }}</button>
</div>


<!-- User NOT logged in -->
<div *ngIf="!auth.currentUser" class="container-sv">
  <h3>Howdy, {{ auth.currentUser?.fullName }}</h3>
  <p>Login to get started...</p>
  <button (click)="act.routerToHome()">HOME</button>
</div>

<ng-template #password>
  <app-change-password (confirm)="act.updatePass(act.doc.password)"></app-change-password>
</ng-template>